////////////////////
// common
////////////////////
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
  letter-spacing: 0.05em;
}

img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

.section-wrapper {
  padding: 0;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1100px;
  padding: 0 15px;
}

.section-title {
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 30px;
}

.link-button {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 0;
  color: #fff;
  text-align: center;
  background-color: #000;
  display: block;
  width: 160px;
}

.no-scroll {
  overflow: hidden;
}

////////////////////
// header
////////////////////
.header-wrapper {
  align-items: center;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 20px 15px;
  position: fixed;
  transition: .3s;
  width: 100%;
  z-index: 1;
}

.header-title {
  font-size: 2.6rem;
  font-style: italic;
  font-weight: bold;
  z-index: 1;
}

.header-nav {
  background-color: #282F35;
  display: none;
  height: 100vh;
  left: 0;
  padding-top: 10vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.header-title-image-black path {
  // 黒くする
  fill: #333;
  transition: filter .3s;
}

.header-nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.header-nav-list-item {
  color: white;
  font-size: 2rem;
  font-weight: bold;

  &__image-wrapper {
    margin: 0 auto;
    height: 45px;
    width: 42px;
  }

  &__link:hover {
    opacity: .7;
    transition: .3s;
  }

  &:first-child+& {
    margin-top: 40px;
  }

  &:not(:first-child)+& {
    margin-top: 30px;
  }
}

.burger-button {
  align-items: center;
  display: flex;
  transition: all .3s;
  z-index: 3;

  &__bar-container {
    margin-right: 7px;
  }

  &__bar {
    background-color: #fff;
    border-radius: 1px;
    display: block;
    height: 2px;
    transition: .3s;
    width: 22px;

    &.bar-top {
      margin-bottom: 3px;
    }

    &.bar-middle {
      margin-bottom: 3px;
    }
    
  }

  &__text {
    font-size: 1rem;
    font-weight: 800;
    letter-spacing: 0.005em;
    line-height: 15px;
  }

  &.open {
    .burger-button__bar {
      transition: .3s;

      &.bar-top {
        transform: rotate(45deg) translate(4px, 4px);
      }

      &.bar-middle {
        opacity: 0;
      }

      &.bar-bottom {
        transform: rotate(-45deg) translate(3px, -3px);
      }
    }
  }
}

.burger-button-black {
  color: #333;

  &__bar {
    background-color: #333;
  }
}


////////////////////
// fv
////////////////////
.fv {
  height: 100vh;
  background: linear-gradient(to right, #fff 45%, #222 45%);
  margin-bottom: 120px;
}

.fv-image-title-wrapper {
  width: 75%;
  position: relative;
  background-image: url('../image/kv-img@2x.jpg');
  background-size: cover;
  background-position: center;
  height: 87%;
}

.fv-title-wrapper {
  position: absolute;
  top: 50%;
  right: 0;
  color: #fff;
  transform: translate(50%, -50%);
}

.fv-title-ja {
  font-size: 2rem;
  font-weight: bold;
}

.fv-title-en {
  font-size: 7.2rem;
  font-weight: 800;
  line-height: 1.19;
}

////////////////////
// about us
////////////////////
.section-wrapper.about-us {
  background: linear-gradient(to bottom, #fff 83%, #F0F0F0 83%);
}

.about-us-bg-image {
  background-image: url("../image/about-img@2x.jpg");
  background-size: cover;
  padding: 100px 50px;
}

.about-us-text-wrapper {
  background-color: #ffffff;
  padding: 50px 30px;
  width: 55%;
}

.about-us-text {
  line-height: 2;
  margin-bottom: 30px;
}

////////////////////
// works and culture
////////////////////
.section-wrapper.works-and-culture {
  background-color: #F0F0F0;
  padding-top: 80px;
  padding-bottom: 60px;
}

.content-list {
  display: flex;
  justify-content: space-between;
}

.content-list-item {
  width: 50%;

  &__image-wrapper {
    margin-bottom: 27px;
  }

  &__text {
    margin-bottom: 28px;
  }

  &+& {
    margin-left: 60px;
  }
}

////////////////////
// topics
////////////////////
.section-wrapper.topics {
  padding: 60px 0;
}

.topics-list {
  margin-bottom: 30px;
}

.topics-list-item {
  width: 63%;
  margin-left: auto;
  border-bottom: 1px solid #DDD;

  &__date {
    color: #CECECE;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1.5;
    margin-bottom: 9px;

  }

  &__topic {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 10px;
  }

  &+& {
    padding-top: 30px;
  }
}

.topics .link-button {
  margin-left: auto;
}

////////////////////
// contact
////////////////////
.section-wrapper.contact {
  background-color: #F2F2F2;
  padding-top: 60px;
  padding-bottom: 120px;
}

.contact>.content-wrapper {
  display: flex;
  justify-content: space-between;
}

.contact-text-wrapper {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.contact-text {
  line-height: 2;
  margin-bottom: 30px;
}

.contact-image-wrapper {
  width: 53%;
}

////////////////////
// footer
////////////////////
footer {
  background-color: #525252;
  text-align: center;
  padding: 18px 0;
  color: #fff;
  font-size: 1rem;
}

////////////////////
// @media screen(tablet)
////////////////////
@media screen and (max-width: 768px) {

  ////////////////////
  // common
  ////////////////////

  ////////////////////
  // header
  ////////////////////

  ////////////////////
  // fv
  ////////////////////
  .fv {
    background: linear-gradient(to right, #fff 27%, #222 27%);
    margin-bottom: 80px;
  }

  .fv-title-ja {
    font-size: 1.6rem;
  }

  .fv-title-en {
    font-size: 5.6rem;
    line-height: 1;
  }

  ////////////////////
  // about us
  ////////////////////

  .about-us-bg-image {
    background-image: url("../image/about-img@2x.jpg");
    background-size: cover;
    padding: 60px 90px;
  }

  .about-us-text-wrapper {
    padding: 40px 30px;
    width: 100%;
  }

  ////////////////////
  // works and culture
  ////////////////////
  .section-wrapper.works-and-culture {
    padding-top: 60px;
    padding-bottom: 40px;
  }

  .content-list {
    flex-direction: column;
  }

  .content-list-item {
    width: 67%;

    &+& {
      margin-left: 0px;
      margin-top: 80px;
    }
  }

  ////////////////////
  // topics
  ////////////////////
  .section-wrapper.topics {
    padding: 40px 0;
  }

  .topics-list-item {
    width: 100%;
  }

  .topics .link-button {
    margin-left: 0;
  }

  ////////////////////
  // contact
  ////////////////////
  .section-wrapper.contact {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .contact>.content-wrapper {
    flex-direction: column-reverse;
  }

  .contact-text-wrapper {
    width: 100%;
  }

  .contact-image-wrapper {
    width: 100%;
    margin-bottom: 30px;
  }

  ////////////////////
  // footer
  ////////////////////

}

////////////////////
// @media screen(sp)
////////////////////
@media screen and (max-width: 576px) {
  ////////////////////
  // common
  ////////////////////

  .section-title {
    font-size: 2.8rem;
  }

  ////////////////////
  // header
  ////////////////////

  ////////////////////
  // fv
  ////////////////////
  .fv-title-wrapper {
    right: 15%;
  }

  ////////////////////
  // about us
  ////////////////////
  .about-us-bg-image {
    padding: 50px 15px;
  }

  .about-us-text-wrapper {
    padding: 50px 30px;
  }

  .about-us-text {
    font-size: 1.4rem;
  }

  ////////////////////
  // works and culture
  ////////////////////
  .section-wrapper.works-and-culture {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .content-list-item {
    width: 100%;

    &+& {
      margin-left: 0px;
      margin-top: 40px;
    }
  }

  ////////////////////
  // topics
  ////////////////////
  .section-wrapper.topics {
    padding: 40px 0;
  }

  .topics-list-item {
    width: 100%;

    &__topic {
      font-size: 1.2rem;
    }

    &+& {
      padding-top: 20px;
    }

  }

  ////////////////////
  // contact
  ////////////////////
  .section-wrapper.contact {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  ////////////////////
  // footer
  ////////////////////

}