@use "variables"as *;
@use "../mixin/mixin";

////////////////////
// common
////////////////////
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  color: $color-text-black;
  font-family:
    "Times New Roman",
    "游明朝",
    "Yu Mincho",
    "游明朝体",
    YuMincho,
    "ヒラギノ明朝 Pro W3",
    "Hiragino Mincho Pro",
    "HiraMinProN-W3",
    "HGS明朝E",
    "ＭＳ Ｐ明朝",
    "MS PMincho",
    serif;

  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
}

img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 20px;
}

.section-title {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.34;
  text-align: center;

  @include mixin.media-query("lg") {
    font-size: 2.8rem;
  }

  @include mixin.media-query("md") {
    font-size: 2.4rem;
  }
}

.logo-icon-wrapper {
  margin-bottom: 13px;
  text-align: center;
}

.logo-icon {
  height: 40px;
  width: 40px;
}

.no-scroll {
  overflow: hidden;
}

.br-xl-show {
  display: none;

  @include mixin.media-query("xl") {
    display: block;
  }
}

.br-lg-show {
  display: none;

  @include mixin.media-query("lg") {
    display: block;
  }
}

.br-lg-hide {
  display: block;

  @include mixin.media-query("lg") {
    display: none;
  }
}

.br-sm-show {
  display: none;

  @include mixin.media-query("sm") {
    display: block;
  }
}

////////////////////
// reserve modal
////////////////////
.reserve-modal {
  visibility: hidden;
  display: none;
  opacity: 0;
  position: fixed;

  @include mixin.z-index(reserve-modal);

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.reserve-modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgb(30 30 30 / 80%);
}

.reserve-modal-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  max-width: 550px;
  height: 95%;
  max-height: 600px;
  padding: 25px 60px 90px;
  background-color: $color-bg-white;
  border: 1px solid $color-border;
  overflow-y: auto;
}

.close-reserve-modal {
  position: absolute;
  top: 20px;
  right: 22px;
  cursor: pointer;
  width: 18px;
  height: 18px;

  &__bar {
    background-color: $color-bg-black;
    height: 3px;
    left: 0;
    top: 7px;
    position: absolute;
    width: 100%;

    &.close-modal-bar-top {
      transform: rotate(45deg);
    }

    &.close-modal-bar-bottom {
      transform: rotate(-45deg);
    }
  }
}

.reserve-modal-show {
  /* モーダル表示用クラス */
  display: block;
  visibility: visible;
  opacity: 1;
}

.reserve-modal-title {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
  padding-bottom: 26.5px;
  margin-bottom: 32.5px;
  border-bottom: 1px solid $color-border-reserve-dialog;
}

.reserve-form-list {
  margin-bottom: 64px;

  &-item {
    display: flex;
    flex-direction: column;

    &__label {
      margin-bottom: 12px;
      font-weight: 500;
      color: $color-text-black;
    }

    &__input,
    &__plan-list {
      border: 1px solid $color-border-reserve-dialog;
      height: 32px;
      padding: 6px 10px 7px;
      font-size: 1.4rem;
      font-weight: 500;
    }

    &__plan-list {
      // ドロップダウンの下∇を表示するため(destylesで消されている)
      appearance: auto;
    }

    & + & {
      margin-top: 11px;
    }
  }
}

.form-submit-button-wrapper {
  text-align: center;
}

.form-submit-button {
  height: 42px;
  width: 198px;
  border: 1px solid $color-border;
  font-weight: 500;
}

////////////////////
// breadcrumb
////////////////////
.breadcrumb-list {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 10px;
  margin-bottom: 93px;

  @include mixin.media-query("md") {
    margin-bottom: 50px;
  }

  &-item {
    // 横に並ぶように
    display: inline;

    &:not(:last-of-type)::after {
      content: ">";
      padding: 0 5px;
      color: $color-text-black;
    }

    &__link {
      font-weight: 500;
    }
  }
}
