@use "variables"as *;
@use "../mixin/mixin";

////////////////////
// footer
////////////////////
.footer {
  text-align: center;
  background-color: $color-bg-black;

  & > .content-wrapper {
    max-width: none;
    padding: 61px 0 59px;

    @include mixin.media-query("md") {
      padding: 40px 0;
    }
  }

  & > .footer-bg {
    background-image: url("../image/bg3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.footer-nav-list {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 93px;

  @include mixin.media-query("md") {
    margin-bottom: 50px;
  }

  &-item {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: 16px;
    writing-mode: vertical-rl;

    & + & {
      margin-right: 34px;
    }
  }
}

.footer .section-title {
  margin-bottom: 65px;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 0.18em;

  @include mixin.media-query("md") {
    margin-bottom: 40px;
  }
}

.footer-access-info {
  font-weight: 500;

  @include mixin.media-query("sm") {
    font-size: 1.4rem;
  }

  &__address-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 18px;
  }

  &__post-code {
    margin-right: 16px;
  }

  &__address {
    letter-spacing: 0.18em;
  }

  &__tel-fax-wrapper {
    display: flex;
    justify-content: center;
  }

  &__tel {
    margin-right: 21px;
  }
}

.footer-copy-right {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 60px;
  color: $color-text-white;
}
