////////////////////
// header
////////////////////
.header {
  background-color: rgba(0, 0, 0, .5);
  display: none;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 100;

  &-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 20px;
    transition: .3s;
  }
}

.header-title-wrapper {
  margin-right: 120px;

  &__link {
    align-items: center;
    display: flex;
  }

  &__logo {
    margin-right: 16px;
  }
}

.header-nav-list {
  display: flex;

  &-item {
    color: #fff;
    font-weight: bold;
    text-shadow: 1px 1px 0 #000;

    & + & {
      margin-left: 33px;
    }
  }
}

.header-booking-link {
  align-items: center;
  background-color: #978f10;
  color: #fff;
  display: flex;
  font-weight: 800;
  height: 54px;
  justify-content: center;
  margin-left: auto;
  width: 170px;

  &::before {
    background-image: url('../image/calender.png');
    content: '';
    display: inline-block;
    height: 22px;
    margin-right: 10px;
    width: 22px;
  }
}

.burger-button {
  display: none;
  height: 25px;
  position: relative;
  transition: all .3s;
  width: 30px;
  z-index: 100;

  &__bar {
    background-color: #05a5fa;
    border-radius: 2.5px;
    height: 5px;
    left: 0;
    position: absolute;
    top: 0;
    transition: .3s;
    width: 100%;

    &.bar-middle {
      top: 10px;
    }

    &.bar-bottom {
      top: 20px;
    }
  }

  &.open {
    .burger-button__bar {
      &.bar-top {
        top: 10px;
        transform: rotate(45deg);
      }

      &.bar-middle {
        opacity: 0;
      }

      &.bar-bottom {
        top: 10px;
        transform: rotate(-45deg);
      }
    }
  }
}
