@use "variables"as *;
@use "../mixin/mixin";

////////////////////
// header
////////////////////
.header {
  background-color: none;
  height: 80px;
  position: fixed;
  width: 100%;

  @include mixin.z-index(header);

  @include mixin.media-query("md") {
    height: 60px;
  }

  &-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    padding: 0 20px;
    transition: 0.3s;

    @include mixin.media-query("sm") {
      padding: 0 10px;
    }
  }

  &-bg-color-white {
    background-color: $color-bg-white;
  }
}

.header-title-wrapper {
  margin-right: 120px;

  @include mixin.media-query("lg") {
    margin-right: 100px;
  }

  @include mixin.media-query("md") {
    margin-right: 40px;
  }

  @include mixin.media-query("sm") {
    margin-right: 20px;
  }

  &__link {
    align-items: center;
    display: flex;
  }

  &__logo {
    margin-right: 16px;

    &-filter {
      filter: invert(100%);
    }
  }
}

.header-nav {
  @include mixin.media-query("md") {
    background-color: $color-header-nav-bg-black;

    &-bg-color-white {
      background-color: $color-header-nav-bg-white;
    }

    display: none;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;

    @include mixin.z-index(header-nav);
  }
}

.header-nav-list {
  display: flex;

  @include mixin.media-query("md") {
    align-items: center;
    flex-direction: column;
    padding: 30px;
  }

  &-item {
    color: $color-text-white;
    text-shadow: 1px 1px 0 $color-text-black;

    &-color-black {
      color: $color-text-black;
      text-shadow: 1px 1px 0 $color-text-white;
    }

    font-weight: 800;

    & + & {
      margin-left: 33px;

      @include mixin.media-query("md") {
        margin-left: 0;
        margin-top: 15px;
      }
    }
  }
}

.header-reserve-button {
  align-items: center;
  background-color: $color-header-reserve-button;
  color: $color-text-white;
  display: flex;
  font-weight: 800;
  height: 54px;
  justify-content: center;
  margin-left: auto;
  width: 170px;

  @include mixin.media-query("lg") {
    height: 36px;
  }

  @include mixin.media-query("sm") {
    font-size: 1.4rem;
    font-weight: 500;
  }

  &::before {
    background-image: url("../image/calender.png");
    content: "";
    display: inline-block;
    height: 22px;
    margin-right: 10px;
    width: 22px;

    @include mixin.media-query("sm") {
      margin-right: 5px;
    }
  }
}

.burger-button {
  display: none;
  height: 36px;
  position: relative;
  transition: all 0.3s;
  width: 40px;

  @include mixin.z-index(burger-button);

  margin-left: 20px;

  @include mixin.media-query("md") {
    display: block;
  }

  &__bar {
    background-color: $color-burger-button-white;

    &-bg-color-black {
      background-color: $color-burger-button-black;
    }

    border-radius: 2.5px;
    height: 2px;
    left: 0;
    position: absolute;
    top: 0;
    transition: 0.3s;
    width: 100%;

    &.bar-middle {
      top: 17px;
    }

    &.bar-bottom {
      top: 34px;
    }
  }

  &.open & {
    &__bar {
      &.bar-top {
        top: 18px;
        transform: rotate(45deg);
      }

      &.bar-middle {
        opacity: 0;
      }

      &.bar-bottom {
        top: 18px;
        transform: rotate(-45deg);
      }
    }
  }
}
