@charset "UTF-8";
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
}

img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

.section-wrapper {
  padding-top: 57px;
  padding-bottom: 70px;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
}

.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}

.section-sub-title {
  color: #3bA6C9;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 60px;
  padding-top: 14px;
  text-align: center;
}

.contact-button, .submit-button {
  background: linear-gradient(to right, #FA41CC 0%, #6020B0 100%);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 37px;
  text-align: center;
  width: 155px;
}

.no-scroll {
  overflow: hidden;
}

.header {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 94px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1024px;
  transition: .3s;
  padding: 0 20px;
}

.header-title-wrapper__link {
  align-items: center;
  display: flex;
}

.header-title-wrapper__logo {
  margin-right: 16px;
  height: 47px;
  width: 47px;
}

.header-title-wrapper__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
}

.header-nav-list {
  display: flex;
}

.header-nav-list-item {
  font-weight: bold;
}

.header-nav-list-item + .header-nav-list-item {
  margin-left: 46px;
}

.burger-button {
  align-items: center;
  display: flex;
  transition: all .3s;
  z-index: 3;
}

.burger-button__bar-container {
  margin-right: 7px;
}

.burger-button__bar {
  background-color: #fff;
  border-radius: 1px;
  display: block;
  height: 2px;
  transition: .3s;
  width: 22px;
}

.burger-button__bar.bar-top {
  margin-bottom: 3px;
}

.burger-button__bar.bar-middle {
  margin-bottom: 3px;
}

.burger-button__text {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.005em;
  line-height: 15px;
}

.burger-button.open .burger-button__bar {
  transition: .3s;
}

.burger-button.open .burger-button__bar.bar-top {
  transform: rotate(45deg) translate(4px, 4px);
}

.burger-button.open .burger-button__bar.bar-middle {
  opacity: 0;
}

.burger-button.open .burger-button__bar.bar-bottom {
  transform: rotate(-45deg) translate(3px, -3px);
}

.fv-wrapper {
  background-image: url("../image/fv-bg.png");
  background-position: top -150px right -120px;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 10;
}

.fv-wrapper > .content-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
}

.fv-text-wrapper {
  width: 50%;
}

.fv-title {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.34375;
  margin-bottom: 53px;
}

.fv-sub-title {
  font-weight: bold;
  line-height: 1.3125;
  margin-bottom: 55px;
}

.fv-image-wrapper {
  width: 50%;
}

.section-feature {
  padding-top: 73px;
  padding-bottom: 155px;
}

.feature-list-item__title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.feature-list-item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-list-item__text-wrapper {
  width: 50%;
}

.feature-list-item__overview {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 48px;
}

.feature-list-item__description {
  font-weight: bold;
  line-height: 1.625;
}

.feature-list-item:nth-of-type(2n+1) > .feature-list-item__content {
  flex-direction: row-reverse;
}

.feature-list-item + .feature-list-item {
  margin-top: 88px;
}

.section-price {
  background-color: #EEFBFB;
  padding-top: 57px;
  padding-bottom: 69px;
}

.section-price .section-sub-title {
  margin-bottom: 71px;
}

.price-list {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin: 0 49px 38px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.price-list-item__term {
  width: 32%;
  padding: 37px 19px;
  font-weight: bold;
  border-right: 1px solid #E5E5E5;
}

.price-list-item__term:not(:last-of-type) {
  border-bottom: 1px solid #E5E5E5;
}

.price-list-item__description {
  width: 68%;
  padding: 37px 30.5px;
  font-weight: bold;
}

.price-list-item__description:not(:last-of-type) {
  border-bottom: 1px solid #E5E5E5;
}

.price-caution {
  text-align: center;
  font-weight: bold;
}

.section-faq {
  padding-top: 57px;
  padding-bottom: 86px;
}

.section-faq .section-sub-title {
  margin-bottom: 33px;
}

.faq-list {
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
  margin: 0 49px;
}

.faq-list-item__term {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 19px 0 20px;
  position: relative;
  border-bottom: 1px solid #E5E5E5;
}

.faq-list-item__term:first-of-type {
  border-top: 1px solid #E5E5E5;
}

.faq-list-item__term::before, .faq-list-item__term::after {
  content: '';
  display: block;
  background-color: #010327;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 2px;
  right: 25px;
}

.faq-list-item__term::after {
  transform: rotate(90deg);
  transition-duration: .3s;
}

.faq-list-item__term.open::before {
  opacity: 0;
}

.faq-list-item__term.open::after {
  transform: rotate(0);
}

.faq-list-item__term:hover {
  text-decoration: underline;
}

.faq-list-item__description {
  color: #444;
  background-color: #F2F2F2;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  padding: 0 37px;
  line-height: 0;
  height: 0;
  opacity: 0;
  transition-duration: .3s;
}

.faq-list-item__description.active {
  padding: 25px 37px;
  line-height: 1.85;
  height: auto;
  opacity: 1;
  border-bottom: 1px solid #E5E5E5;
}

.section-blog {
  background-color: #EEFBFB;
  padding-top: 57px;
  padding-bottom: 91px;
}

.section-blog > .content-wrapper {
  max-width: 1227px;
}

.section-blog .section-sub-title {
  margin-bottom: 55px;
}

.blog-list {
  display: flex;
}

.blog-list-item {
  width: calc(100%/3);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.blog-list-item__image-wrapper {
  margin-bottom: 16px;
}

.blog-list-item__text {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 18px;
  margin-bottom: 3px;
  flex: 1;
  line-height: 1.44;
}

.blog-list-item__time {
  font-weight: bold;
  text-align: right;
  margin-bottom: 11px;
  margin-right: 36px;
}

.blog-list-item + .blog-list-item {
  margin-left: 30px;
}

.section-work {
  padding-top: 57px;
  padding-bottom: 90px;
}

.section-work .section-sub-title {
  margin-bottom: 69px;
}

.works-list-item {
  border: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}

.works-list-item__image-wrapper {
  margin-bottom: 21px;
}

.works-list-item__summary {
  padding: 0 18px;
  margin-bottom: 35px;
  font-weight: bold;
}

.works-list-item__description {
  padding: 0 18px;
  margin-bottom: 42px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.35;
}

.section-contact {
  padding-top: 65px;
  padding-bottom: 70px;
  background-color: #05A5FA;
  background: linear-gradient(to right, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%);
}

.section-contact .section-sub-title {
  margin-bottom: 39px;
}

.section-contact .section-title,
.section-contact .section-sub-title {
  color: #fff;
}

.contact-help-you {
  color: #fff;
  text-align: center;
  margin-bottom: 48px;
  font-weight: bold;
}

.form-wrapper {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  margin: 0 57px;
  padding: 35px 63px;
}

.form-list {
  margin-bottom: 29px;
}

.form-list-item__label {
  display: block;
  margin-bottom: 40px;
  font-weight: bold;
}

.form-list-item__label::after {
  content: '必須';
  background-color: #0C449B;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 5px 16px;
  margin-left: 26px;
  border-radius: 10px;
}

.form-list-item__input {
  width: 63%;
  background-color: #EEFBFB;
  display: block;
  border-radius: 3px;
  padding: 3px;
  height: 43px;
}

.form-list-item__textarea {
  width: 100%;
  background-color: #EEFBFB;
  display: block;
  border-radius: 3px;
  padding: 3px;
  height: 180px;
}

.form-list-item + .form-list-item {
  margin-top: 29px;
}

.privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
}

.privacy-policy__input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.privacy-policy__text {
  font-weight: bold;
}

.form-submit-button {
  display: block;
  margin: 0 auto;
}

.footer {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 49px;
}

.footer-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.footer-text {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 54px;
}

.footer-text__privacy-policy {
  margin-right: 68px;
}

.footer-copy-right {
  font-size: 1.4rem;
}
/*# sourceMappingURL=styles.css.map */