@charset "UTF-8";
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
}

img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

.section-wrapper {
  padding-bottom: 70px;
  padding-top: 57px;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
}

.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.34;
  text-align: center;
}

.section-sub-title {
  color: #3ba6c9;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 60px;
  padding-top: 14px;
  text-align: center;
}

.contact-button,
.submit-button {
  background: linear-gradient(to right, #fa41cc 0%, #6020b0 100%);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 37px;
  text-align: center;
  width: 155px;
}

.no-scroll {
  overflow: hidden;
}

.header {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 94px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
  transition: .3s;
}

.header-title-wrapper__link {
  align-items: center;
  display: flex;
}

.header-title-wrapper__logo {
  height: 47px;
  margin-right: 16px;
  width: 47px;
}

.header-title-wrapper__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
}

.header-nav-list {
  display: flex;
}

.header-nav-list-item {
  font-weight: bold;
}

.header-nav-list-item + .header-nav-list-item {
  margin-left: 46px;
}

.burger-button {
  display: none;
  height: 25px;
  position: relative;
  transition: all .3s;
  width: 30px;
  z-index: 100;
}

.burger-button__bar {
  background-color: #05a5fa;
  border-radius: 2.5px;
  height: 5px;
  left: 0;
  position: absolute;
  top: 0;
  transition: .3s;
  width: 100%;
}

.burger-button__bar.bar-middle {
  top: 10px;
}

.burger-button__bar.bar-bottom {
  top: 20px;
}

.burger-button.open .burger-button__bar.bar-top {
  top: 10px;
  transform: rotate(45deg);
}

.burger-button.open .burger-button__bar.bar-middle {
  opacity: 0;
}

.burger-button.open .burger-button__bar.bar-bottom {
  top: 10px;
  transform: rotate(-45deg);
}

.fv-wrapper {
  background-image: url("../image/fv-bg.png");
  background-position: top -15vmax right -15vmin;
  background-repeat: no-repeat;
  background-size: 60vmax auto;
  z-index: 10;
}

.fv-wrapper > .content-wrapper {
  align-items: center;
  display: flex;
  height: 100vh;
}

.fv-text-wrapper {
  padding-top: 94px;
  width: 50%;
}

.fv-title {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.34375;
  margin-bottom: 53px;
}

.fv-sub-title {
  font-weight: bold;
  line-height: 1.3125;
  margin-bottom: 55px;
}

.fv-image-wrapper {
  padding-top: 94px;
  width: 50%;
}

.section-feature {
  padding-bottom: 155px;
  padding-top: 73px;
}

.feature-list-item {
  overflow-x: hidden;
}

.feature-list-item__title {
  font-size: 2.8rem;
  font-weight: bold;
  line-height: 1.32;
  margin-bottom: 50px;
  text-align: center;
}

.feature-list-item__content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.feature-list-item__text-wrapper {
  width: 50%;
}

.feature-list-item__overview {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 48px;
}

.feature-list-item__description {
  font-weight: bold;
  line-height: 1.625;
}

.feature-list-item:nth-of-type(2n+1) > .feature-list-item__content {
  flex-direction: row-reverse;
}

.feature-list-item + .feature-list-item {
  margin-top: 88px;
}

.section-price {
  background-color: #eefbfb;
  padding-bottom: 69px;
  padding-top: 57px;
}

.section-price > .content-wrapper {
  max-width: 926px;
  padding: 0 40px;
}

.section-price .section-sub-title {
  margin-bottom: 71px;
}

.price-list {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
}

.price-list-item__term {
  border-right: 1px solid #e5e5e5;
  font-weight: bold;
  line-height: 1.75;
  overflow-wrap: break-word;
  padding: 37px 19px;
  width: 35%;
}

.price-list-item__term:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.price-list-item__description {
  font-weight: bold;
  line-height: 1.75;
  padding: 37px 30.5px;
  width: 65%;
}

.price-list-item__description:not(:last-of-type) {
  border-bottom: 1px solid #e5e5e5;
}

.price-caution {
  font-weight: bold;
  line-height: 1.625;
  text-align: center;
}

.section-faq {
  padding-bottom: 86px;
  padding-top: 57px;
}

.section-faq > .content-wrapper {
  max-width: 926px;
  padding: 0 40px;
}

.section-faq .section-sub-title {
  margin-bottom: 33px;
}

.faq-list {
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
}

.faq-list-item__term {
  border-bottom: 1px solid #e5e5e5;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.85;
  padding: 19px 37px 20px;
  position: relative;
  text-align: center;
}

.faq-list-item__term:first-of-type {
  border-top: 1px solid #e5e5e5;
}

.faq-list-item__term::before, .faq-list-item__term::after {
  background-color: #010327;
  content: '';
  display: block;
  height: 2px;
  position: absolute;
  right: 25px;
  top: 50%;
  width: 15px;
}

.faq-list-item__term::after {
  transform: rotate(90deg);
  transition-duration: .3s;
}

.faq-list-item__term.open::before {
  opacity: 0;
}

.faq-list-item__term.open::after {
  transform: rotate(0);
}

.faq-list-item__term:hover {
  text-decoration: underline;
}

.faq-list-item__description {
  background-color: #f2f2f2;
  color: #444;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  line-height: 0;
  height: 0;
  opacity: 0;
  padding: 0 37px;
  transition-duration: .3s;
}

.faq-list-item__description.active {
  border-bottom: 1px solid #e5e5e5;
  height: auto;
  line-height: 1.85;
  opacity: 1;
  padding: 25px 37px;
}

.section-blog {
  background-color: #eefbfb;
  padding-bottom: 91px;
  padding-top: 57px;
}

.section-blog > .content-wrapper {
  max-width: 1227px;
}

.section-blog .section-sub-title {
  margin-bottom: 55px;
}

.blog-list {
  display: flex;
}

.blog-list-item {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  width: calc(100%/3);
}

.blog-list-item__image-wrapper {
  margin-bottom: 16px;
}

.blog-list-item__text {
  flex: 1;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.44;
  margin-bottom: 3px;
  padding: 0 18px;
}

.blog-list-item__time {
  font-weight: bold;
  line-height: 1.625;
  margin-bottom: 11px;
  margin-right: 36px;
  text-align: right;
}

.blog-list-item + .blog-list-item {
  margin-left: 30px;
}

.section-work {
  padding-bottom: 90px;
  padding-top: 57px;
}

.section-work .section-sub-title {
  margin-bottom: 69px;
}

.works-list-item {
  border: 1px solid #ddd;
  border-radius: 8px;
}

.works-list-item__image-wrapper {
  margin-bottom: 21px;
}

.works-list-item__summary {
  font-weight: bold;
  line-height: 1.31;
  margin-bottom: 35px;
  padding: 0 18px;
}

.works-list-item__description {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.35;
  margin-bottom: 42px;
  padding: 0 18px;
}

.section-contact {
  background: linear-gradient(to right, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%);
  background-color: #05a5fa;
  padding-bottom: 70px;
  padding-top: 65px;
}

.section-contact > .content-wrapper {
  max-width: 910px;
  padding: 0 40px;
}

.section-contact .section-sub-title {
  margin-bottom: 39px;
}

.section-contact .section-title,
.section-contact .section-sub-title {
  color: #fff;
}

.contact-help-you {
  color: #fff;
  font-weight: bold;
  line-height: 1.31;
  margin-bottom: 48px;
  text-align: center;
}

.form-wrapper {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 35px 63px;
}

.form-list {
  margin-bottom: 29px;
}

.form-list-item__label {
  display: block;
  font-weight: bold;
  line-height: 1.625;
  margin-bottom: 40px;
}

.form-list-item__label::after {
  background-color: #0c449b;
  border-radius: 10px;
  color: #fff;
  content: '必須';
  font-size: 1.4rem;
  font-weight: bold;
  margin-left: 26px;
  padding: 5px 16px;
}

.form-list-item__input {
  background-color: #eefbfb;
  border-radius: 3px;
  display: block;
  height: 43px;
  padding: 3px;
  width: 63%;
}

.form-list-item__textarea {
  background-color: #eefbfb;
  border-radius: 3px;
  display: block;
  height: 180px;
  padding: 3px;
  width: 100%;
}

.form-list-item + .form-list-item {
  margin-top: 29px;
}

.privacy-policy {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-bottom: 31px;
}

.privacy-policy__input {
  display: none;
}

.privacy-policy__input + label {
  font-weight: bold;
  padding-left: 10px;
  position: relative;
}

.privacy-policy__input + label::before, .privacy-policy__input + label::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.privacy-policy__input + label::before {
  border: 1px solid #707070;
  border-radius: 2px;
  height: 20px;
  left: -20px;
  width: 20px;
}

.privacy-policy__input + label::after {
  border-bottom: 3px solid #fff;
  border-right: 3px solid #fff;
  height: 15px;
  left: -15px;
  margin-top: -10px;
  opacity: 0;
  transform: rotate(45deg);
  width: 10px;
}

.privacy-policy__input:checked + label::before {
  background-color: #05a5fa;
}

.privacy-policy__input:checked + label::after {
  opacity: 1;
}

.privacy-policy__text {
  font-weight: bold;
}

.form-submit-button {
  display: block;
  margin: 0 auto;
  transition: .3s;
}

.form-submit-button:hover {
  opacity: .7;
  transition: .3s;
}

.form-submit-button:disabled {
  background: #ccc;
}

.form-submit-success-message {
  display: none;
  font-weight: bold;
  text-align: center;
}

.form-submit-fail-message {
  display: none;
  font-weight: bold;
  text-align: center;
}

.footer {
  padding: 45px 20px 49px;
  text-align: center;
}

.footer-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.footer-text {
  display: flex;
  font-weight: bold;
  justify-content: center;
  line-height: 1.75;
  margin-bottom: 54px;
}

.footer-text__privacy-policy {
  margin-right: 68px;
}

.footer-copy-right {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 2.6rem;
  }
  .section-sub-title {
    font-size: 1.4rem;
  }
  .contact-button,
  .submit-button {
    font-weight: normal;
    width: 120px;
  }
  .br-pc {
    display: none;
  }
  .header-title-wrapper__title {
    font-size: 2rem;
  }
  .header-nav {
    display: block;
  }
  .header-nav-list-item {
    font-size: 1.4rem;
  }
  .header-nav-list-item + .header-nav-list-item {
    margin-left: 15px;
  }
  .fv-wrapper {
    background-position: top -150px right -180px;
    background-size: auto;
  }
  .fv-title {
    font-size: 2.8rem;
    margin-bottom: 40px;
  }
  .fv-sub-title {
    font-size: 1.4rem;
    margin-bottom: 40px;
  }
  .feature-list-item__title {
    font-size: 2.4rem;
    margin-bottom: 40px;
  }
  .feature-list-item__overview {
    font-size: 2rem;
    line-height: 1.5;
  }
  .feature-list-item__description {
    font-size: 1.4rem;
  }
  .feature-list-item:nth-of-type(2n+1) .feature-list-item__image-wrapper {
    margin-right: 20px;
  }
  .feature-list-item:nth-of-type(2n) .feature-list-item__image-wrapper {
    margin-left: 20px;
  }
  .feature-list-item + .feature-list-item {
    margin-top: 60px;
  }
  .price-caution {
    font-weight: normal;
  }
  .blog-list-item__text {
    font-size: 1.6rem;
  }
  .blog-list-item__time {
    font-size: 1.4rem;
  }
  .blog-list-item + .blog-list-item {
    margin-left: 20px;
  }
  .works-list-item__summary {
    font-size: 1.4rem;
  }
  .works-list-item__description {
    font-size: 1.2rem;
  }
  .contact-help-you {
    font-size: 1.4rem;
  }
  .form-list-item__label {
    font-size: 1.4rem;
  }
  .form-list-item__label::after {
    font-size: 1.2rem;
  }
  .form-list-item__input {
    width: 90%;
  }
  .form-list-item + .form-list-item {
    margin-top: 29px;
  }
  .privacy-policy__text {
    font-size: 1.4rem;
  }
  .form-submit-success-message {
    font-size: 1.4rem;
  }
  .form-submit-fail-message {
    font-size: 1.4rem;
  }
  .footer-title {
    font-size: 2rem;
  }
  .footer-text {
    margin-bottom: 40px;
  }
  .footer-text__privacy-policy {
    margin-right: 40px;
  }
}

@media screen and (max-width: 576px) {
  .header-title-wrapper__title {
    font-size: 2rem;
  }
  .header-nav {
    background-color: lightblue;
    bottom: 0;
    display: none;
    height: 100vh;
    overflow: hidden;
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    z-index: 50;
  }
  .header-nav-list {
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
  }
  .header-nav-list-item {
    font-size: 1.4rem;
  }
  .header-nav-list-item + .header-nav-list-item {
    margin-left: 0;
    margin-top: 15px;
  }
  .header-link {
    display: none;
  }
  .burger-button {
    display: block;
  }
  .fv-wrapper {
    background-position: center;
    background-size: auto calc(100vh + 94px);
  }
  .fv-wrapper > .content-wrapper {
    flex-direction: column;
    height: calc(100vh + 188px);
    justify-content: center;
    padding-top: 94px;
  }
  .fv-text-wrapper {
    width: 100%;
  }
  .fv-title {
    margin-bottom: 20px;
  }
  .fv-sub-title {
    margin-bottom: 20px;
  }
  .fv-image-wrapper {
    padding-top: 0;
    width: 80%;
  }
  .feature-list-item__content {
    flex-direction: column-reverse;
  }
  .feature-list-item__text-wrapper {
    width: 100%;
  }
  .feature-list-item:nth-of-type(2n+1) .feature-list-item__content {
    flex-direction: column-reverse;
  }
  .feature-list-item:nth-of-type(2n+1) .feature-list-item__image-wrapper {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .feature-list-item:nth-of-type(2n) .feature-list-item__image-wrapper {
    margin-bottom: 20px;
    margin-left: 0;
  }
  .section-price > .content-wrapper {
    padding: 0 20px;
  }
  .price-list-item__term {
    border-bottom: 1px solid #e5e5e5;
    border-right: none;
    text-align: center;
    width: 100%;
  }
  .price-list-item__description {
    text-align: center;
    width: 100%;
  }
  .price-list-item__description:not(:last-of-type) {
    border-bottom: 1px solid #e5e5e5;
  }
  .section-faq > .content-wrapper {
    padding: 0 20px;
  }
  .faq-list-item__term {
    padding-right: 60px;
  }
  .blog-list {
    flex-direction: column;
  }
  .blog-list-item {
    width: 100%;
  }
  .blog-list-item__text {
    margin-bottom: 20px;
  }
  .blog-list-item + .blog-list-item {
    margin-left: 0;
    margin-top: 20px;
  }
  .section-contact > .content-wrapper {
    padding: 0 20px;
  }
  .form-wrapper {
    padding: 35px 20px;
  }
  .form-list-item__label {
    margin-bottom: 20px;
  }
  .form-list-item__input {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */