////////////////////
// common
////////////////////
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
}

img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

.section-wrapper {
  padding-top: 57px;
  padding-bottom: 70px;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
}

.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}

.section-sub-title {
  color: #3bA6C9;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 60px;
  padding-top: 14px;
  text-align: center;
}

.contact-button,
.submit-button {
  background: linear-gradient(to right, #FA41CC 0%, #6020B0 100%);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 37px;
  text-align: center;
  width: 155px;
}

.no-scroll {
  overflow: hidden;
}

////////////////////
// header
////////////////////
.header {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 94px;
  position: fixed;
  width: 100%;
  z-index: 100;

  &-wrapper {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1024px;
    transition: .3s;
    padding: 0 20px;
  }
}

.header-title-wrapper {
  &__link {
    align-items: center;
    display: flex;
  }

  &__logo {
    margin-right: 16px;
    height: 47px;
    width: 47px;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.5;
  }
}

.header-nav-list {
  display: flex;

  &-item {
    font-weight: bold;

    &+& {
      margin-left: 46px;
    }
  }
}

.burger-button {
  transition: all .3s;

  &__bar {
    background-color: #05A5FA;
    border-radius: 2.5px;
    display: block;
    height: 5px;
    transition: .3s;
    width: 30px;

    &.bar-top {
      margin-bottom: 5px;
    }

    &.bar-middle {
      margin-bottom: 5px;
    }
  }

  &.open {
    .burger-button__bar {
      transition: .3s;

      &.bar-top {
        transform: rotate(45deg) translate(4px, 4px);
      }

      &.bar-middle {
        opacity: 0;
      }

      &.bar-bottom {
        transform: rotate(-45deg) translate(3px, -3px);
      }
    }
  }
}

////////////////////
// fv
////////////////////
.fv-wrapper {
  // background
  background-image: url('../image/fv-bg.png');
  background-position: top -150px right -120px;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 10;
}

.fv-wrapper>.content-wrapper {
  align-items: center;
  display: flex;
  height: calc(100vh + 94px);
}

.fv-text-wrapper {
  width: 50%;
}

.fv-title {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.34375;
  margin-bottom: 53px;
}

.fv-sub-title {
  font-weight: bold;
  line-height: 1.3125;
  margin-bottom: 55px;
}

.fv-image-wrapper {
  width: 50%;
}

////////////////////
// feature
////////////////////
.section-feature {
  padding-top: 73px;
  padding-bottom: 155px;
}

.feature-list-item {
  overflow-x: hidden;

  &__title {
    text-align: center;
    font-size: 2.8rem;
    font-weight: bold;
    margin-bottom: 50px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__text-wrapper {
    width: 50%;
  }

  &__overview {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 48px;
  }

  &__description {
    font-weight: bold;
    line-height: 1.625;
  }

  &:nth-of-type(2n+1)>&__content {
    flex-direction: row-reverse;
  }

  &+& {
    margin-top: 88px;
  }
}

////////////////////
// price
////////////////////
.section-price {
  background-color: #EEFBFB;
  padding-top: 57px;
  padding-bottom: 69px;
}

.section-price>.content-wrapper {
  max-width: 926px;
  padding: 0 40px;
}

.section-price .section-sub-title {
  margin-bottom: 71px;
}

.price-list {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.price-list-item {
  &__term {
    width: 32%;
    padding: 37px 19px;
    font-weight: bold;

    &:not(:last-of-type) {
      border-bottom: 1px solid #E5E5E5;
    }

    border-right: 1px solid #E5E5E5;
  }

  &__description {
    width: 68%;
    padding: 37px 30.5px;
    font-weight: bold;

    &:not(:last-of-type) {
      border-bottom: 1px solid #E5E5E5;
    }
  }
}

.price-caution {
  text-align: center;
  font-weight: bold;
}

////////////////////
// faq
////////////////////
.section-faq {
  padding-top: 57px;
  padding-bottom: 86px;
}

.section-faq>.content-wrapper {
  max-width: 926px;
  padding: 0 40px;
}

.section-faq .section-sub-title {
  margin-bottom: 33px;
}

.faq-list {
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}

.faq-list-item {
  &__term {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    padding: 19px 37px 20px;
    position: relative;

    &:first-of-type {
      border-top: 1px solid #E5E5E5;
    }

    border-bottom: 1px solid #E5E5E5;
  }

  &__term::before,
  &__term::after {
    content: '';
    display: block;
    background-color: rgb(1, 3, 39);
    position: absolute;
    top: 50%;
    width: 15px;
    height: 2px;
    right: 25px;
  }

  &__term::after {
    transform: rotate(90deg);
    transition-duration: .3s;
  }

  &__term.open::before {
    opacity: 0;
  }

  &__term.open::after {
    transform: rotate(0);
  }

  &__term:hover {
    text-decoration: underline;
  }

  &__description {
    color: #444;
    background-color: #F2F2F2;
    font-size: 1.4rem;
    font-weight: bold;
    text-align: left;

    padding: 0 37px;
    line-height: 0;
    height: 0;
    opacity: 0;
    transition-duration: .3s;
  }

  &__description.active {
    padding: 25px 37px;
    line-height: 1.85;
    height: auto;
    opacity: 1;
    border-bottom: 1px solid #E5E5E5;
  }
}

////////////////////
// blog
////////////////////
.section-blog {
  background-color: #EEFBFB;
  padding-top: 57px;
  padding-bottom: 91px;
}

.section-blog>.content-wrapper {
  max-width: 1227px;
}

.section-blog .section-sub-title {
  margin-bottom: 55px;
}

.blog-list {
  display: flex;

  &-item {
    width: calc(100%/3);
    background-color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);

    &__image-wrapper {
      margin-bottom: 16px;
    }

    &__text {
      font-size: 1.8rem;
      font-weight: bold;
      padding: 0 18px;
      margin-bottom: 3px;
      flex: 1;
      line-height: 1.44;
    }

    &__time {
      font-weight: bold;
      text-align: right;
      margin-bottom: 11px;
      margin-right: 36px;
    }

    &+& {
      margin-left: 30px;
    }
  }
}


////////////////////
// work
////////////////////
.section-work {
  padding-top: 57px;
  padding-bottom: 90px;
}

.section-work .section-sub-title {
  margin-bottom: 69px;
}

.works-list-item {
  border: 1px solid #ddd;
  border-radius: 8px 8px 0 0;

  &__image-wrapper {
    margin-bottom: 21px;
  }

  &__summary {
    padding: 0 18px;
    margin-bottom: 35px;
    font-weight: bold;
  }

  &__description {
    padding: 0 18px;
    margin-bottom: 42px;
    font-size: 1.4rem;
    font-weight: bold;
    line-height: 1.35;
  }
}

////////////////////
// contact
////////////////////
.section-contact {
  padding-top: 65px;
  padding-bottom: 70px;
  background-color: #05A5FA;

  background: linear-gradient(to right, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%);
}

.section-contact>.content-wrapper {
  max-width: 910px;
  padding: 0 40px;
}

.section-contact .section-sub-title {
  margin-bottom: 39px;
}

.section-contact .section-title,
.section-contact .section-sub-title {
  color: #fff;
}

.contact-help-you {
  color: #fff;
  text-align: center;
  margin-bottom: 48px;
  font-weight: bold;
}

.form-wrapper {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 35px 63px;
}

.form-list {
  margin-bottom: 29px;
}

.form-list-item {
  &__label {
    display: block;
    margin-bottom: 40px;
    font-weight: bold;

    &::after {
      content: '必須';
      background-color: #0C449B;
      color: #fff;
      font-weight: bold;
      font-size: 1.4rem;
      padding: 5px 16px;
      margin-left: 26px;
      border-radius: 10px;
    }
  }

  &__input {
    width: 63%;
    background-color: #EEFBFB;
    display: block;
    border-radius: 3px;
    padding: 3px;
    height: 43px;
  }

  &__textarea {
    width: 100%;
    background-color: #EEFBFB;
    display: block;
    border-radius: 3px;
    padding: 3px;
    height: 180px;
  }

  &+& {
    margin-top: 29px;
  }
}

.privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;

  &__input {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }

  &__text {
    font-weight: bold;
  }
}

.form-submit-button {
  display: block;
  margin: 0 auto;
  transition: .3s;

  &:hover {
    opacity: .7;
    transition: .3s;
  }

  &:disabled {
    background: #ccc;
  }
}

.form-submit-success-message {
  display: none;
  text-align: center;
  font-weight: bold;
}

.form-submit-fail-message {
  display: none;
  text-align: center;
  font-weight: bold;
}

////////////////////
// footer
////////////////////
.footer {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 49px;
}

.footer-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.footer-text {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 54px;

  &__privacy-policy {
    margin-right: 68px;
  }
}

.footer-copy-right {
  font-size: 1.4rem;
}


////////////////////
// @media screen(tablet)
////////////////////
@media screen and (max-width: 768px) {

  ////////////////////
  // common
  ////////////////////
  .section-title {
    font-size: 2.6rem;
  }

  .section-sub-title {
    font-size: 1.4rem;
  }

  .contact-button,
  .submit-button {
    font-weight: normal;
  }

  .br-pc {
    display: none;
  }

  ////////////////////
  // header
  ////////////////////
  .header-title-wrapper {
    &__title {
      font-size: 2rem;
    }
  }

  .header-nav-list {
    &-item {
      font-size: 1.4rem;

      &+& {
        margin-left: 30px;
      }
    }
  }

  ////////////////////
  // fv
  ////////////////////
  .fv-wrapper {
    background-position: top -150px right -180px;
  }

  .fv-title {
    font-size: 2.8rem;
    margin-bottom: 40px;
  }

  .fv-sub-title {
    font-size: 1.4rem;
    margin-bottom: 40px;
  }

  ////////////////////
  // feature
  ////////////////////
  .feature-list-item {
    &__title {
      font-size: 2.4rem;
      margin-bottom: 40px;
    }

    &__overview {
      font-size: 2rem;
      line-height: 1.5;
    }

    &__description {
      font-size: 1.4rem;
    }

    &:nth-of-type(2n+1) &__image-wrapper {
      margin-right: 20px;
    }

    &:nth-of-type(2n) &__image-wrapper {
      margin-left: 20px;
    }

    &+& {
      margin-top: 60px;
    }
  }

  ////////////////////
  // price
  ////////////////////
  .price-caution {
    font-weight: normal;
  }

  ////////////////////
  // faq
  ////////////////////


  ////////////////////
  // blog
  ////////////////////
  .blog-list {
    &-item {
      &__text {
        font-size: 1.6rem;
      }

      &__time {
        font-size: 1.4rem;
      }

      &+& {
        margin-left: 20px;
      }
    }
  }

  ////////////////////
  // work
  ////////////////////
  .works-list-item {
    &__summary {
      font-size: 1.4rem;
    }

    &__description {
      font-size: 1.2rem;
    }
  }

  ////////////////////
  // contact
  ////////////////////
  .contact-help-you {
    font-size: 1.4rem;
  }

  .form-list-item {
    &__label {
      font-size: 1.4rem;

      &::after {
        font-size: 1.2rem;
      }
    }

    &__input {
      width: 90%;
    }

    &+& {
      margin-top: 29px;
    }
  }

  .privacy-policy {
    &__input {
      height: 15px;
      width: 15px;
    }

    &__text {
      font-size: 1.4rem;
    }
  }

  .form-submit-success-message {
    font-size: 1.4rem;
  }

  .form-submit-fail-message {
    font-size: 1.4rem;
  }

  ////////////////////
  // footer
  ////////////////////
  .footer-title {
    font-size: 2rem;
  }

  .footer-text {
    margin-bottom: 40px;

    &__privacy-policy {
      margin-right: 40px;
    }
  }
}

////////////////////
// @media screen(sp)
////////////////////
@media screen and (max-width: 576px) {

  ////////////////////
  // common
  ////////////////////

  ////////////////////
  // header
  ////////////////////
  .header-title-wrapper {
    &__title {
      font-size: 2rem;
    }
  }

  .header-nav-list {
    display: none;
  }

  .header-link {
    display: none;
  }

  ////////////////////
  // fv
  ////////////////////
  .fv-wrapper {
    background-position: center;
    background-size: auto calc(100vh + 94px);
  }

  .fv-wrapper>.content-wrapper {
    flex-direction: column;
    height: calc(100vh + 188px);
    justify-content: center;
    padding-top: 94px;
  }

  .fv-text-wrapper {
    width: 100%;
  }

  .fv-title {
    margin-bottom: 20px;
  }

  .fv-sub-title {
    margin-bottom: 20px;
  }

  .fv-image-wrapper {
    width: 80%;
  }

  ////////////////////
  // feature
  ////////////////////
  .feature-list-item {
    &__content {
      flex-direction: column-reverse;
    }

    &__text-wrapper {
      width: 100%;
    }

    &:nth-of-type(2n+1) &__content {
      flex-direction: column-reverse;
    }

    &:nth-of-type(2n+1) &__image-wrapper {
      margin-right: 0;
      margin-bottom: 20px;
    }

    &:nth-of-type(2n) &__image-wrapper {
      margin-left: 0;
      margin-bottom: 20px;
    }
  }

  ////////////////////
  // price
  ////////////////////
  .section-price>.content-wrapper {
    padding: 0 20px;
  }

  .price-list-item {
    &__term {
      width: 100%;
      text-align: center;

      border-bottom: 1px solid #E5E5E5;
      border-right: none;
    }

    &__description {
      width: 100%;
      text-align: center;

      &:not(:last-of-type) {
        border-bottom: 1px solid #E5E5E5;
      }
    }
  }

  ////////////////////
  // faq
  ////////////////////
  .section-faq>.content-wrapper {
    padding: 0 20px;
  }

  .faq-list-item {
    &__term {
      padding-right: 60px;
    }
  }

  ////////////////////
  // blog
  ////////////////////
  .blog-list {
    flex-direction: column;

    &-item {
      width: 100%;

      &__text {
        margin-bottom: 20px;
      }

      &+& {
        margin-left: 0;
        margin-top: 20px;
      }
    }
  }

  ////////////////////
  // work
  ////////////////////

  ////////////////////
  // contact
  ////////////////////
  .section-contact>.content-wrapper {
    padding: 0 20px;
  }

  .form-wrapper {
    padding: 35px 20px;
  }

  .form-list-item {
    &__label {
      margin-bottom: 20px;
    }

    &__input {
      width: 100%;
    }
  }

  ////////////////////
  // footer
  ////////////////////
}