@charset "UTF-8";
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: 'Noto Sans JP', sans-serif;
  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
}

img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

.section-wrapper {
  padding-top: 57px;
  padding-bottom: 70px;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1024px;
  padding: 0 20px;
}

.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}

.section-sub-title {
  color: #3bA6C9;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 60px;
  padding-top: 14px;
  text-align: center;
}

.contact-button,
.submit-button {
  background: linear-gradient(to right, #FA41CC 0%, #6020B0 100%);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 37px;
  text-align: center;
  width: 155px;
}

.no-scroll {
  overflow: hidden;
}

.header {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 94px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1024px;
  transition: .3s;
  padding: 0 20px;
}

.header-title-wrapper__link {
  align-items: center;
  display: flex;
}

.header-title-wrapper__logo {
  margin-right: 16px;
  height: 47px;
  width: 47px;
}

.header-title-wrapper__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
}

.header-nav-list {
  display: flex;
}

.header-nav-list-item {
  font-weight: bold;
}

.header-nav-list-item + .header-nav-list-item {
  margin-left: 46px;
}

.burger-button {
  display: none;
  transition: all .3s;
  position: relative;
  width: 30px;
  height: 25px;
  z-index: 100;
}

.burger-button__bar {
  background-color: #05A5FA;
  border-radius: 2.5px;
  height: 5px;
  transition: .3s;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.burger-button__bar.bar-middle {
  top: 10px;
}

.burger-button__bar.bar-bottom {
  top: 20px;
}

.burger-button.open .burger-button__bar.bar-top {
  top: 10px;
  transform: rotate(45deg);
}

.burger-button.open .burger-button__bar.bar-middle {
  opacity: 0;
}

.burger-button.open .burger-button__bar.bar-bottom {
  top: 10px;
  transform: rotate(-45deg);
}

.fv-wrapper {
  background-image: url("../image/fv-bg.png");
  background-position: top -150px right -120px;
  background-repeat: no-repeat;
  background-size: auto;
  z-index: 10;
}

.fv-wrapper > .content-wrapper {
  align-items: center;
  display: flex;
  height: calc(100vh + 94px);
}

.fv-text-wrapper {
  width: 50%;
}

.fv-title {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.34375;
  margin-bottom: 53px;
}

.fv-sub-title {
  font-weight: bold;
  line-height: 1.3125;
  margin-bottom: 55px;
}

.fv-image-wrapper {
  width: 50%;
}

.section-feature {
  padding-top: 73px;
  padding-bottom: 155px;
}

.feature-list-item {
  overflow-x: hidden;
}

.feature-list-item__title {
  text-align: center;
  font-size: 2.8rem;
  font-weight: bold;
  margin-bottom: 50px;
}

.feature-list-item__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature-list-item__text-wrapper {
  width: 50%;
}

.feature-list-item__overview {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2;
  margin-bottom: 48px;
}

.feature-list-item__description {
  font-weight: bold;
  line-height: 1.625;
}

.feature-list-item:nth-of-type(2n+1) > .feature-list-item__content {
  flex-direction: row-reverse;
}

.feature-list-item + .feature-list-item {
  margin-top: 88px;
}

.section-price {
  background-color: #EEFBFB;
  padding-top: 57px;
  padding-bottom: 69px;
}

.section-price > .content-wrapper {
  max-width: 926px;
  padding: 0 40px;
}

.section-price .section-sub-title {
  margin-bottom: 71px;
}

.price-list {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 38px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.price-list-item__term {
  width: 32%;
  padding: 37px 19px;
  font-weight: bold;
  overflow-wrap: break-word;
  border-right: 1px solid #E5E5E5;
}

.price-list-item__term:not(:last-of-type) {
  border-bottom: 1px solid #E5E5E5;
}

.price-list-item__description {
  width: 68%;
  padding: 37px 30.5px;
  font-weight: bold;
}

.price-list-item__description:not(:last-of-type) {
  border-bottom: 1px solid #E5E5E5;
}

.price-caution {
  text-align: center;
  font-weight: bold;
}

.section-faq {
  padding-top: 57px;
  padding-bottom: 86px;
}

.section-faq > .content-wrapper {
  max-width: 926px;
  padding: 0 40px;
}

.section-faq .section-sub-title {
  margin-bottom: 33px;
}

.faq-list {
  border-left: 1px solid #E5E5E5;
  border-right: 1px solid #E5E5E5;
}

.faq-list-item__term {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  padding: 19px 37px 20px;
  position: relative;
  border-bottom: 1px solid #E5E5E5;
}

.faq-list-item__term:first-of-type {
  border-top: 1px solid #E5E5E5;
}

.faq-list-item__term::before, .faq-list-item__term::after {
  content: '';
  display: block;
  background-color: #010327;
  position: absolute;
  top: 50%;
  width: 15px;
  height: 2px;
  right: 25px;
}

.faq-list-item__term::after {
  transform: rotate(90deg);
  transition-duration: .3s;
}

.faq-list-item__term.open::before {
  opacity: 0;
}

.faq-list-item__term.open::after {
  transform: rotate(0);
}

.faq-list-item__term:hover {
  text-decoration: underline;
}

.faq-list-item__description {
  color: #444;
  background-color: #F2F2F2;
  font-size: 1.4rem;
  font-weight: bold;
  text-align: left;
  padding: 0 37px;
  line-height: 0;
  height: 0;
  opacity: 0;
  transition-duration: .3s;
}

.faq-list-item__description.active {
  padding: 25px 37px;
  line-height: 1.85;
  height: auto;
  opacity: 1;
  border-bottom: 1px solid #E5E5E5;
}

.section-blog {
  background-color: #EEFBFB;
  padding-top: 57px;
  padding-bottom: 91px;
}

.section-blog > .content-wrapper {
  max-width: 1227px;
}

.section-blog .section-sub-title {
  margin-bottom: 55px;
}

.blog-list {
  display: flex;
}

.blog-list-item {
  width: calc(100%/3);
  background-color: #fff;
  display: flex;
  flex-direction: column;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.blog-list-item__image-wrapper {
  margin-bottom: 16px;
}

.blog-list-item__text {
  font-size: 1.8rem;
  font-weight: bold;
  padding: 0 18px;
  margin-bottom: 3px;
  flex: 1;
  line-height: 1.44;
}

.blog-list-item__time {
  font-weight: bold;
  text-align: right;
  margin-bottom: 11px;
  margin-right: 36px;
}

.blog-list-item + .blog-list-item {
  margin-left: 30px;
}

.section-work {
  padding-top: 57px;
  padding-bottom: 90px;
}

.section-work .section-sub-title {
  margin-bottom: 69px;
}

.works-list-item {
  border: 1px solid #ddd;
  border-radius: 8px 8px 0 0;
}

.works-list-item__image-wrapper {
  margin-bottom: 21px;
}

.works-list-item__summary {
  padding: 0 18px;
  margin-bottom: 35px;
  font-weight: bold;
}

.works-list-item__description {
  padding: 0 18px;
  margin-bottom: 42px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.35;
}

.section-contact {
  padding-top: 65px;
  padding-bottom: 70px;
  background-color: #05A5FA;
  background: linear-gradient(to right, #05a5fa 0%, #63fbd7 100%, #67ffd6 100%);
}

.section-contact > .content-wrapper {
  max-width: 910px;
  padding: 0 40px;
}

.section-contact .section-sub-title {
  margin-bottom: 39px;
}

.section-contact .section-title,
.section-contact .section-sub-title {
  color: #fff;
}

.contact-help-you {
  color: #fff;
  text-align: center;
  margin-bottom: 48px;
  font-weight: bold;
}

.form-wrapper {
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 35px 63px;
}

.form-list {
  margin-bottom: 29px;
}

.form-list-item__label {
  display: block;
  margin-bottom: 40px;
  font-weight: bold;
}

.form-list-item__label::after {
  content: '必須';
  background-color: #0C449B;
  color: #fff;
  font-weight: bold;
  font-size: 1.4rem;
  padding: 5px 16px;
  margin-left: 26px;
  border-radius: 10px;
}

.form-list-item__input {
  width: 63%;
  background-color: #EEFBFB;
  display: block;
  border-radius: 3px;
  padding: 3px;
  height: 43px;
}

.form-list-item__textarea {
  width: 100%;
  background-color: #EEFBFB;
  display: block;
  border-radius: 3px;
  padding: 3px;
  height: 180px;
}

.form-list-item + .form-list-item {
  margin-top: 29px;
}

.privacy-policy {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 31px;
}

.privacy-policy__input {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.privacy-policy__text {
  font-weight: bold;
}

.form-submit-button {
  display: block;
  margin: 0 auto;
  transition: .3s;
}

.form-submit-button:hover {
  opacity: .7;
  transition: .3s;
}

.form-submit-button:disabled {
  background: #ccc;
}

.form-submit-success-message {
  display: none;
  text-align: center;
  font-weight: bold;
}

.form-submit-fail-message {
  display: none;
  text-align: center;
  font-weight: bold;
}

.footer {
  text-align: center;
  padding-top: 45px;
  padding-bottom: 49px;
}

.footer-title {
  font-size: 2.4rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.footer-text {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 54px;
}

.footer-text__privacy-policy {
  margin-right: 68px;
}

.footer-copy-right {
  font-size: 1.4rem;
}

@media screen and (max-width: 768px) {
  .section-title {
    font-size: 2.6rem;
  }
  .section-sub-title {
    font-size: 1.4rem;
  }
  .contact-button,
  .submit-button {
    font-weight: normal;
    width: 120px;
  }
  .br-pc {
    display: none;
  }
  .header-title-wrapper__title {
    font-size: 2rem;
  }
  .header-nav {
    display: block;
  }
  .header-nav-list-item {
    font-size: 1.4rem;
  }
  .header-nav-list-item + .header-nav-list-item {
    margin-left: 15px;
  }
  .fv-wrapper {
    background-position: top -150px right -180px;
  }
  .fv-title {
    font-size: 2.8rem;
    margin-bottom: 40px;
  }
  .fv-sub-title {
    font-size: 1.4rem;
    margin-bottom: 40px;
  }
  .feature-list-item__title {
    font-size: 2.4rem;
    margin-bottom: 40px;
  }
  .feature-list-item__overview {
    font-size: 2rem;
    line-height: 1.5;
  }
  .feature-list-item__description {
    font-size: 1.4rem;
  }
  .feature-list-item:nth-of-type(2n+1) .feature-list-item__image-wrapper {
    margin-right: 20px;
  }
  .feature-list-item:nth-of-type(2n) .feature-list-item__image-wrapper {
    margin-left: 20px;
  }
  .feature-list-item + .feature-list-item {
    margin-top: 60px;
  }
  .price-caution {
    font-weight: normal;
  }
  .blog-list-item__text {
    font-size: 1.6rem;
  }
  .blog-list-item__time {
    font-size: 1.4rem;
  }
  .blog-list-item + .blog-list-item {
    margin-left: 20px;
  }
  .works-list-item__summary {
    font-size: 1.4rem;
  }
  .works-list-item__description {
    font-size: 1.2rem;
  }
  .contact-help-you {
    font-size: 1.4rem;
  }
  .form-list-item__label {
    font-size: 1.4rem;
  }
  .form-list-item__label::after {
    font-size: 1.2rem;
  }
  .form-list-item__input {
    width: 90%;
  }
  .form-list-item + .form-list-item {
    margin-top: 29px;
  }
  .privacy-policy__input {
    height: 15px;
    width: 15px;
  }
  .privacy-policy__text {
    font-size: 1.4rem;
  }
  .form-submit-success-message {
    font-size: 1.4rem;
  }
  .form-submit-fail-message {
    font-size: 1.4rem;
  }
  .footer-title {
    font-size: 2rem;
  }
  .footer-text {
    margin-bottom: 40px;
  }
  .footer-text__privacy-policy {
    margin-right: 40px;
  }
}

@media screen and (max-width: 576px) {
  .header-title-wrapper__title {
    font-size: 2rem;
  }
  .header-nav {
    display: none;
    position: fixed;
    z-index: 50;
    width: 100vw;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    height: 100vh;
    background-color: lightblue;
  }
  .header-nav-list {
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
  }
  .header-nav-list-item {
    font-size: 1.4rem;
  }
  .header-nav-list-item + .header-nav-list-item {
    margin-top: 15px;
    margin-left: 0;
  }
  .header-link {
    display: none;
  }
  .burger-button {
    display: block;
  }
  .fv-wrapper {
    background-position: center;
    background-size: auto calc(100vh + 94px);
  }
  .fv-wrapper > .content-wrapper {
    flex-direction: column;
    height: calc(100vh + 188px);
    justify-content: center;
    padding-top: 94px;
  }
  .fv-text-wrapper {
    width: 100%;
  }
  .fv-title {
    margin-bottom: 20px;
  }
  .fv-sub-title {
    margin-bottom: 20px;
  }
  .fv-image-wrapper {
    width: 80%;
  }
  .feature-list-item__content {
    flex-direction: column-reverse;
  }
  .feature-list-item__text-wrapper {
    width: 100%;
  }
  .feature-list-item:nth-of-type(2n+1) .feature-list-item__content {
    flex-direction: column-reverse;
  }
  .feature-list-item:nth-of-type(2n+1) .feature-list-item__image-wrapper {
    margin-right: 0;
    margin-bottom: 20px;
  }
  .feature-list-item:nth-of-type(2n) .feature-list-item__image-wrapper {
    margin-left: 0;
    margin-bottom: 20px;
  }
  .section-price > .content-wrapper {
    padding: 0 20px;
  }
  .price-list-item__term {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid #E5E5E5;
    border-right: none;
  }
  .price-list-item__description {
    width: 100%;
    text-align: center;
  }
  .price-list-item__description:not(:last-of-type) {
    border-bottom: 1px solid #E5E5E5;
  }
  .section-faq > .content-wrapper {
    padding: 0 20px;
  }
  .faq-list-item__term {
    padding-right: 60px;
  }
  .blog-list {
    flex-direction: column;
  }
  .blog-list-item {
    width: 100%;
  }
  .blog-list-item__text {
    margin-bottom: 20px;
  }
  .blog-list-item + .blog-list-item {
    margin-left: 0;
    margin-top: 20px;
  }
  .section-contact > .content-wrapper {
    padding: 0 20px;
  }
  .form-wrapper {
    padding: 35px 20px;
  }
  .form-list-item__label {
    margin-bottom: 20px;
  }
  .form-list-item__input {
    width: 100%;
  }
}
/*# sourceMappingURL=styles.css.map */