@charset "UTF-8";
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  font-family: "Times New Roman", "游明朝", "Yu Mincho", "游明朝体", YuMincho, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro", "HiraMinProN-W3", "HGS明朝E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
  color: #000;
}

img {
  width: 100%;
  vertical-align: bottom;
  -o-object-fit: cover;
     object-fit: cover;
}

a:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.content-wrapper {
  max-width: 1200px;
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.34;
  text-align: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 1024px) {
  .section-title {
    font-size: 2.8rem;
  }
}
@media screen and (max-width: 768px) {
  .section-title {
    font-size: 2.4rem;
  }
}

.logo-icon-wrapper {
  margin-bottom: 13px;
  text-align: center;
}

.logo-icon {
  width: 40px;
  height: 40px;
}

.no-scroll {
  overflow: hidden;
}

.br-xl-show {
  display: none;
}
@media screen and (max-width: 1280px) {
  .br-xl-show {
    display: block;
  }
}

.br-lg-show {
  display: none;
}
@media screen and (max-width: 1024px) {
  .br-lg-show {
    display: block;
  }
}

.br-lg-hide {
  display: block;
}
@media screen and (max-width: 1024px) {
  .br-lg-hide {
    display: none;
  }
}

.br-sm-show {
  display: none;
}
@media screen and (max-width: 576px) {
  .br-sm-show {
    display: block;
  }
}

.breadcrumb-list {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  margin-bottom: 93px;
}
@media screen and (max-width: 768px) {
  .breadcrumb-list {
    margin-bottom: 50px;
  }
}
.breadcrumb-list-item {
  display: inline;
}
.breadcrumb-list-item:not(:last-of-type)::after {
  padding: 0 5px;
  color: #000;
  content: ">";
}
.breadcrumb-list-item__link {
  font-weight: 500;
}

.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: none;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .header {
    height: 60px;
  }
}
.header-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  padding: 0 20px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media screen and (max-width: 576px) {
  .header-wrapper {
    padding: 0 10px;
  }
}
.header-bg-color-white {
  background-color: #fff;
}

.header-title-wrapper {
  margin-right: 120px;
}
@media screen and (max-width: 1024px) {
  .header-title-wrapper {
    margin-right: 100px;
  }
}
@media screen and (max-width: 768px) {
  .header-title-wrapper {
    margin-right: 40px;
  }
}
@media screen and (max-width: 576px) {
  .header-title-wrapper {
    margin-right: 20px;
  }
}
.header-title-wrapper__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header-title-wrapper__logo {
  margin-right: 16px;
}

@media screen and (max-width: 768px) {
  .header-nav {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.95);
    z-index: 20;
  }
  .header-nav-bg-color-white {
    background-color: rgba(255, 255, 255, 0.95);
  }
}

.header-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .header-nav-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 30px;
  }
}
.header-nav-list-item {
  font-weight: 800;
  color: #fff;
  text-shadow: 1px 1px 0 #000;
}
.header-nav-list-item-color-black {
  color: #000;
  text-shadow: 1px 1px 0 #fff;
}
.header-nav-list-item + .header-nav-list-item {
  margin-left: 33px;
}
@media screen and (max-width: 768px) {
  .header-nav-list-item + .header-nav-list-item {
    margin-top: 15px;
    margin-left: 0;
  }
}

.header-reserve-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 170px;
  height: 54px;
  margin-left: auto;
  font-weight: 800;
  color: #fff;
  background-color: #978f10;
}
@media screen and (max-width: 1024px) {
  .header-reserve-button {
    height: 36px;
  }
}
@media screen and (max-width: 576px) {
  .header-reserve-button {
    font-size: 1.4rem;
    font-weight: 500;
  }
}
.header-reserve-button::before {
  display: inline-block;
  width: 22px;
  height: 22px;
  margin-right: 10px;
  content: "";
  background-image: url("../image/calender.png");
}
@media screen and (max-width: 576px) {
  .header-reserve-button::before {
    margin-right: 5px;
  }
}

.burger-button {
  position: relative;
  display: none;
  width: 40px;
  height: 36px;
  margin-left: 20px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: 20;
}
@media screen and (max-width: 768px) {
  .burger-button {
    display: block;
  }
}
.burger-button__bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  border-radius: 2.5px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.burger-button__bar-bg-color-black {
  background-color: #000;
}
.burger-button__bar.bar-middle {
  top: 17px;
}
.burger-button__bar.bar-bottom {
  top: 34px;
}
.burger-button.open .burger-button__bar.bar-top {
  top: 18px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}
.burger-button.open .burger-button__bar.bar-middle {
  opacity: 0;
}
.burger-button.open .burger-button__bar.bar-bottom {
  top: 18px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.footer {
  text-align: center;
  background-color: #000;
}
.footer > .content-wrapper {
  max-width: none;
  padding: 61px 0 59px;
}
@media screen and (max-width: 768px) {
  .footer > .content-wrapper {
    padding: 40px 0;
  }
}
.footer > .footer-bg {
  background-image: url("../image/bg3.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer-nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 93px;
}
@media screen and (max-width: 768px) {
  .footer-nav-list {
    margin-bottom: 50px;
  }
}
.footer-nav-list-item {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 16px;
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
}
.footer-nav-list-item + .footer-nav-list-item {
  margin-right: 34px;
}

.footer .section-title {
  margin-bottom: 65px;
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 0.18em;
}
@media screen and (max-width: 768px) {
  .footer .section-title {
    margin-bottom: 40px;
  }
}

.footer-access-info {
  font-weight: 500;
}
@media screen and (max-width: 576px) {
  .footer-access-info {
    font-size: 1.4rem;
  }
}
.footer-access-info__address-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 18px;
}
.footer-access-info__post-code {
  margin-right: 16px;
}
.footer-access-info__address {
  letter-spacing: 0.18em;
}
.footer-access-info__tel-fax-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footer-access-info__tel {
  margin-right: 21px;
}

.footer-copy-right {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 60px;
  color: #fff;
}