@charset "UTF-8";
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  color: #333;
  font-family: 'Montserrat', 'Noto Sans JP', sans-serif;
  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
  letter-spacing: 0.05em;
}

img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

.section-wrapper {
  padding: 80px 0;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 700px;
  padding: 0 15px;
}

.section-title {
  font-size: 3.2rem;
  font-weight: 800;
  letter-spacing: 0.068;
  max-width: 1000px;
}

.link-button {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  font-size: 1.1rem;
  font-weight: bold;
  justify-content: center;
  height: 36px;
  letter-spacing: 0.015em;
  line-height: 3;
  width: 160px;
}

.no-scroll {
  overflow: hidden;
}

.gray-bg {
  background-color: #F0F0F0;
}

.header-wrapper {
  align-items: center;
  display: flex;
  color: white;
  justify-content: space-between;
  padding: 20px 15px;
  position: fixed;
  transition: .3s;
  width: 100%;
  z-index: 1;
}

.header-title {
  font-size: 2.6rem;
  font-style: italic;
  font-weight: bold;
  z-index: 1;
}

.header-nav {
  background-color: #282F35;
  display: none;
  height: 100vh;
  left: 0;
  padding-top: 10vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.header-title-image-black path {
  fill: #333;
  transition: filter .3s;
}

.header-nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.header-nav-list-item {
  color: white;
  font-size: 2rem;
  font-weight: bold;
}

.header-nav-list-item__image-wrapper {
  margin: 0 auto;
  height: 45px;
  width: 42px;
}

.header-nav-list-item__link:hover {
  opacity: .7;
  transition: .3s;
}

.header-nav-list-item:first-child + .header-nav-list-item {
  margin-top: 40px;
}

.header-nav-list-item:not(:first-child) + .header-nav-list-item {
  margin-top: 30px;
}

.burger-button {
  align-items: center;
  display: flex;
  transition: all .3s;
  z-index: 3;
}

.burger-button__bar-container {
  margin-right: 7px;
}

.burger-button__bar {
  background-color: #fff;
  border-radius: 1px;
  display: block;
  height: 2px;
  transition: .3s;
  width: 22px;
}

.burger-button__bar.bar-top {
  margin-bottom: 3px;
}

.burger-button__bar.bar-middle {
  margin-bottom: 3px;
}

.burger-button__text {
  font-size: 1rem;
  font-weight: 800;
  letter-spacing: 0.005em;
  line-height: 15px;
}

.burger-button.open .burger-button__bar {
  transition: .3s;
}

.burger-button.open .burger-button__bar.bar-top {
  transform: rotate(45deg) translate(4px, 4px);
}

.burger-button.open .burger-button__bar.bar-middle {
  opacity: 0;
}

.burger-button.open .burger-button__bar.bar-bottom {
  transform: rotate(-45deg) translate(3px, -3px);
}

.burger-button-black {
  color: #333;
}

.burger-button-black__bar {
  background-color: #333;
}

.fv {
  background: linear-gradient(to right, #fff 25%, #222222 25%);
  color: white;
  font-weight: bold;
  height: 100vh;
  min-height: 550px;
}

.kv-wrapper {
  background-image: url("../image/heading-img_contact@2x.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 85vh;
  position: relative;
  width: 75vw;
}

.fv-title-container {
  max-width: 300px;
  position: absolute;
  right: -20vw;
  top: 50%;
  text-align: left;
  transform: translate(0, -50%);
}

.fv-title-container__title {
  font-weight: bold;
  line-height: 1.5;
  text-align: right;
}

.fv-title-container__sub-title {
  font-size: 5.2rem;
  font-weight: 800;
  line-height: 1;
  margin-bottom: 10px;
}

.contact-form-wrapper__send-button {
  display: flex;
  justify-content: center;
}

.contact-form-wrapper__send-button:hover {
  opacity: .7;
  transition: .3s;
}

.contact-form-text {
  font-size: 1.4rem;
  margin-bottom: 50px;
}

.contact-form-list {
  margin-bottom: 40px;
}

.contact-form-list-item__label {
  display: inline-block;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.contact-form-list-item__agree-label {
  font-size: 1.4rem;
  margin-left: 10px;
}

.contact-form-list-item__required {
  background-color: #333;
  color: white;
  font-size: 1.2rem;
  font-weight: normal;
  margin-left: 20px;
  padding: 1px 5px;
}

.contact-form-list-item input[type="text"] {
  border: 1px solid #333;
  line-height: 48px;
  padding: 0 8px;
  width: 100%;
}

.contact-form-list-item textarea {
  border: 1px solid #333;
  height: 171px;
  line-height: 30px;
  padding: 0 8px;
  width: 100%;
  resize: none;
}

.contact-form-list-item + .contact-form-list-item {
  margin-top: 40px;
}

.contact-type-list-item__radio {
  margin-left: 10px;
}

.contact-type-list-item__label {
  margin-left: 5px;
}

footer {
  background-color: #525252;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  line-height: 50px;
  letter-spacing: 0.015em;
}

@media screen and (min-width: 768px) {
  .section-wrapper {
    padding: 120px 0;
  }
  .content-wrapper {
    padding: 0 30px;
  }
  .header-wrapper {
    padding: 33px 30px;
  }
  .fv-title-container {
    right: 0;
    transform: translate(50%, -50%);
  }
  .fv-title-container__title {
    text-align: left;
  }
  .contact-form-text {
    font-size: 1.6rem;
  }
  .contact-form-list-item__label {
    font-weight: normal;
  }
  .contact-form-list-item__privacy-policy {
    font-weight: bold;
  }
  .contact-form-list-item__agree-wrapper {
    display: flex;
    justify-content: center;
  }
  .contact-form-list-item__agree-label {
    font-size: 1.6rem;
  }
  .contact-type-list {
    display: flex;
  }
  .contact-type-list-item + .contact-type-list-item {
    margin-left: 50px;
  }
}

@media screen and (min-width: 992px) {
  .header-wrapper {
    padding: 20px 60px;
  }
  .header-nav {
    background-color: rgba(34, 34, 34, 0.95);
    left: 65vw;
    padding-top: 20vh;
    width: 35vw;
  }
  .fv {
    height: 50vh;
    min-height: 250px;
    background: linear-gradient(to right, #fff 45%, #222222 45%);
  }
  .kv-wrapper {
    height: 45vh;
  }
  .fv-title-container {
    max-width: 430px;
  }
  .fv-title-container__title {
    font-size: 2rem;
  }
  .fv-title-container__sub-title {
    font-size: 7.2rem;
  }
}
/*# sourceMappingURL=contact.css.map */