@charset "UTF-8";
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: 'メイリオ', 'Meiryo', sans-serif;
  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
  background-color: #F0F0F0;
}

img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

.section-wrapper {
  padding-top: 80px;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1000px;
  padding: 0 16px;
}

.section-title-wrapper {
  margin-bottom: 34px;
}

.section-title-wrapper::after {
  content: '';
  display: block;
  width: 40px;
  border-bottom: 1px solid #000;
}

.section-title__en {
  font-size: 3.6rem;
  letter-spacing: 0.3em;
  margin-bottom: 10px;
}

.section-title__ja {
  margin-bottom: 24px;
}

.header-wrapper {
  display: flex;
  flex-direction: column;
  padding: 16px;
  transition: .3s;
  width: 100%;
  height: 80px;
}

.header-logo-image-wrapper {
  width: 80px;
  margin-bottom: 7.5px;
}

.header-nav-list {
  display: flex;
  text-align: center;
}

.header-nav-list-item {
  font-size: 1.4rem;
}

.header-nav-list-item__link:hover {
  opacity: .7;
  transition: .3s;
}

.header-nav-list-item + .header-nav-list-item {
  margin-left: 30px;
}

.header-contact-link {
  display: none;
}

.fv {
  background-image: url("../image/mainvisual.jpg");
  background-position: center;
  background-size: cover;
  height: calc(100vh - 80px);
}

.news-list-item__date {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 16px;
}

.news-list-item__tag {
  background-color: #000;
  color: #fff;
  font-size: 1.2rem;
  line-height: 2;
  padding: 1px 7px;
}

.news-list-item + .news-list-item {
  margin-top: 40px;
}

.about-image-wrapper {
  margin-bottom: 30px;
  height: 400px;
}

.about-image {
  width: 100%;
  height: 100%;
}

.about-text {
  font-size: 1.4rem;
  line-height: 2.2;
}

.business-list-container + .business-list-container {
  margin-top: 30px;
}

.business-list-item__title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.business-list-item__title:before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 1px;
  background-color: #000;
  vertical-align: middle;
  margin-right: 10px;
}

.business-list-item + .business-list-item {
  margin-top: 30px;
}

.company-text-wrapper {
  background-color: #fff;
  padding: 40px 20px;
  margin-bottom: 20px;
}

.company-info-list-item__title {
  font-size: 1.4rem;
  font-weight: normal;
  margin-bottom: 5px;
}

.company-info-list-item__content {
  margin-left: 14px;
  font-size: 1.4rem;
}

.company-info-list-item__content-text:not(:last-of-type) {
  margin-bottom: 5px;
}

.company-info-list-item + .company-info-list-item {
  margin-top: 8px;
}

.company-image-wrapper {
  height: 400px;
}

.company-image {
  width: 100%;
  height: 100%;
}

footer {
  padding: 40px 0 20px;
}

.footer-logo-image-wrapper {
  width: 80px;
  margin-bottom: 10.5px;
}

.footer-company-address {
  font-size: 1.4rem;
  margin-bottom: 40px;
  line-height: 1.5;
}

.footer-copy-right {
  font-size: 1.2rem;
}

@media screen and (min-width: 900px) {
  .section-wrapper {
    padding-top: 120px;
  }
  .section-title-wrapper {
    margin-bottom: 50px;
  }
  .section-title__ja {
    margin-bottom: 36px;
  }
  .header-wrapper {
    flex-direction: row;
    align-items: center;
    padding: 0;
    padding-left: 91px;
  }
  .header-logo-image-wrapper {
    width: 100px;
    margin-bottom: 0;
    margin-right: 60px;
  }
  .header-contact-link {
    display: block;
    margin-left: auto;
    background-color: #000;
    color: #fff;
    width: 200px;
    height: 100%;
    line-height: 80px;
    text-align: center;
  }
  .news-list {
    display: flex;
    justify-content: space-between;
  }
  .news-list-item:not(:first-of-type) {
    border-left: 1px solid #000;
    padding-left: 20px;
  }
  .news-list-item + .news-list-item {
    margin-top: 0;
  }
  .about-image-wrapper {
    margin-bottom: 0;
    width: 55%;
  }
  .about-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .about-content-wrapper {
    padding: 180px 5% 0 5%;
    width: 45%;
  }
  .business-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .business-list-container {
    width: 45%;
  }
  .business-list-container:first-of-type {
    margin-top: 100px;
  }
  .business-list-item + .business-list-item {
    margin-top: 50px;
  }
  .company-content-wrapper {
    position: relative;
  }
  .company-text-wrapper {
    padding: 100px 60px;
    margin-bottom: 110px;
    width: 55%;
  }
  .company-info-list-item {
    display: flex;
  }
  .company-info-list-item__title {
    min-width: 20%;
    margin-bottom: 0;
  }
  .company-info-list-item__content {
    margin-left: 0;
  }
  .company-info-list-item__content-text:not(:last-of-type) {
    margin-bottom: 10px;
  }
  .company-info-list-item + .company-info-list-item {
    margin-top: 10px;
  }
  .company-image-wrapper {
    width: 53%;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
  }
  footer {
    background-color: #fff;
  }
  .footer-text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .footer-logo-image-wrapper {
    width: 100px;
    margin-bottom: 0;
  }
  .footer-company-address {
    margin-bottom: 0;
  }
}
/*# sourceMappingURL=styles.css.map */