@use "../common/variables"as *;
@use "../mixin/mixin";

////////////////////
// fv
////////////////////
.fv {
  position: relative;
  height: 100vh;
  max-height: 1079px;

  &-inner {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    max-height: 1079px;
    padding-right: 25%;
    margin: 0 auto;

    @include mixin.media-query("sm") {
      justify-content: center;
      padding-right: 0;
    }
  }

  &-title {
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 51px + 34px;
    color: $color-text-white;
    text-shadow: 3px 3px 0 $color-text-black;
    letter-spacing: 11px;
    writing-mode: vertical-rl;

    @include mixin.z-index(top-fv-title);
  }
}

.fv-image-list-item {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  &__image {
    height: 100vh;
    max-height: 1079px;

    /* 最初は3枚の画像を非表示にしておく */
    opacity: 0;

    /* アニメーション設定 */
    animation: fade-fv 15s infinite linear;
  }

  &:nth-child(1) > &__image {
    animation-delay: 0s;
  }

  &:nth-child(2) > &__image {
    animation-delay: 5s;
  }

  &:nth-child(3) > &__image {
    animation-delay: 10s;
  }

  /* アニメーション処理  */
  @keyframes fade-fv {
    0% {
      opacity: 0;
      transform: scale(1);
    }

    5% {
      opacity: 1;
    }

    35% {
      opacity: 1;
    }

    40% {
      opacity: 0;
      transform: scale(1.1);
    }
  }
}

////////////////////
// about
////////////////////
.section-about {
  display: flex;
  justify-content: center;
  padding-top: 146px;
  padding-bottom: 50px;
  background-image: url("/image/bg.jpg");

  @include mixin.media-query("sm") {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section-about > .content-wrapper {
  height: 450px;
  writing-mode: vertical-rl;

  @include mixin.media-query("sm") {
    height: auto;
    writing-mode: horizontal-tb;
  }
}

.about-title {
  margin-left: 118px;
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 16px;

  @include mixin.media-query("lg") {
    margin-left: 70px;
  }

  @include mixin.media-query("md") {
    margin-left: 50px;
    font-size: 1.8rem;
  }

  @include mixin.media-query("sm") {
    margin-bottom: 10px;
    margin-left: 0;
    line-height: 2;
    letter-spacing: 10px;
  }

  & > span {
    display: block;
    margin-top: -85px;
    margin-left: 33px;

    @include mixin.media-query("md") {
      margin-top: -55px;
      margin-left: 20px;
    }

    @include mixin.media-query("sm") {
      margin-top: 0;
      margin-left: 0;
    }
  }
}

.about-text {
  margin-left: 118px;
  font-weight: 500;
  line-height: 2.375;
  letter-spacing: 6px;

  /* for Safari */
  -webkit-text-orientation: upright;
  text-orientation: upright;

  @include mixin.media-query("lg") {
    margin-left: 60px;
  }

  @include mixin.media-query("md") {
    margin-left: 40px;
    line-height: 1.7;
  }

  @include mixin.media-query("sm") {
    margin-bottom: 20px;
    margin-left: 20px;
    letter-spacing: 4px;
  }

  @include mixin.media-query("xs") {
    margin-left: 10px;
    font-size: 1.4rem;
  }
}

.about-name {
  font-size: 2.2rem;
  font-weight: 500;
  text-align: right;
  letter-spacing: 16px;

  @include mixin.media-query("md") {
    font-size: 1.8rem;
  }

  @include mixin.media-query("sm") {
    letter-spacing: 6px;
  }
}

////////////////////
// feature
////////////////////
.section-feature {
  padding-top: 106px;
  padding-bottom: 78px;

  @include mixin.media-query("md") {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

.section-feature > .content-wrapper {
  max-width: 1920px;
  padding: 0;

  @include mixin.media-query("md") {
    width: 90%;
  }

  @include mixin.media-query("sm") {
    width: 100%;
  }
}

.feature-list-item {
  position: relative;
  display: flex;
  align-items: center;

  &__image-wrapper {
    width: 55%;
    margin-right: 8%;

    @include mixin.media-query("md") {
      width: 100%;
      margin-right: 0;
    }
  }

  &__image {
    position: relative !important;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;

    @include mixin.media-query("md") {
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 10px;
      color: $color-text-white;

      /* 文字の影 */
      text-shadow:
        1px 1px 1px $color-text-black,
        -1px 1px 1px $color-text-black,
        1px -1px 1px $color-text-black,
        -1px -1px 1px $color-text-black,
        1px 0 1px $color-text-black,
        0 1px 1px $color-text-black,
        -1px 0 1px $color-text-black,
        0 -1px 1px $color-text-black;
    }
  }

  &__title {
    margin-bottom: 67px;
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.72;

    @include mixin.media-query("xl") {
      margin-bottom: 42px;
      font-size: 3rem;
    }

    @include mixin.media-query("lg") {
      margin-bottom: 15px;
      font-size: 1.8rem;
      line-height: 1.5;
    }

    @include mixin.media-query("md") {
      font-size: 1.6rem;
    }

    @include mixin.media-query("xs") {
      margin-bottom: 10px;
      font-size: 1.4rem;
    }
  }

  &__text {
    margin-bottom: 73px;
    font-weight: 500;
    line-height: 2;

    @include mixin.media-query("xl") {
      margin-bottom: 46px;
      font-size: 1.4rem;
      line-height: 1.5;
    }

    @include mixin.media-query("lg") {
      margin-bottom: 15px;
    }

    @include mixin.media-query("xs") {
      margin-bottom: 10px;
      font-size: 1.2rem;
    }
  }

  &__link {
    display: inline-block;
    width: 200px;
    font-weight: 500;
    line-height: 56px;
    text-align: center;
    border: 1px solid $color-border;

    @include mixin.media-query("lg") {
      width: 150px;
      font-size: 1.4rem;
      line-height: 40px;
    }

    @include mixin.media-query("md") {
      border: 1px solid $color-border-white;
    }

    @include mixin.media-query("xs") {
      margin-bottom: 10px;
      font-size: 1.2rem;
      line-height: 30px;
    }
  }

  & + & {
    margin-top: 122px;

    @include mixin.media-query("xl") {
      margin-top: 90px;
    }

    @include mixin.media-query("lg") {
      margin-top: 60px;
    }

    @include mixin.media-query("sm") {
      margin-top: 30px;
    }
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;

    .feature-list-item {
      &__image-wrapper {
        margin-right: 0;
        margin-left: 8%;

        @include mixin.media-query("md") {
          margin-left: 0;
        }
      }

      &__text-wrapper {
        margin-right: 0;
      }

      &__text {
        margin-bottom: 41px;

        @include mixin.media-query("xl") {
          margin-bottom: 26px;
        }

        @include mixin.media-query("xs") {
          margin-bottom: 10px;
        }
      }
    }
  }
}

////////////////////
// plan
////////////////////
.section-plan {
  padding-top: 60px;
  padding-bottom: 142px;
  background-image: url("/image/bg02.jpg");
  background-position: center;
  background-size: cover;

  @include mixin.media-query("md") {
    padding-bottom: 60px;
  }

  & .section-title {
    margin-bottom: 61px;
  }
}

.plan-list {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include mixin.media-query("md") {
    flex-direction: column;
  }

  &-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);

    @include mixin.media-query("md") {
      width: 100%;
    }

    &__image-wrapper {
      margin-bottom: 28px;
    }

    
    &__image {
      position: relative !important;
    }

    &__text-wrapper {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    &__title {
      margin-bottom: 30px;
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.6;

      @include mixin.media-query("lg") {
        flex: 1;
        min-height: 0;
        margin-bottom: 40px;
      }

      @include mixin.media-query("md") {
        margin-bottom: 15px;
        font-size: 1.6rem;
      }
    }

    &__text {
      font-weight: 500;
      line-height: 2;

      @include mixin.media-query("lg") {
        flex: 2;
      }

      @include mixin.media-query("md") {
        font-size: 1.4rem;
      }
    }

    & + & {
      margin-left: 94px;

      @include mixin.media-query("xl") {
        margin-left: 60px;
      }

      @include mixin.media-query("lg") {
        margin-left: 30px;
      }

      @include mixin.media-query("md") {
        margin-top: 40px;
        margin-left: 0;
      }
    }
  }
}

////////////////////
// news
////////////////////
.section-news {
  padding: 60px 0;
}

.news-tab-list {
  display: flex;
  justify-content: center;
  padding-top: 38px;
  padding-bottom: 47px;

  &-item {
    padding: 10px 20px;
    overflow: hidden;
    font-weight: 500;
    background-color: $color-news-bg;
    border: 1px solid $color-news-border;
    border-radius: 5px 5px 0 0;

    & + & {
      margin-left: 53px;
    }

    &.is-active {
      text-decoration: underline $color-border;
      background-color: lightgray;
    }
  }
}

.news-list {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mixin.media-query("md") {
    flex-direction: column;
  }

  &.is-active {
    display: flex;
    animation: fade-in-news 0.5s;
  }

  &-item {
    display: flex;
    width: 48%;
    padding: 15px 10px;
    background-color: $color-news-bg;

    @include mixin.media-query("md") {
      width: 100%;
    }

    &__image-wrapper {
      width: 103px;
      height: 100px;
    }

    &__image {
      height: 100%;
      position: relative !important;
      background-color: $color-bg-white;
      object-fit: contain;
    }

    &__text-wrapper {
      width: calc(100% - 103px); // image分を引く
      padding: 0 30px;
    }

    &__time {
      margin-bottom: 5px;
      font-size: 1.4rem;
      font-weight: 500;
    }

    &__text {
      font-weight: 500;
      line-height: 2;
    }

    &:nth-of-type(n+3) {
      margin-top: 20px;
    }

    & + & {
      @include mixin.media-query("md") {
        margin-top: 20px;
      }
    }
  }

  @keyframes fade-in-news {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }
}

////////////////////
// access
////////////////////
.section-access {
  padding-top: 60px;
  padding-bottom: 110px;
  background-image: url("/image/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-access .section-title {
  margin-bottom: 79px;
}

.access-info {
  display: flex;
  align-items: center;
  margin-bottom: 69px;

  @include mixin.media-query("md") {
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__image-wrapper {
    width: 55%;
    height: 370px;
    margin-right: 7%;

    @include mixin.media-query("md") {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__image {
    height: 100%;
    position: relative !important;
    
  }

  &__text-wrapper {
    width: 45%;

    @include mixin.media-query("md") {
      width: 100%;
    }
  }

  &-item {
    &__title {
      margin-bottom: 19px;
      font-weight: 800;

      @include mixin.media-query("md") {
        margin-bottom: 10px;
      }
    }

    &__text {
      font-weight: 500;
      line-height: 2;

      &:not(:last-of-type) {
        margin-bottom: 19px;

        @include mixin.media-query("md") {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.access-map-wrapper {
  text-align: center;
}

.map {
  width: 67%;

  @include mixin.media-query("md") {
    width: 100%;
  }
}
