////////////////////
// first view
////////////////////
.fv {
  background-image: url(../image/contact-page-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  height: 100vh;
  position: relative;
}

.fv-container {
  height: 100%;
  padding: 0 15px;

  &__title {
    font-size: 3rem;
    font-weight: bold;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
  }

  &__footer {
    bottom: 40px;
    font-size: 4rem;
    font-weight: bold;
    opacity: 0.05;
    position: absolute;
    text-align: left;
  }
}

////////////////////
// contact form
////////////////////
.contact-form-container {
  margin: 0 auto;
  max-width: 700px;
  padding: 100px 15px 80px;

  &__send-button {
    &:hover {
      opacity: .7;
      transition: .3s;
    }
  }
}

.contact-form-list {
  margin-bottom: 80px;
}

.contact-form-list-item {
  &__label {
    display: block;
    font-weight: bold;
    margin-bottom: 3px;
  }

  input[type="text"] {
    border: 1px solid #141414;
    line-height: 30px;
    padding: 0 8px;
    width: 100%;
  }

  textarea {
    border: 1px solid #141414;
    height: 171px;
    line-height: 30px;
    padding: 0 8px;
    width: 100%;
  }

  &+& {
    margin-top: 22px;
  }
}

@media screen and (min-width: 768px) {
  ////////////////////
  // first view
  ////////////////////
  .fv-container {
    padding: 0 48px;

    &__title {
      font-size: 6rem;
    }

    &__footer {
      font-size: 9rem;
    }
  }

  ////////////////////
  // contact form
  ////////////////////
  .content-list {
    display: flex;
  }

  .content-list-item {
    &+& {
      margin-left: 20px;
    }
  }
}