////////////////////
// common
////////////////////
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  color: #171717;
  font-family: 'Noto Serif', 'Noto Serif JP', serif;
  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
  letter-spacing: 0.05em;
}

img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

.section-wrapper {
  padding: 100px 0 40px;
}

.section-title {
  font-size: 3rem;
  font-style: italic;
  font-weight: bold;
  margin-bottom: 51px;
  padding: 0 15px;

  &:after {
    background-color: #282F35;
    content: '';
    display: inline-block;
    margin-left: 31px;
    height: 5px;
    vertical-align: middle;
    width: 90px;
  }
}

.section-footer {
  font-size: 4rem;
  font-weight: bold;
  opacity: 0.05;
  padding: 40px 15px 0;
}

section:nth-of-type(2n+1) {
  .section-title-container {
    color: #282F35;
    text-align: left;

    &:after {
      background-color: #282F35;
    }
  }

  

  .section-footer {
    text-align: right;
  }
}

section:nth-of-type(2n) {
  .section-title {
    color: white;
    text-align: right;

    &:after {
      background-color: white;
    }
  }

  .section-footer {
    color: white;
    text-align: left;
  }
}

.link-button {
  align-items: center;
  background-color: #F7D43F;
  border-radius: 30px;
  display: flex;
  height: 60px;
  justify-content: center;
  margin: 0 auto;
  width: 235px;
  transition: .3s;

  &:hover {
    opacity: .7;
    transition: .3s;
  }
}

.no-scroll {
  overflow: hidden;
}

.sp-br {
  display: block;
}

.pc-br {
  display: none;
}

////////////////////
// header
////////////////////
.header-wrapper {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 30px 15px;
  position: absolute;
  transition: .3s;
  width: 100%;

  &.fixed {
    background-color: #282F35;
    position: fixed;
    top: 0;
    transition: .3s;
  }
}

.header-title {
  font-size: 2.6rem;
  font-style: italic;
  font-weight: bold;
  z-index: 1;
}

.header-nav {
  background-color: #282F35;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 1;
}

.header-nav-list {
  display: flex;
  flex-direction: column;
  text-align: center;
  z-index: 2;
}

.header-nav-list-item {
  color: white;
  border-bottom: 1px solid white;
  font-weight: bold;
  padding: 10vh 0;

  &__link:hover {
    opacity: .7;
    transition: .3s;
  }
}

.burger-button {
  display: block;
  transition: all .5s;
  z-index: 3;

  &__bar {
    background-color: #fff;
    display: block;
    height: 3px;
    transition: .3s;
    width: 30px;

    &.bar-top {
      margin-bottom: 8px;
    }

    &.bar-middle {
      margin-bottom: 8px;
    }
  }

  &.open {
    .burger-button__bar {
      transition: .3s;

      &.bar-top {
        transform: rotate(45deg) translate(8px, 8px);
      }

      &.bar-middle {
        opacity: 0;
      }

      &.bar-bottom {
        transform: rotate(-45deg) translate(8px, -8px);
      }
    }
  }
}

////////////////////
// first view
////////////////////
.fv {
  color: white;
  font-weight: bold;
  height: 100vh;
  min-height: 550px;
  position: relative;
}

.fv img {
  height: 100vh;
  min-height: 550px;
  object-fit: cover;
}

.fv-title-container {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;

  &__title {
    font-size: 3.7rem;
    margin-bottom: 53px;
    z-index: 10;
  }

  &__sub-title {
    font-size: 3rem;
    line-height: 1.67;
  }
}

.slick-arrow {
  display: none !important;
}

////////////////////
// concept
////////////////////
.section-inner {
  padding: 0 15px;
}

.section-sub-title {
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
  margin-bottom: 31px;
  text-align: center;
}

.concept-content {
  &__text {
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  &__image-wrapper {
    width: 100%;
  }
}

////////////////////
// works
////////////////////
.works-bg {
  background-image: url(../image/works-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.works-list {
  margin-bottom: 80px;
  padding: 0 15px;
}

.works-list-item {
  background-color: white;
  box-shadow: 0 0 6px #000000;
  margin: 0 8px;

  &__text {
    padding: 25px 20px;
  }

  &+& {
    margin-top: 30px;
  }
}

////////////////////
// service
////////////////////
.service-list-item {
  background-position: center;
  background-size: cover;
  color: white;
  text-align: center;

  &.item1 {
    background-image: url(../image/service-img01@2x.jpg);
  }

  &.item2 {
    background-image: url(../image/service-img02@2x.jpg);
  }

  &.item3 {
    background-image: url(../image/service-img03@2x.jpg);
  }

  &__link {
    display: block;
    font-size: 2rem;
    font-weight: bold;
    line-height: 320px;
    transition: opacity .3s;
    width: 100%;

    &:hover {
      background-color: rgba(40, 47, 53, 0.7);
      transition: background-color .3s;
    }
  }

  &+& {
    margin-top: 30px;
  }
}

////////////////////
// contact
////////////////////
.contact-bg {
  background-image: url(../image/contact-bgi@2x.jpg);
  background-position: center;
  background-size: cover;
}

.contact-text {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  line-height: 1.35;
  text-align: center;
}

////////////////////
// footer
////////////////////
footer {
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 80px;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section-wrapper {
    padding: 100px 0 70px;
  }

  .section-title {
    font-size: 6rem;
    margin-bottom: 70px;
    padding: 0 60px 0 110px;

    &:after {
      width: 200px;
    }
  }

  .section-footer {
    font-size: 9rem;
    padding: 70px 120px 0;
  }

  .sp-br {
    display: none;
  }

  .pc-br {
    display: block;
  }

  ////////////////////
  // header
  ////////////////////
  .header-wrapper {
    padding: 20px 120px;
    position: absolute;
  }

  .header-nav {
    background-color: initial;
    display: block;
    height: 100%;
    position: initial;
    width: auto;
  }

  .header-nav-list {
    flex-direction: row;
  }

  .header-nav-list-item {
    border-bottom: none;
    padding: 0;

    &+& {
      margin-left: 30px;
    }
  }

  .burger-button {
    display: none;
  }

  ////////////////////
  // first view
  ////////////////////
  .fv-title-container {
    bottom: 177px;
    left: 120px;
    text-align: left;
    transform: translate(0, 0);

    &__title {
      font-size: 7rem;
      margin-bottom: 23px;
    }

    &__sub-title {
      font-size: 4rem;
      padding-left: 40px
    }
  }

  ////////////////////
  // concept
  ////////////////////
  .section-inner {
    padding: 0 110px;   
  }

  .section-sub-title {
    font-size: 3rem;
    line-height: 1.75;
    margin-bottom: 60px;
  }

  .concept-content {
    display: flex;
    justify-content: space-between;

    &__text {
      margin-bottom: 0px;
      width: 45%;
    }

    &__image-wrapper {
      width: 45%;
    }
  }

  ////////////////////
  // works
  ////////////////////
  .works-list {
    display: flex;
    padding: 0 110px;
  }

  .works-list-item {
    box-sizing: border-box;
    margin: 0;
    width: 33%;

    &+& {
      margin-left: 20px;
      margin-top: 0px;
    }
  }

  ////////////////////
  // service
  ////////////////////
  .service-list {
    display: flex;
  }

  .service-list-item {
    width: 33%;

    &__link {
      font-size: 4rem;
    }

    &+& {
      margin-top: 0;
    }
  }
}


@media screen and (min-width: 992px) {
  .section-title {
    padding: 0 120px 0 220px;
  }

  ////////////////////
  // concept
  ////////////////////
  .section-inner {
    padding: 0 220px;   
  }

  ////////////////////
  // works
  ////////////////////
  .works-list {
    padding: 0 220px;
  }
}