@use "variables"as *;
@use "../mixin/mixin";

////////////////////
// common
////////////////////
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  font-family:
    "游ゴシック体",
    YuGothic,
    "游ゴシック",
    "Yu Gothic",
    "メイリオ",
    "Hiragino Kaku Gothic ProN",
    "Hiragino Sans",
    sans-serif;

  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
  font-weight: 500;
  color: $color-text;
}

img {
  width: 100%;
  vertical-align: bottom;
  object-fit: cover;
}

a:hover {
  opacity: 0.7;
  transition: 0.3s;
}

.content-wrapper {
  max-width: 940px; // 900px + 左右padding40px
  padding: 0 20px;
  margin: 0 auto;
}

.section-title {
  font-size: 3.6rem;
  font-weight: bold;
  text-align: center;

  @include mixin.media-query("lg") {
    font-size: 2.8rem;
  }

  @include mixin.media-query("md") {
    font-size: 2.4rem;
  }
}

.child-page-section-title {
  font-size: 3.2rem;
  font-weight: bold;
  text-align: center;
}

.logo-icon-wrapper {
  margin-bottom: 13px;
  text-align: center;
}

.logo-icon {
  width: 40px;
  height: 40px;
}

.no-scroll {
  overflow: hidden;
}

.br-xl-show {
  display: none;

  @include mixin.media-query("xl") {
    display: block;
  }
}

.br-lg-show {
  display: none;

  @include mixin.media-query("lg") {
    display: block;
  }
}

.br-lg-hide {
  display: block;

  @include mixin.media-query("lg") {
    display: none;
  }
}

.br-md-show {
  display: none;

  @include mixin.media-query("md") {
    display: block;
  }
}

.br-md-hide {
  display: block;

  @include mixin.media-query("md") {
    display: none;
  }
}

.br-sm-show {
  display: none;

  @include mixin.media-query("sm") {
    display: block;
  }
}

.br-sm-hide {
  display: block;

  @include mixin.media-query("sm") {
    display: none;
  }
}

.br-xs-show {
  display: none;

  @include mixin.media-query("xs") {
    display: block;
  }
}

.br-xs-hide {
  display: block;

  @include mixin.media-query("xs") {
    display: none;
  }
}

.document-request-button {
  display: block;
  max-width: 260px;
  height: 60px;
  margin: 0 auto;
  font-weight: bold;
  line-height: 60px;
  color: $color-text-white;
  text-align: center;
  background-color: $color-bg-yellow;
  border-radius: 31px;
}

.contact-button {
  display: block;
  color: $color-text-white;
  text-decoration: underline;
}

////////////////////
// breadcrumb
////////////////////
.breadcrumb-wrapper {
  padding: 17px 0;
  margin-bottom: 58px;
  background-color: #f8f8f8;
}

.breadcrumb {
  font-size: 1.2rem;
  line-height: 1.5;
  word-wrap: break-word;

  & a {
    text-decoration: underline;
  }
}

.breadcrumb-arrow {
  padding: 0 10px;
}

////////////////////
// fv
////////////////////
.fv {
  min-height: 80px;

  @include mixin.media-query("md") {
    min-height: 60px;
  }
}

////////////////////
// child page fv
////////////////////
.child-page-fv {
  position: relative;
  height: 100vh;
  max-height: calc(221px + 80px); // 221px + 80px(ヘッダー分)
  color: $color-text-white;
  text-align: center;

  @include mixin.media-query("md") {
    max-height: calc(221px + 60px); // 221px + 60px(ヘッダー分)
  }

  &-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    padding-top: 80px;  // ヘッダー分
    transform: translate(-50%, -50%);

    @include mixin.media-query("md") {
      padding-top: 60px;  // ヘッダー分
    }
  }

  &-title {
    font-size: 3.2rem;
    font-weight: bold;
  }
}

.child-page-fv-image-wrapper {
  height: 100%;
  padding-top: 80px;  // ヘッダー分

  @include mixin.media-query("md") {
    padding-top: 60px;  // ヘッダー分
  }
}

.child-page-fv-image {
  height: 100%;
}

.child-page-dot-sm-hide {
  @include mixin.media-query("sm") {
    display: none;
  }
}

.error404-text {
  margin: 50px 0;
  font-size: 1.8rem;
  text-align: center;
}
