@use "variables"as *;
@use "../mixin/mixin";

////////////////////
// contact
////////////////////
.contact-bg {
  padding-top: 70px;
  padding-bottom: 40px;
  background: url("../image/cta.png") center / cover;
}

.section-contact {
  & .content-wrapper {
    text-align: center;
  }

  & .section-title {
    margin-bottom: 16px;
    font-size: 3.2rem;
    color: #f8f8f8;
  }

  & .document-request-button {
    margin-bottom: 19px;
  }
}

.phone-number-wrapper {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-top: 13px;
  padding-bottom: 19px;
}

.phone-number-text {
  margin-right: 38px;
  font-weight: bold;
}

.phone-number {
  margin-right: 21px;
  font-size: 3.6rem;
  font-weight: bold;
}

.business-hours {
  font-weight: 500;
}

////////////////////
// footer
////////////////////
.footer-content-wrapper {
  padding-top: 46px;
  padding-bottom: 66px;
  color: #f8f8f8;
  background-color: #1b224c;

  & > .content-wrapper {
    display: flex;
  }
}

.footer-nav-list {
  display: flex;
  align-items: flex-start;
  width: 80%;

  &-item {
    padding: 0 26px;
    font-weight: bold;

    & + & {
      border-left: 1px solid #fff;
    }
  }
}

.footer-phone-number-wrapper {
  text-align: right;
}

.footer-logo-wrapper {
  padding: 14px 19px;
  margin-bottom: 24px;
  background-color: white;
}

.footer-phone-number {
  margin-bottom: 9px;
  font-weight: bold;

  &::before {
    margin-right: 7px;
    content: url("../image/phone-white.png");
  }
}

.footer-business-hours {
  font-size: 1.2rem;
  font-weight: 500;
}

.footer-copyright {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 36px;
  text-align: right;
}
