@use "variables"as *;
@use "../mixin/mixin";

////////////////////
// header
////////////////////
.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: $color-bg-white;

  @include mixin.z-index(header);

  @include mixin.media-query("md") {
    height: 60px;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    transition: 0.3s;

    @include mixin.media-query("sm") {
      padding: 0 10px;
    }

    & .menu-global-menu-container {
      @include mixin.media-query("md") {
        display: none;
      }

      & .menu {
        display: flex;

        &-item {
          font-weight: bold;

          @include mixin.media-query("lg") {
            font-size: 1.4rem;
          }

          &:not(:first-of-type) {
            margin-left: 38px;

            @include mixin.media-query("lg") {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }
}

.header-title-wrapper {
  margin-right: 40px;

  @include mixin.media-query("lg") {
    width: 110px;
    margin-right: 15px;
  }
}

.header-info-and-button-wrapper {
  display: flex;
  margin-left: auto;

  @include mixin.media-query("md") {
    display: none;
  }
}

.header-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 24px;

  @include mixin.media-query("lg") {
    margin-right: 5px;
  }
}

.header-business-hours {
  margin-bottom: 5px;
  font-size: 1.2rem;
  text-align: right;
}

.header-phone-number {
  font-weight: bold;

  @include mixin.media-query("lg") {
    font-size: 1.4rem;
  }

  &::before {
    margin-right: 5px;
    vertical-align: middle;
    content: url("../image/phone-blue.png");
  }
}

.header-document-request-button {
  display: block;
  width: 142px;
  height: 50px;
  margin-right: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 50px;
  color: $color-text-white;
  text-align: center;
  background-color: $color-bg-yellow;
  border-radius: 5px;

  @include mixin.media-query("xsm") {
    width: 110px;
  }

  @include mixin.media-query("lg") {
    width: 80px;
    margin-right: 5px;
  }
}

.header-contact-button {
  display: block;
  width: 137px;
  height: 50px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 50px;
  color: $color-text-white;
  text-align: center;
  background-color: $color-bg;
  border-radius: 5px;

  @include mixin.media-query("xsm") {
    width: 120px;
  }

  @include mixin.media-query("lg") {
    width: 110px;
  }
}

.burger-nav {
  position: fixed;
  top: 60px;
  right: -230px;
  display: none;
  width: 230px;
  height: calc(100vh - 60px); // ヘッダー分を現在
  padding: 30px;
  overflow: hidden;
  color: $color-text-white;
  background-color: $color-bg;

  @include mixin.z-index(header-nav);

  @include mixin.media-query("md") {
    display: block;
  }

  &-logo-wrapper {
    width: 130px;
    padding: 10px;
    margin-bottom: 40px;
    background-color: white;
  }

  & .burger-menu-container {
    & .menu {
      &-item {
        font-weight: bold;

        &:not(:first-of-type) {
          margin-top: 20px;
        }
      }
    }
  }
}

.burger-button {
  position: relative;
  display: none;
  width: 40px;
  height: 36px;
  margin-left: auto;
  transition: all 0.3s;

  @include mixin.z-index(burger-button);

  @include mixin.media-query("md") {
    display: block;
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: black;
    border-radius: 2.5px;
    transition: 0.3s;

    &.bar-middle {
      top: 15px;
    }

    &.bar-bottom {
      top: 30px;
    }
  }

  &.open & {
    &__bar {
      &.bar-top {
        top: 18px;
        transform: rotate(45deg);
      }

      &.bar-middle {
        opacity: 0;
      }

      &.bar-bottom {
        top: 18px;
        transform: rotate(-45deg);
      }
    }
  }
}
