@use "variables"as *;
@use "../mixin/mixin";

////////////////////
// header
////////////////////
.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: $color-bg-white;

  @include mixin.z-index(header);

  @include mixin.media-query("md") {
    height: 60px;
  }

  &-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 15px;
    transition: 0.3s;

    @include mixin.media-query("sm") {
      padding: 0 10px;
    }
  }
}

.header-title-wrapper {
  margin-right: 40px;
}

// TODO:スマホメニュー
.header-nav {
  @include mixin.media-query("md") {
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    width: 100vw;
    overflow: hidden;
    background-color: $color-header-nav-bg-black;

    &-bg-color-white {
      background-color: $color-header-nav-bg-white;
    }

    @include mixin.z-index(header-nav);
  }
}

.menu {
  display: flex;

  @include mixin.media-query("md") {
    flex-direction: column;
    align-items: center;
    padding: 30px;
  }

  &-item {
    font-weight: bold;

    & + & {
      margin-left: 38px;

      @include mixin.media-query("md") {
        margin-top: 15px;
        margin-left: 0;
      }
    }
  }
}

.header-info-and-button-wrapper {
  display: flex;
  margin-left: auto;
}

.header-info-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 24px;
}

.header-business-hours {
  margin-bottom: 5px;
  font-size: 1.2rem;
  text-align: right;
}

.header-phone-number {
  font-weight: bold;

  &::before {
    margin-right: 5px;
    vertical-align: middle;
    content: url("../image/phone-blue.png");
  }
}

.header-document-request-button {
  display: block;
  width: 142px;
  height: 50px;
  margin-right: 10px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 50px;
  color: $color-text-white;
  text-align: center;
  background-color: $color-document-request-button;
  border-radius: 5px;
}

.header-contact-button {
  display: block;
  width: 137px;
  height: 50px;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 50px;
  color: $color-text-white;
  text-align: center;
  background-color: #1b224c;
  border-radius: 5px;
}

.burger-button {
  position: relative;
  display: none;
  width: 40px;
  height: 36px;
  margin-left: 20px;
  transition: all 0.3s;

  @include mixin.z-index(burger-button);

  @include mixin.media-query("md") {
    display: block;
  }

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: $color-burger-button-white;
    border-radius: 2.5px;
    transition: 0.3s;

    &-bg-color-black {
      background-color: $color-burger-button-black;
    }

    &.bar-middle {
      top: 17px;
    }

    &.bar-bottom {
      top: 34px;
    }
  }

  &.open & {
    &__bar {
      &.bar-top {
        top: 18px;
        transform: rotate(45deg);
      }

      &.bar-middle {
        opacity: 0;
      }

      &.bar-bottom {
        top: 18px;
        transform: rotate(-45deg);
      }
    }
  }
}
