@use "variables"as *;
@use "../mixin/mixin";

.blog-main-sidebar-wrapper {
  display: flex;

  @include mixin.media-query("md") {
    flex-direction: column;
  }
}

main {
  width: 65%;
  margin-right: 35px;

  @include mixin.media-query("md") {
    width: 100%;
    margin-right: 0;
  }
}

.sidebar {
  width: 35%;

  @include mixin.media-query("md") {
    display: flex;
    width: 100%;
  }

  @include mixin.media-query("sm") {
    flex-direction: column;
  }
}

.related-articles-wrapper,
.category-wrapper {
  @include mixin.media-query("md") {
    width: 50%;
  }

  @include mixin.media-query("sm") {
    width: 100%;
  }
}

.related-articles-wrapper {
  @include mixin.media-query("md") {
    margin-right: 20px;
  }

  @include mixin.media-query("sm") {
    margin-right: 0;
  }
}

.related-articles-title,
.category-title {
  padding: 18px 0;
  margin-bottom: 30px;
  font-size: 2.1rem;
  font-weight: bold;
  color: $color-text-white;
  text-align: center;
  background-color: $color-bg;
}

////////////////////
// sidebar-post-list
////////////////////
.sidebar-post-list {
  margin-bottom: 27px;
}

.sidebar-post-list-item {
  &__link {
    display: flex;
    height: 70px;
  }

  &__image-wrapper {
    width: 37%;
    height: 100%;
    max-height: 70px;
    margin-right: 17px;
  }

  &__image {
    height: 100%;
    max-height: 70px;
  }

  &__text-wrapper {
    width: 56%;
  }

  &__title {
    font-size: 1.2rem;
    line-height: calc(24 / 12);
    text-decoration: underline;
    word-wrap: break-word;
  }

  & + & {
    margin-top: 42px;
  }
}

////////////////////
// category-list
////////////////////
.category-list {
  margin-bottom: 27px;
}

.category-list-item {
  padding-left: 14px;
  font-weight: bold;

  & + & {
    margin-top: 11px;
  }
}
