// color
$color-text: #1b224c;
$color-text-yellow: #f5a623;
$color-text-black: #000;
$color-text-white: #fff;

// background-color
$color-bg: #1b224c;
$color-bg-yellow: #f5a623;
$color-bg-black: #000;
$color-bg-white: #fff;

// border
$color-border: #1b224c;
$color-border-white: #fff;

// breakpoints
$breakpoints: (
  "xs": "screen and (max-width: 399px)",
  "sm": "screen and (max-width: 576px)",
  "md": "screen and (max-width: 768px)",
  "lg": "screen and (max-width: 1024px)",
  "xsm": "screen and (max-width: 1124px)",
  "xl": "screen and (max-width: 1280px)",
);

// layer z-index
$layer: (
  reserve-modal: 100,
  header-nav: 20,
  burger-button: 20,
  header: 10,
  top-fv-title: 5,
);
