@charset "UTF-8";
.fv {
  height: 80vh;
  max-height: 500px;
  background-image: url("../image/menu-header.png");
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 33px;
}
@media screen and (max-width: 1024px) {
  .fv {
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .fv {
    height: 250px;
  }
}
@media screen and (max-width: 576px) {
  .fv {
    height: 200px;
  }
}
.fv-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.4rem;
  font-weight: 800;
  text-shadow: 3px 3px 0 #000;
}

.section-meal {
  margin-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .section-meal {
    margin-bottom: 70px;
  }
}

.section-meal > .content-wrapper {
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .section-meal > .content-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .section-meal > .content-wrapper {
    width: 100%;
    padding: 0;
  }
}

.meal-title {
  text-align: center;
  line-height: 2;
  font-weight: 500;
  margin-bottom: 133px;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .meal-title {
    margin-bottom: 60px;
  }
}

.meal-list-item {
  position: relative;
}
.meal-list-item__image-wrapper {
  position: absolute;
  width: 45%;
  left: 0;
  top: -57px;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .meal-list-item__image-wrapper {
    position: relative;
    width: 100%;
    top: 0;
    z-index: 1;
  }
}
.meal-list-item__text-wrapper {
  background-image: url("../image/bg.jpg");
  z-index: 1;
  width: 70%;
  height: 381px;
  padding: 55px 60px;
}
@media screen and (max-width: 768px) {
  .meal-list-item__text-wrapper {
    background-image: none;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 40px;
    width: 100%;
    color: white;
    /* 文字の影 */
    text-shadow: 1px 1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000, -1px -1px 1px #000000, 1px 0px 1px #000000, 0px 1px 1px #000000, -1px 0px 1px #000000, 0px -1px 1px #000000;
  }
}
@media screen and (max-width: 399px) {
  .meal-list-item__text-wrapper {
    padding: 10px;
  }
}
.meal-list-item__title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 46px;
}
@media screen and (max-width: 768px) {
  .meal-list-item__title {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .meal-list-item__title {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 399px) {
  .meal-list-item__title {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
}
.meal-list-item__text {
  font-weight: 500;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .meal-list-item__text {
    line-height: 1.5;
  }
}
@media screen and (max-width: 399px) {
  .meal-list-item__text {
    font-size: 1.4rem;
  }
}
.meal-list-item:nth-of-type(2n+1) .meal-list-item__text-wrapper {
  margin-left: auto;
  padding-left: 238px;
}
@media screen and (max-width: 1024px) {
  .meal-list-item:nth-of-type(2n+1) .meal-list-item__text-wrapper {
    padding-left: 180px;
  }
}
@media screen and (max-width: 768px) {
  .meal-list-item:nth-of-type(2n+1) .meal-list-item__text-wrapper {
    padding-left: 40px;
  }
}
@media screen and (max-width: 399px) {
  .meal-list-item:nth-of-type(2n+1) .meal-list-item__text-wrapper {
    padding-left: 10px;
  }
}
.meal-list-item:nth-of-type(2n) .meal-list-item__image-wrapper {
  right: 0;
  left: initial;
}
.meal-list-item:nth-of-type(2n) .meal-list-item__text-wrapper {
  padding-right: 150px;
}
@media screen and (max-width: 768px) {
  .meal-list-item:nth-of-type(2n) .meal-list-item__text-wrapper {
    padding-right: 40px;
  }
}
@media screen and (max-width: 399px) {
  .meal-list-item:nth-of-type(2n) .meal-list-item__text-wrapper {
    padding-right: 10px;
  }
}
.meal-list-item + .meal-list-item {
  margin-top: 141px;
}
@media screen and (max-width: 768px) {
  .meal-list-item + .meal-list-item {
    margin-top: 70px;
  }
}
@media screen and (max-width: 576px) {
  .meal-list-item + .meal-list-item {
    margin-top: 40px;
  }
}