@charset "UTF-8";
.fv {
  position: relative;
  height: 80vh;
  max-height: 500px;
  margin-bottom: 33px;
  background-image: url("../image/oheya-header.png");
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 1024px) {
  .fv {
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .fv {
    height: 250px;
  }
}
@media screen and (max-width: 576px) {
  .fv {
    height: 200px;
  }
}
.fv-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3.4rem;
  font-weight: 800;
  color: #fff;
  text-shadow: 3px 3px 0 #000;
  transform: translate(-50%, -50%);
}

.section-room {
  margin-bottom: 150px;
}
@media screen and (max-width: 768px) {
  .section-room {
    margin-bottom: 70px;
  }
}

.section-room > .content-wrapper {
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .section-room > .content-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .section-room > .content-wrapper {
    width: 100%;
    padding: 0;
  }
}

.room-title {
  padding: 0 10px;
  margin-bottom: 133px;
  font-weight: 500;
  line-height: 2;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .room-title {
    margin-bottom: 60px;
  }
}

.room-list-item {
  position: relative;
}
.room-list-item__image-wrapper {
  position: absolute;
  top: -57px;
  left: 0;
  width: 45%;
}
@media screen and (max-width: 768px) {
  .room-list-item__image-wrapper {
    position: relative;
    top: 0;
    width: 100%;
  }
}
.room-list-item__text-wrapper {
  width: 70%;
  height: 381px;
  padding: 55px 60px;
  background-image: url("../image/bg.jpg");
}
@media screen and (max-width: 768px) {
  .room-list-item__text-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 40px;
    color: white;
    /* 文字の影 */
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000, 1px 0 1px #000, 0 1px 1px #000, -1px 0 1px #000, 0 -1px 1px #000;
    background-image: none;
  }
}
@media screen and (max-width: 399px) {
  .room-list-item__text-wrapper {
    padding: 10px;
  }
}
.room-list-item__title {
  margin-bottom: 46px;
  font-size: 2.4rem;
  font-weight: 500;
}
@media screen and (max-width: 768px) {
  .room-list-item__title {
    margin-bottom: 30px;
    font-size: 2rem;
  }
}
@media screen and (max-width: 576px) {
  .room-list-item__title {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 399px) {
  .room-list-item__title {
    margin-bottom: 15px;
    font-size: 1.8rem;
  }
}
.room-list-item__text {
  margin-bottom: 47px;
  font-weight: 500;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .room-list-item__text {
    margin-bottom: 25px;
    line-height: 1.5;
  }
}
@media screen and (max-width: 576px) {
  .room-list-item__text {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 399px) {
  .room-list-item__text {
    margin-bottom: 10px;
    font-size: 1.4rem;
  }
}
.room-list-item__caution {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.5;
}
@media screen and (max-width: 576px) {
  .room-list-item__caution {
    line-height: 1.3;
  }
}
@media screen and (max-width: 399px) {
  .room-list-item__caution {
    font-size: 1.2rem;
    line-height: 1.2;
  }
}
.room-list-item + .room-list-item {
  margin-top: 141px;
}
@media screen and (max-width: 768px) {
  .room-list-item + .room-list-item {
    margin-top: 70px;
  }
}
@media screen and (max-width: 576px) {
  .room-list-item + .room-list-item {
    margin-top: 40px;
  }
}
.room-list-item:nth-of-type(2n+1) .room-list-item__text-wrapper {
  padding-left: 238px;
  margin-left: auto;
}
@media screen and (max-width: 1024px) {
  .room-list-item:nth-of-type(2n+1) .room-list-item__text-wrapper {
    padding-left: 180px;
  }
}
@media screen and (max-width: 768px) {
  .room-list-item:nth-of-type(2n+1) .room-list-item__text-wrapper {
    padding-left: 40px;
  }
}
@media screen and (max-width: 399px) {
  .room-list-item:nth-of-type(2n+1) .room-list-item__text-wrapper {
    padding-left: 10px;
  }
}
.room-list-item:nth-of-type(2n) .room-list-item__image-wrapper {
  right: 0;
  left: initial;
}