@charset "UTF-8";
.fv {
  height: 80vh;
  max-height: 500px;
  background-image: url("../image/onsen-header.png");
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 33px;
}
@media screen and (max-width: 1024px) {
  .fv {
    height: 300px;
  }
}
@media screen and (max-width: 768px) {
  .fv {
    height: 250px;
  }
}
@media screen and (max-width: 576px) {
  .fv {
    height: 200px;
  }
}
.fv-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 3.4rem;
  font-weight: 800;
  text-shadow: 3px 3px 0 #000;
}

.section-spa {
  margin-bottom: 156.5px;
}
@media screen and (max-width: 768px) {
  .section-spa {
    margin-bottom: 70px;
  }
}

.section-spa > .content-wrapper {
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .section-spa > .content-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .section-spa > .content-wrapper {
    width: 100%;
    padding: 0;
  }
}

.spa-title {
  text-align: center;
  line-height: 2;
  font-weight: 500;
  margin-bottom: 133px;
  padding: 0 10px;
}
@media screen and (max-width: 768px) {
  .spa-title {
    margin-bottom: 60px;
  }
}

.spa-list-item {
  position: relative;
}
.spa-list-item__image-wrapper {
  position: absolute;
  width: 45%;
  left: 0;
  top: -57px;
}
@media screen and (max-width: 768px) {
  .spa-list-item__image-wrapper {
    position: relative;
    width: 100%;
    top: 0;
  }
}
.spa-list-item__text-wrapper {
  background-image: url("../image/bg.jpg");
  width: 70%;
  height: 381px;
  padding: 55px 60px;
}
@media screen and (max-width: 768px) {
  .spa-list-item__text-wrapper {
    background-image: none;
    position: absolute;
    top: 0;
    left: 0;
    padding: 30px 40px;
    width: 100%;
    color: white;
    /* 文字の影 */
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000, 1px 0px 1px #000, 0px 1px 1px #000, -1px 0px 1px #000, 0px -1px 1px #000;
  }
}
@media screen and (max-width: 399px) {
  .spa-list-item__text-wrapper {
    padding: 10px;
  }
}
.spa-list-item__title {
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 46px;
}
@media screen and (max-width: 768px) {
  .spa-list-item__title {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}
@media screen and (max-width: 576px) {
  .spa-list-item__title {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 399px) {
  .spa-list-item__title {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }
}
.spa-list-item__text {
  font-weight: 500;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .spa-list-item__text {
    line-height: 1.5;
  }
}
@media screen and (max-width: 399px) {
  .spa-list-item__text {
    font-size: 1.4rem;
  }
}
.spa-list-item:nth-of-type(2n+1) .spa-list-item__text-wrapper {
  margin-left: auto;
  padding-left: 238px;
}
@media screen and (max-width: 1024px) {
  .spa-list-item:nth-of-type(2n+1) .spa-list-item__text-wrapper {
    padding-left: 180px;
  }
}
@media screen and (max-width: 768px) {
  .spa-list-item:nth-of-type(2n+1) .spa-list-item__text-wrapper {
    padding-left: 40px;
  }
}
@media screen and (max-width: 399px) {
  .spa-list-item:nth-of-type(2n+1) .spa-list-item__text-wrapper {
    padding-left: 10px;
  }
}
.spa-list-item:nth-of-type(2n) .spa-list-item__image-wrapper {
  right: 0;
  left: initial;
}
.spa-list-item:nth-of-type(2n) .spa-list-item__text-wrapper {
  padding-right: 150px;
}
@media screen and (max-width: 768px) {
  .spa-list-item:nth-of-type(2n) .spa-list-item__text-wrapper {
    padding-right: 40px;
  }
}
@media screen and (max-width: 399px) {
  .spa-list-item:nth-of-type(2n) .spa-list-item__text-wrapper {
    padding-right: 10px;
  }
}
.spa-list-item + .spa-list-item {
  margin-top: 141px;
}
@media screen and (max-width: 768px) {
  .spa-list-item + .spa-list-item {
    margin-top: 70px;
  }
}
@media screen and (max-width: 576px) {
  .spa-list-item + .spa-list-item {
    margin-top: 40px;
  }
}

.section-efficacy > .content-wrapper::before, .section-efficacy > .content-wrapper::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #E7E7E7;
}
.section-efficacy > .content-wrapper::before {
  margin-bottom: 90.5px;
}
.section-efficacy > .content-wrapper::after {
  margin-bottom: 96.5px;
}

.section-efficacy .section-title {
  font-size: 2.6rem;
  font-weight: 500;
  margin-bottom: 47.5px;
}

.efficacy-list {
  padding: 0 150px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 74px;
}
@media screen and (max-width: 768px) {
  .efficacy-list {
    padding: 0 50px;
  }
}
@media screen and (max-width: 576px) {
  .efficacy-list {
    padding: 0 10px;
  }
}
.efficacy-list-item__title {
  font-size: 1.5rem;
  font-weight: 500;
  width: 30%;
  padding: 15px 0;
  border-top: 1px solid #E7E7E7;
}
.efficacy-list-item__title:last-of-type {
  border-bottom: 1px solid #E7E7E7;
}
.efficacy-list-item__description {
  font-size: 1.5rem;
  font-weight: 500;
  width: 70%;
  padding: 15px 0;
  border-top: 1px solid #E7E7E7;
}
.efficacy-list-item__description:last-of-type {
  border-bottom: 1px solid #E7E7E7;
}