@charset "UTF-8";
html {
  /* ルートのフォントサイズを10pxに設定 */
  font-size: 62.5%;
}

body {
  color: #000;
  font-family: 'Noto Sans JP', sans-serif;
  /* bodyのフォントサイズを1.6em（16px）に設定 */
  font-size: 1.6em;
}

img {
  object-fit: cover;
  vertical-align: bottom;
  width: 100%;
}

a:hover {
  opacity: .7;
  transition: .3s;
}

.content-wrapper {
  margin: 0 auto;
  max-width: 1180px;
  padding: 0 20px;
}

.section-title {
  font-size: 3.2rem;
  font-weight: bold;
  line-height: 1.34;
  text-align: center;
}

.section-sub-title {
  color: #3bA6C9;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 60px;
  padding-top: 14px;
  text-align: center;
}

.contact-button,
.submit-button {
  background: linear-gradient(to right, #FA41CC 0%, #6020B0 100%);
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  color: #fff;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 37px;
  text-align: center;
  width: 155px;
}

.logo-icon-wrapper {
  text-align: center;
  margin-bottom: 13px;
}

.logo-icon {
  width: 40px;
  height: 40px;
}

.no-scroll {
  overflow: hidden;
}

.header {
  display: none;
  background-color: #fff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  height: 94px;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-wrapper {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1024px;
  transition: .3s;
  padding: 0 20px;
}

.header-title-wrapper__link {
  align-items: center;
  display: flex;
}

.header-title-wrapper__logo {
  margin-right: 16px;
  height: 47px;
  width: 47px;
}

.header-title-wrapper__title {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 1.5;
}

.header-nav-list {
  display: flex;
}

.header-nav-list-item {
  font-weight: bold;
}

.header-nav-list-item + .header-nav-list-item {
  margin-left: 46px;
}

.burger-button {
  display: none;
  transition: all .3s;
  position: relative;
  width: 30px;
  height: 25px;
  z-index: 100;
}

.burger-button__bar {
  background-color: #05A5FA;
  border-radius: 2.5px;
  height: 5px;
  transition: .3s;
  position: absolute;
  top: 0;
  width: 100%;
  left: 0;
}

.burger-button__bar.bar-middle {
  top: 10px;
}

.burger-button__bar.bar-bottom {
  top: 20px;
}

.burger-button.open .burger-button__bar.bar-top {
  top: 10px;
  transform: rotate(45deg);
}

.burger-button.open .burger-button__bar.bar-middle {
  opacity: 0;
}

.burger-button.open .burger-button__bar.bar-bottom {
  top: 10px;
  transform: rotate(-45deg);
}

.fv {
  height: 100vh;
  position: relative;
}

.fv-inner {
  height: 100vh;
  max-width: 1024px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 25%;
  margin: 0 auto;
}

.fv-title {
  writing-mode: vertical-rl;
  font-size: 3.4rem;
  font-weight: 800;
  line-height: 1.235;
  color: #fff;
  text-shadow: 3px 3px 0 #000;
}

.fv-image-list-item {
  width: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  /* 最初は3枚の画像を非表示にしておく */
  opacity: 0;
  /* アニメーション設定 */
  animation: fade 15s infinite;
}

.fv-image-list-item:nth-child(1) {
  animation-delay: 0s;
}

.fv-image-list-item:nth-child(2) {
  animation-delay: 5s;
}

.fv-image-list-item:nth-child(3) {
  animation-delay: 10s;
}

.fv-image-list-item__image {
  height: 100vh;
}

/*
  アニメーション処理  
*/
@keyframes fade {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  30% {
    opacity: 1;
  }
  45% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.section-about {
  background-image: url("../image/bg.jpg");
  padding-bottom: 50px;
  padding-top: 146px;
}

.section-about > .content-wrapper {
  writing-mode: vertical-rl;
}

.about-title {
  font-size: 2.8rem;
  font-weight: 500;
  margin-left: 118px;
  letter-spacing: 0.42rem;
}

.about-title > span {
  margin-top: -85px;
  margin-left: 33px;
  display: block;
}

.about-text {
  font-weight: 500;
  line-height: 2.375;
  letter-spacing: 0.22em;
  margin-left: 118px;
  text-orientation: upright;
}

.about-name {
  font-size: 2.2rem;
  text-align: right;
  font-weight: 500;
  letter-spacing: 0.32em;
}

.section-feature {
  padding-bottom: 78px;
  padding-top: 106px;
}

.section-feature > .content-wrapper {
  max-width: 1920px;
  padding: 0;
}

.feature-list-item {
  display: flex;
  align-items: center;
}

.feature-list-item__image-wrapper {
  width: 55%;
  margin-right: 8%;
}

.feature-list-item__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}

.feature-list-item__title {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.72;
  margin-bottom: 67px;
}

.feature-list-item__text {
  line-height: 2;
  font-weight: 500;
  margin-bottom: 73px;
}

.feature-list-item__link {
  display: inline-block;
  width: 200px;
  line-height: 56px;
  border: 1px solid #707070;
  text-align: center;
}

.feature-list-item + .feature-list-item {
  margin-top: 122px;
}

.feature-list-item:nth-of-type(2n) {
  flex-direction: row-reverse;
}

.feature-list-item:nth-of-type(2n) .feature-list-item__image-wrapper {
  margin-left: 8%;
  margin-right: 0;
}

.feature-list-item:nth-of-type(2n) .feature-list-item__text-wrapper {
  margin-right: 0;
}

.feature-list-item:nth-of-type(2n) .feature-list-item__text {
  margin-bottom: 41px;
}

.section-plan {
  background-image: url("../image/bg02.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 142px;
}

.section-plan > .content-wrapper {
  max-width: 1180px;
}

.section-plan .section-title {
  margin-bottom: 61px;
}

.plan-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.plan-list-item {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
}

.plan-list-item__image-wrapper {
  margin-bottom: 28px;
}

.plan-list-item__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 30px;
}

.plan-list-item__text {
  font-weight: 500;
  line-height: 2;
}

.plan-list-item + .plan-list-item {
  margin-left: 94px;
}

@media screen and (max-width: 1280px) {
  .feature-list-item__title {
    font-size: 2.265rem;
    line-height: 1.22;
    margin-bottom: 42px;
  }
  .feature-list-item__text {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 46px;
  }
  .feature-list-item:nth-of-type(2n) .feature-list-item__text {
    margin-bottom: 26px;
  }
}
/*# sourceMappingURL=styles.css.map */