@charset "UTF-8";
.fv {
  height: 100vh;
  position: relative;
}
.fv-inner {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: 1024px;
  padding-right: 25%;
}
@media screen and (max-width: 576px) {
  .fv-inner {
    justify-content: center;
    padding-right: 0;
  }
}
.fv-title {
  color: #fff;
  font-size: 3.4rem;
  font-weight: 800;
  line-height: 1.235;
  text-shadow: 3px 3px 0 #000;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}

.fv-image-list-item {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;
}
.fv-image-list-item__image {
  /* アニメーション設定 */
  -webkit-animation: fadeFv 15s infinite linear;
          animation: fadeFv 15s infinite linear;
  height: 100vh;
  /* 最初は3枚の画像を非表示にしておく */
  opacity: 0;
}
.fv-image-list-item:nth-child(1) > .fv-image-list-item__image {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.fv-image-list-item:nth-child(2) > .fv-image-list-item__image {
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}
.fv-image-list-item:nth-child(3) > .fv-image-list-item__image {
  -webkit-animation-delay: 10s;
          animation-delay: 10s;
}

/*
  アニメーション処理  
*/
@-webkit-keyframes fadeFv {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: scale(1.1);
  }
}
@keyframes fadeFv {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  40% {
    opacity: 0;
    transform: scale(1.1);
  }
}
.section-about {
  background-image: url("../image/bg.jpg");
  padding-bottom: 50px;
  padding-top: 146px;
}
@media screen and (max-width: 576px) {
  .section-about {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.section-about > .content-wrapper {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
@media screen and (max-width: 576px) {
  .section-about > .content-wrapper {
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
  }
}

.about-title {
  font-size: 2.8rem;
  font-weight: 500;
  margin-left: 118px;
  letter-spacing: 0.42rem;
}
@media screen and (max-width: 1024px) {
  .about-title {
    margin-left: 70px;
  }
}
@media screen and (max-width: 768px) {
  .about-title {
    font-size: 1.8rem;
    margin-left: 50px;
  }
}
@media screen and (max-width: 576px) {
  .about-title {
    margin-left: 0;
    line-height: 2;
    margin-bottom: 10px;
  }
}
.about-title > span {
  margin-top: -85px;
  margin-left: 33px;
  display: block;
}
@media screen and (max-width: 768px) {
  .about-title > span {
    margin-top: -55px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 576px) {
  .about-title > span {
    margin-top: 0;
    margin-left: 0;
  }
}

.about-text {
  font-weight: 500;
  letter-spacing: 0.22rem;
  line-height: 2.375;
  margin-left: 118px;
  text-orientation: upright;
}
@media screen and (max-width: 1024px) {
  .about-text {
    margin-left: 60px;
  }
}
@media screen and (max-width: 768px) {
  .about-text {
    line-height: 1.7;
    margin-left: 40px;
  }
}
@media screen and (max-width: 576px) {
  .about-text {
    margin-bottom: 20px;
    margin-left: 20px;
  }
}
@media screen and (max-width: 399px) {
  .about-text {
    font-size: 1.4rem;
    margin-left: 10px;
  }
}

.about-name {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.32em;
  text-align: right;
}
@media screen and (max-width: 768px) {
  .about-name {
    font-size: 1.8rem;
  }
}

.section-feature {
  padding-bottom: 78px;
  padding-top: 106px;
}
@media screen and (max-width: 768px) {
  .section-feature {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.section-feature > .content-wrapper {
  max-width: 1920px;
  padding: 0;
}
@media screen and (max-width: 768px) {
  .section-feature > .content-wrapper {
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .section-feature > .content-wrapper {
    width: 100%;
  }
}

.feature-list-item {
  align-items: center;
  display: flex;
  position: relative;
}
.feature-list-item__image-wrapper {
  margin-right: 8%;
  width: 55%;
}
@media screen and (max-width: 768px) {
  .feature-list-item__image-wrapper {
    margin-right: 0;
    width: 100%;
  }
}
.feature-list-item__text-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .feature-list-item__text-wrapper {
    color: #fff;
    height: 100%;
    padding: 10px;
    position: absolute;
    /* 文字の影 */
    text-shadow: 1px 1px 1px #000000, -1px 1px 1px #000000, 1px -1px 1px #000000, -1px -1px 1px #000000, 1px 0px 1px #000000, 0px 1px 1px #000000, -1px 0px 1px #000000, 0px -1px 1px #000000;
    width: 100%;
  }
}
.feature-list-item__title {
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.72;
  margin-bottom: 67px;
}
@media screen and (max-width: 1280px) {
  .feature-list-item__title {
    font-size: 3rem;
    margin-bottom: 42px;
  }
}
@media screen and (max-width: 1024px) {
  .feature-list-item__title {
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .feature-list-item__title {
    font-size: 1.6rem;
  }
}
@media screen and (max-width: 399px) {
  .feature-list-item__title {
    font-size: 1.4rem;
    margin-bottom: 10px;
  }
}
.feature-list-item__text {
  font-weight: 500;
  line-height: 2;
  margin-bottom: 73px;
}
@media screen and (max-width: 1280px) {
  .feature-list-item__text {
    font-size: 1.4rem;
    line-height: 1.5;
    margin-bottom: 46px;
  }
}
@media screen and (max-width: 1024px) {
  .feature-list-item__text {
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 399px) {
  .feature-list-item__text {
    font-size: 1.2rem;
    margin-bottom: 10px;
  }
}
.feature-list-item__link {
  border: 1px solid #707070;
  display: inline-block;
  line-height: 56px;
  text-align: center;
  width: 200px;
}
@media screen and (max-width: 1024px) {
  .feature-list-item__link {
    font-size: 1.4rem;
    line-height: 40px;
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .feature-list-item__link {
    border: 1px solid white;
  }
}
@media screen and (max-width: 399px) {
  .feature-list-item__link {
    font-size: 1.2rem;
    line-height: 30px;
    margin-bottom: 10px;
  }
}
.feature-list-item + .feature-list-item {
  margin-top: 122px;
}
@media screen and (max-width: 1280px) {
  .feature-list-item + .feature-list-item {
    margin-top: 90px;
  }
}
@media screen and (max-width: 1024px) {
  .feature-list-item + .feature-list-item {
    margin-top: 60px;
  }
}
@media screen and (max-width: 576px) {
  .feature-list-item + .feature-list-item {
    margin-top: 30px;
  }
}
.feature-list-item:nth-of-type(2n) {
  flex-direction: row-reverse;
}
.feature-list-item:nth-of-type(2n) .feature-list-item__image-wrapper {
  margin-left: 8%;
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .feature-list-item:nth-of-type(2n) .feature-list-item__image-wrapper {
    margin-left: 0;
  }
}
.feature-list-item:nth-of-type(2n) .feature-list-item__text-wrapper {
  margin-right: 0;
}
.feature-list-item:nth-of-type(2n) .feature-list-item__text {
  margin-bottom: 41px;
}
@media screen and (max-width: 1280px) {
  .feature-list-item:nth-of-type(2n) .feature-list-item__text {
    margin-bottom: 26px;
  }
}
@media screen and (max-width: 399px) {
  .feature-list-item:nth-of-type(2n) .feature-list-item__text {
    margin-bottom: 10px;
  }
}

.section-plan {
  background-image: url("../image/bg02.jpg");
  background-position: center;
  background-size: cover;
  padding-bottom: 142px;
  padding-top: 60px;
}
@media screen and (max-width: 768px) {
  .section-plan {
    padding-bottom: 60px;
  }
}
.section-plan .section-title {
  margin-bottom: 61px;
}

.plan-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .plan-list {
    flex-direction: column;
  }
}
.plan-list-item {
  display: flex;
  flex-direction: column;
  width: 33.3333333333%;
}
@media screen and (max-width: 768px) {
  .plan-list-item {
    width: 100%;
  }
}
.plan-list-item__image-wrapper {
  margin-bottom: 28px;
}
.plan-list-item__text-wrapper {
  display: flex;
  flex-direction: column;
  background-color: skyblue;
}
.plan-list-item__title {
  font-size: 2rem;
  font-weight: 500;
  line-height: 1.6;
  margin-bottom: 30px;
}
@media screen and (max-width: 768px) {
  .plan-list-item__title {
    font-size: 1.6rem;
    margin-bottom: 15px;
  }
}
.plan-list-item__text {
  font-weight: 500;
  line-height: 2;
}
@media screen and (max-width: 768px) {
  .plan-list-item__text {
    font-size: 1.4rem;
  }
}
.plan-list-item + .plan-list-item {
  margin-left: 94px;
}
@media screen and (max-width: 1280px) {
  .plan-list-item + .plan-list-item {
    margin-left: 60px;
  }
}
@media screen and (max-width: 768px) {
  .plan-list-item + .plan-list-item {
    margin-left: 0;
    margin-top: 40px;
  }
}

.section-news {
  padding: 60px 0;
}

.news-tab-list {
  display: flex;
  justify-content: center;
  padding-bottom: 47px;
  padding-top: 38px;
}
.news-tab-list-item {
  background-color: #f6f6f6;
  border: 1px solid #ccc;
  border-radius: 5px 5px 0 0;
  font-weight: 500;
  overflow: hidden;
  padding: 10px 20px;
}
.news-tab-list-item + .news-tab-list-item {
  margin-left: 53px;
}
.news-tab-list-item.is-active {
  background-color: lightgray;
  text-decoration: underline;
}

.news-list {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .news-list {
    flex-direction: column;
  }
}
.news-list.is-active {
  -webkit-animation: fadeInNews 0.5s;
          animation: fadeInNews 0.5s;
  display: flex;
}
.news-list-item {
  background-color: #f6f6f6;
  display: flex;
  padding: 15px 10px;
  width: 48%;
}
@media screen and (max-width: 768px) {
  .news-list-item {
    width: 100%;
  }
}
.news-list-item__image-wrapper {
  height: 100px;
  width: 103px;
}
.news-list-item__image {
  background-color: #fff;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.news-list-item__text-wrapper {
  padding: 0 30px;
  width: calc(100% - 103px);
}
.news-list-item__time {
  font-size: 1.4rem;
  font-weight: 500;
  margin-bottom: 5px;
}
.news-list-item__text {
  font-weight: 500;
  line-height: 2;
}
.news-list-item:nth-of-type(n+3) {
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .news-list-item + .news-list-item {
    margin-top: 20px;
  }
}

@-webkit-keyframes fadeInNews {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInNews {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.section-access {
  background-image: url("../image/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
  padding-top: 60px;
}

.section-access .section-title {
  margin-bottom: 79px;
}

.access-info {
  align-items: center;
  display: flex;
  margin-bottom: 69px;
}
@media screen and (max-width: 768px) {
  .access-info {
    flex-direction: column;
    margin-bottom: 40px;
  }
}
.access-info__image-wrapper {
  height: 370px;
  margin-right: 7%;
  width: 55%;
}
@media screen and (max-width: 768px) {
  .access-info__image-wrapper {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }
}
.access-info__image {
  height: 100%;
}
.access-info__text-wrapper {
  width: 45%;
}
@media screen and (max-width: 768px) {
  .access-info__text-wrapper {
    width: 100%;
  }
}
.access-info-item__title {
  font-weight: 800;
  margin-bottom: 19px;
}
@media screen and (max-width: 768px) {
  .access-info-item__title {
    margin-bottom: 10px;
  }
}
.access-info-item__text {
  font-weight: 500;
  line-height: 2;
}
.access-info-item__text:not(:last-of-type) {
  margin-bottom: 19px;
}
@media screen and (max-width: 768px) {
  .access-info-item__text:not(:last-of-type) {
    margin-bottom: 10px;
  }
}

.access-map-wrapper {
  text-align: center;
}

.map {
  width: 67%;
}
@media screen and (max-width: 768px) {
  .map {
    width: 100%;
  }
}