@use "../common/variables"as *;
@use "../mixin/mixin";

////////////////////
// fv
////////////////////
.fv {
  height: 80vh;
  max-height: 500px;
  background-image: url("../image/menu-header.png");
  background-position: center;
  background-size: cover;
  position: relative;
  margin-bottom: 33px;

  @include mixin.mediaQuery("lg") {
    height: 300px;
  }

  @include mixin.mediaQuery("md") {
    height: 250px;
  }

  @include mixin.mediaQuery("sm") {
    height: 200px;
  }

  &-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-text-white;
    font-size: 3.4rem;
    font-weight: 800;
    text-shadow: 3px 3px 0 $color-text-black;
  }
}

////////////////////
// meal
////////////////////
.section-meal {
  margin-bottom: 150px;

  @include mixin.mediaQuery("md") {
    margin-bottom: 70px;
  }
}

.section-meal > .content-wrapper {
  padding: 0 10px;

  @include mixin.mediaQuery("md") {
    width: 90%;
  }

  @include mixin.mediaQuery("sm") {
    width: 100%;
    padding: 0;
  }
}

.meal-title {
  text-align: center;
  line-height: 2;
  font-weight: 500;
  margin-bottom: 133px;
  padding: 0 10px;

  @include mixin.mediaQuery("md") {
    margin-bottom: 60px;
  }
}

.meal-list {
  &-item {
    position: relative;

    &__image-wrapper {
      position: absolute;
      width: 45%;
      left: 0;
      top: -57px;

      @include mixin.mediaQuery("md") {
        position: relative;
        width: 100%;
        top: 0;
      }
    }

    &__text-wrapper {
      background-image: url("../image/bg.jpg");
      width: 70%;
      height: 381px;
      padding: 55px 60px;

      @include mixin.mediaQuery("md") {
        background-image: none;
        position: absolute;
        top: 0;
        left: 0;
        padding: 30px 40px;
        width: 100%;
        color: white;

        /* 文字の影 */
        text-shadow:
          1px 1px 1px $color-text-black,
          -1px 1px 1px $color-text-black,
          1px -1px 1px $color-text-black,
          -1px -1px 1px $color-text-black,
          1px 0 1px $color-text-black,
          0 1px 1px $color-text-black,
          -1px 0 1px $color-text-black,
          0 -1px 1px $color-text-black;
      }

      @include mixin.mediaQuery("xs") {
        padding: 10px;
      }
    }

    &__title {
      font-size: 2.4rem;
      font-weight: 500;
      margin-bottom: 46px;

      @include mixin.mediaQuery("md") {
        font-size: 2rem;
        margin-bottom: 30px;
      }

      @include mixin.mediaQuery("sm") {
        margin-bottom: 15px;
      }

      @include mixin.mediaQuery("xs") {
        font-size: 1.8rem;
        margin-bottom: 15px;
      }
    }

    &__text {
      font-weight: 500;
      line-height: 2;

      @include mixin.mediaQuery("md") {
        line-height: 1.5;
      }

      @include mixin.mediaQuery("xs") {
        font-size: 1.4rem;
      }
    }

    & + & {
      margin-top: 141px;

      @include mixin.mediaQuery("md") {
        margin-top: 70px;
      }

      @include mixin.mediaQuery("sm") {
        margin-top: 40px;
      }
    }

    &:nth-of-type(2n+1) & {
      &__text-wrapper {
        margin-left: auto;
        padding-left: 238px;

        @include mixin.mediaQuery("lg") {
          padding-left: 180px;
        }

        @include mixin.mediaQuery("md") {
          padding-left: 40px;
        }

        @include mixin.mediaQuery("xs") {
          padding-left: 10px;
        }
      }
    }

    &:nth-of-type(2n) & {
      &__image-wrapper {
        right: 0;
        left: initial;
      }

      &__text-wrapper {
        padding-right: 150px;

        @include mixin.mediaQuery("md") {
          padding-right: 40px;
        }

        @include mixin.mediaQuery("xs") {
          padding-right: 10px;
        }
      }
    }
  }
}
