@use "../mixin/mixin";

////////////////////
// fv
////////////////////
.fv {
  height: 500px;
  background-image: url('../image/oheya-header.png');
  background-position: center;
  background-size: contain;
  position: relative;

  &-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: #fff;
    font-size: 3.4rem;
    font-weight: 800;
    text-shadow: 3px 3px 0 #000;
  }
}

////////////////////
// room
////////////////////
.section-room {
  margin-bottom: 150px;
}
.section-room>.content-wrapper {
  padding: 0 10px;
}

.room-title {
  text-align: center;
  line-height: 2;
  font-weight: 500;
  margin-bottom: 133px;
}

.room-list {
  &-item {
    position: relative;

    &__image-wrapper {
      position: absolute;
      width: 45%;
      left: 0;
      top: -57px;
    }

    &__text-wrapper {
      background-image: url('../image/bg.jpg');

      width: 70%;
      height: 381px;
      background-color: blue;
      padding: 55px 60px;
    }

    &__title {
      font-size: 2.4rem;
      font-weight: 500;
      margin-bottom: 46px;
    }

    &__text {
      font-weight: 500;
      line-height: 2;
      margin-bottom: 47px;
    }

    &__caution {
      font-size: 1.4rem;
      font-weight: 500;
      line-height: 1.5;
    }
    
    &:nth-of-type(2n+1) {
      .room-list-item {
        &__text-wrapper {
          margin-left: auto;
          padding-left: 238px;
        }
      }
    }

    &:nth-of-type(2n) {
      .room-list-item {
        &__image-wrapper {
          right: 0;
          left: initial;
        }
      }
    }

    &+& {
      margin-top: 141px;
    }
  }
}
