@use "../mixin/mixin";

////////////////////
// fv
////////////////////
.fv {
  height: 100vh;
  position: relative;
  max-height: 1079px;

  &-inner {
    align-items: center;
    display: flex;
    height: 100vh;
    max-height: 1079px;
    justify-content: flex-end;
    margin: 0 auto;
    padding-right: 25%;

    @include mixin.mediaQuery("sm") {
      justify-content: center;
      padding-right: 0;
    }
  }

  &-title {
    color: #fff;
    font-size: 3.4rem;
    font-weight: 800;
    line-height: 51px + 34px;
    text-shadow: 3px 3px 0 #000;
    writing-mode: vertical-rl;
    letter-spacing: 11px;
  }
}

.fv-image-list-item {
  overflow: hidden;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: -1;

  &__image {
    /* アニメーション設定 */
    animation: fadeFv 15s infinite linear;
    height: 100vh;

    /* 最初は3枚の画像を非表示にしておく */
    opacity: 0;
  }

  &:nth-child(1)>&__image {
    animation-delay: 0s;
  }

  &:nth-child(2)>&__image {
    animation-delay: 5s;
  }

  &:nth-child(3)>&__image {
    animation-delay: 10s;
  }
}

/*
  アニメーション処理  
*/
@keyframes fadeFv {
  0% {
    opacity: 0;
    transform: scale(1);
  }

  5% {
    opacity: 1;
  }

  35% {
    opacity: 1;
  }

  40% {
    opacity: 0;
    transform: scale(1.1);
  }
}

////////////////////
// about
////////////////////
.section-about {
  background-image: url('../image/bg.jpg');
  padding-bottom: 50px;
  padding-top: 146px;
  display: flex;
  justify-content: center;

  @include mixin.mediaQuery("sm") {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.section-about>.content-wrapper {
  writing-mode: vertical-rl;
  height: 450px;

  @include mixin.mediaQuery("sm") {
    writing-mode: horizontal-tb;
    height: auto;
  }
}

.about-title {
  font-size: 2.8rem;
  font-weight: 500;
  margin-left: 118px;
  letter-spacing: 16px;

  @include mixin.mediaQuery("lg") {
    margin-left: 70px;
  }

  @include mixin.mediaQuery("md") {
    font-size: 1.8rem;
    margin-left: 50px;
  }

  @include mixin.mediaQuery("sm") {
    margin-left: 0;
    line-height: 2;
    margin-bottom: 10px;
    letter-spacing: 10px;
  }

  &>span {
    margin-top: -85px;
    margin-left: 33px;
    display: block;

    @include mixin.mediaQuery("md") {
      margin-top: -55px;
      margin-left: 20px;
    }

    @include mixin.mediaQuery("sm") {
      margin-top: 0;
      margin-left: 0;
    }
  }
}

.about-text {
  font-weight: 500;
  letter-spacing: 6px;
  line-height: 2.375;
  margin-left: 118px;
  text-orientation: upright;
  -webkit-text-orientation: upright; /*for Safari */

  @include mixin.mediaQuery("lg") {
    margin-left: 60px;
  }

  @include mixin.mediaQuery("md") {
    line-height: 1.7;
    margin-left: 40px;
  }

  @include mixin.mediaQuery("sm") {
    margin-bottom: 20px;
    margin-left: 20px;
    letter-spacing: 4px;
  }

  @include mixin.mediaQuery("xs") {
    font-size: 1.4rem;
    margin-left: 10px;
  }
}

.about-name {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 16px;
  text-align: right;

  @include mixin.mediaQuery("md") {
    font-size: 1.8rem;
  }
  @include mixin.mediaQuery("sm") {
    letter-spacing: 6px;
  }
}


////////////////////
// feature
////////////////////
.section-feature {
  padding-bottom: 78px;
  padding-top: 106px;

  @include mixin.mediaQuery("md") {
    padding-bottom: 50px;
    padding-top: 50px;
  }
}

.section-feature>.content-wrapper {
  max-width: 1920px;
  padding: 0;

  @include mixin.mediaQuery("md") {
    width: 90%;
  }

  @include mixin.mediaQuery("sm") {
    width: 100%;
  }
}

.feature-list-item {
  align-items: center;
  display: flex;
  position: relative;

  &__image-wrapper {
    margin-right: 8%;
    width: 55%;

    @include mixin.mediaQuery("md") {
      margin-right: 0;
      width: 100%;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;

    @include mixin.mediaQuery("md") {
      color: #fff;
      height: 100%;
      padding: 10px;
      position: absolute;
      /* 文字の影 */
      text-shadow:
        1px 1px 1px #000000,
        -1px 1px 1px #000000,
        1px -1px 1px #000000,
        -1px -1px 1px #000000,
        1px 0px 1px #000000,
        0px 1px 1px #000000,
        -1px 0px 1px #000000,
        0px -1px 1px #000000;
      width: 100%;
    }
  }

  &__title {
    font-size: 3.6rem;
    font-weight: 500;
    line-height: 1.72;
    margin-bottom: 67px;

    @include mixin.mediaQuery("xl") {
      font-size: 3rem;
      margin-bottom: 42px;
    }

    @include mixin.mediaQuery("lg") {
      font-size: 1.8rem;
      line-height: 1.5;
      margin-bottom: 15px;
    }

    @include mixin.mediaQuery("md") {
      font-size: 1.6rem;
    }

    @include mixin.mediaQuery("xs") {
      font-size: 1.4rem;
      margin-bottom: 10px;
    }
  }

  &__text {
    font-weight: 500;
    line-height: 2;
    margin-bottom: 73px;

    @include mixin.mediaQuery("xl") {
      font-size: 1.4rem;
      line-height: 1.5;
      margin-bottom: 46px;
    }

    @include mixin.mediaQuery("lg") {
      margin-bottom: 15px;
    }

    @include mixin.mediaQuery("xs") {
      font-size: 1.2rem;
      margin-bottom: 10px;
    }
  }

  &__link {
    border: 1px solid #707070;
    display: inline-block;
    line-height: 56px;
    text-align: center;
    width: 200px;
    font-weight: 500;

    @include mixin.mediaQuery("lg") {
      font-size: 1.4rem;
      line-height: 40px;
      width: 150px;
    }

    @include mixin.mediaQuery("md") {
      border: 1px solid white;
    }

    @include mixin.mediaQuery("xs") {
      font-size: 1.2rem;
      line-height: 30px;
      margin-bottom: 10px;
    }
  }

  &+& {
    margin-top: 122px;

    @include mixin.mediaQuery("xl") {
      margin-top: 90px;
    }

    @include mixin.mediaQuery("lg") {
      margin-top: 60px;
    }

    @include mixin.mediaQuery("sm") {
      margin-top: 30px;
    }
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;

    .feature-list-item {
      &__image-wrapper {
        margin-left: 8%;
        margin-right: 0;

        @include mixin.mediaQuery("md") {
          margin-left: 0;
        }
      }

      &__text-wrapper {
        margin-right: 0;
      }

      &__text {
        margin-bottom: 41px;

        @include mixin.mediaQuery("xl") {
          margin-bottom: 26px;
        }

        @include mixin.mediaQuery("xs") {
          margin-bottom: 10px;
        }
      }
    }
  }
}

////////////////////
// plan
////////////////////
.section-plan {
  background-image: url('../image/bg02.jpg');
  background-position: center;
  background-size: cover;
  padding-bottom: 142px;
  padding-top: 60px;

  @include mixin.mediaQuery("md") {
    padding-bottom: 60px;
  }

  & .section-title {
    margin-bottom: 61px;
  }
}


.plan-list {
  display: flex;
  justify-content: space-between;
  width: 100%;

  @include mixin.mediaQuery("md") {
    flex-direction: column;
  }

  &-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);

    @include mixin.mediaQuery("md") {
      width: 100%;
    }

    &__image-wrapper {
      margin-bottom: 28px;
    }

    &__text-wrapper {
      display: flex;
      flex-direction: column;
      flex: 1;
    }

    &__title {
      font-size: 2rem;
      font-weight: 500;
      line-height: 1.6;
      margin-bottom: 30px;

      @include mixin.mediaQuery("lg") {
        flex: 1;
        min-height: 0;
        margin-bottom: 40px;
      }

      @include mixin.mediaQuery("md") {
        font-size: 1.6rem;
        margin-bottom: 15px;
      }
    }

    &__text {
      font-weight: 500;
      line-height: 2;

      @include mixin.mediaQuery("lg") {
        flex: 2;
      }

      @include mixin.mediaQuery("md") {
        font-size: 1.4rem;
      }
    }

    &+& {
      margin-left: 94px;

      @include mixin.mediaQuery("xl") {
        margin-left: 60px;
      }

      @include mixin.mediaQuery("lg") {
        margin-left: 30px;
      }

      @include mixin.mediaQuery("md") {
        margin-left: 0;
        margin-top: 40px;
      }
    }
  }
}

////////////////////
// news
////////////////////
.section-news {
  padding: 60px 0;
}

.news-tab-list {
  display: flex;
  justify-content: center;
  padding-bottom: 47px;
  padding-top: 38px;

  &-item {
    background-color: #f6f6f6;
    border: 1px solid #ccc;
    border-radius: 5px 5px 0 0;
    font-weight: 500;
    overflow: hidden;
    padding: 10px 20px;

    &+& {
      margin-left: 53px;
    }

    &.is-active {
      background-color: lightgray;
      text-decoration: underline #707070;
    }
  }
}

.news-list {
  display: none;
  flex-wrap: wrap;
  justify-content: space-between;

  @include mixin.mediaQuery("md") {
    flex-direction: column;
  }

  &.is-active {
    animation: fadeInNews .5s;
    display: flex;
  }

  &-item {
    background-color: #f6f6f6;
    display: flex;
    padding: 15px 10px;
    width: 48%;

    @include mixin.mediaQuery("md") {
      width: 100%;
    }

    &__image-wrapper {
      height: 100px;
      width: 103px;
    }

    &__image {
      background-color: #fff;
      height: 100%;
      object-fit: contain;
    }

    &__text-wrapper {
      padding: 0 30px;
      width: calc(100% - 103px); // image分を引く 
    }

    &__time {
      font-size: 1.4rem;
      font-weight: 500;
      margin-bottom: 5px;
    }

    &__text {
      font-weight: 500;
      line-height: 2;
    }

    &:nth-of-type(n+3) {
      margin-top: 20px;
    }

    &+& {
      @include mixin.mediaQuery("md") {
        margin-top: 20px;
      }
    }
  }
}

@keyframes fadeInNews {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

////////////////////
// access
////////////////////
.section-access {
  background-image: url('../image/bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 110px;
  padding-top: 60px;
}

.section-access .section-title {
  margin-bottom: 79px;
}

.access-info {
  align-items: center;
  display: flex;
  margin-bottom: 69px;

  @include mixin.mediaQuery("md") {
    flex-direction: column;
    margin-bottom: 40px;
  }

  &__image-wrapper {
    height: 370px;
    margin-right: 7%;
    width: 55%;

    @include mixin.mediaQuery("md") {
      width: 100%;
      margin-right: 0;
      margin-bottom: 30px;
    }
  }

  &__image {
    height: 100%;
  }

  &__text-wrapper {
    width: 45%;

    @include mixin.mediaQuery("md") {
      width: 100%;
    }
  }

  &-item {
    &__title {
      font-weight: 800;
      margin-bottom: 19px;

      @include mixin.mediaQuery("md") {
        margin-bottom: 10px;
      }
    }

    &__text {
      font-weight: 500;
      line-height: 2;

      &:not(:last-of-type) {
        margin-bottom: 19px;

        @include mixin.mediaQuery("md") {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.access-map-wrapper {
  text-align: center;
}

.map {
  width: 67%;

  @include mixin.mediaQuery("md") {
    width: 100%;
  }
}
