@use "../common/variables"as *;
@use "../mixin/mixin";

////////////////////
// section-blog
////////////////////
.section-blog {
  & .child-page-section-title {
    margin-bottom: 57px;
  }
}

.post-list {
  margin-bottom: 106px;
}

.post-list-item {
  display: block;

  &__link {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 179px;

    @include mixin.media-query("md") {
      flex-direction: column;
      height: auto;
    }
  }

  &__image-wrapper {
    position: relative;
    width: 25%;
    height: 100%;
    max-height: 179px;
    margin-right: 50px;

    @include mixin.media-query("md") {
      width: 100%;
      margin-right: 0;
      margin-bottom: 10px;
    }
  }

  &__pinned {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 6px 19px;
    font-size: 1.2rem;
    color: $color-text-white;
    background-color: $color-bg-yellow;
  }

  &__category {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 19px;
    font-size: 1.2rem;
    color: $color-text-white;
    background-color: $color-bg;
  }

  &__image {
    height: 100%;
    max-height: 179px;
  }

  &__text-wrapper {
    width: 70%;

    @include mixin.media-query("md") {
      width: 100%;
    }
  }

  &__date {
    margin-bottom: 18px;

    @include mixin.media-query("md") {
      margin-bottom: 10px;
    }

    @include mixin.media-query("sm") {
      margin-bottom: 5px;
    }
  }

  &__title {
    margin-bottom: 20px;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: calc(39 / 26);
    text-decoration: underline;
    word-wrap: break-word;

    @include mixin.media-query("lg") {
      margin-bottom: 15px;
      font-size: 2.3rem;
    }

    @include mixin.media-query("md") {
      margin-bottom: 10px;
      font-size: 2rem;
    }

    @include mixin.media-query("sm") {
      font-size: 1.8rem;
    }
  }

  &__content {
    line-height: calc(24 / 16);
  }

  & + & {
    margin-top: 61px;
  }
}

////////////////////
// pagination
////////////////////
.pagination .nav-links {
  margin-bottom: 45px;
  text-align: center;
}

.page-numbers {
  display: inline-block;
  padding: 14px 20px;
  font-weight: bold;

  @include mixin.media-query("sm") {
    padding: 10px 15px;
  }

  &.current {
    color: $color-text-white;
    background-color: $color-bg;
  }

  &:not(.dots) {
    border: 1px solid $color-border;
  }

  & + & {
    margin-left: 19px;

    @include mixin.media-query("sm") {
      margin-left: 5px;
    }
  }
}
