@use "../common/variables"as *;
@use "../common/sidebar";
@use "../mixin/mixin";

.article {
  margin-bottom: 60px;
}

.post-category {
  display: inline-block;
  padding: 8px 31px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  color: $color-text-white;
  background-color: #1b224c;
}

.post-title {
  margin-bottom: 20px;
  line-height: calc(42 / 28);
}

.sns-date-wrapper {
  display: flex;
  margin-bottom: 23px;
}

.post-image-wrapper {
  margin-bottom: 40px;
}

////////////////////
// recommend
////////////////////
.recommend-articles-title {
  margin-bottom: 30px;
  font-size: 2.6rem;
  font-weight: bold;
}

.recommend-post-list {
  margin-bottom: 106px;
}

.recommend-post-list-item {
  &__link {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 128px;
  }

  &__category {
    position: absolute;
    top: 0;
    left: 0;
    padding: 6px 19px;
    font-size: 1.2rem;
    font-weight: 500;
    color: $color-text-white;
    background-color: #1b224c;
  }

  &__image-wrapper {
    width: 35%;
    height: 100%;
    margin-right: 32px;
  }

  &__image {
    height: 100%;
  }

  &__text-wrapper {
    width: 59%;
  }

  &__date {
    margin-bottom: 27px;
    font-weight: 500;
  }

  &__title {
    font-size: 1.8rem;
    font-weight: bold;
    line-height: calc(27 / 18);
    text-decoration: underline;
  }

  & + & {
    margin-top: 28px;
  }
}
