@use "../common/variables"as *;
@use "../mixin/mixin";

.contact-content-wrapper {
  max-width: 740px; // 700px + 左右padding40px
  padding: 0 20px;
  margin: 0 auto;
}

form {
  margin-bottom: 82px;
}

.contact-text {
  margin-bottom: 38px;
  line-height: calc(21 / 16);
}

label {
  display: block;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 240px;
  padding: 17px 20px;
  border: 0.5px solid #1b224c;

  &:last-child {
    // 「未入力です」エラーが出てない時のmargin
    margin-bottom: 27px;
  }

  &:not(:last-child) {
    // 「未入力です」エラーが出てる時のmargin
    margin-bottom: 10px;
  }

  & + span {
    // 「未入力です」エラーテキストのmargin
    margin-bottom: 27px;
  }
}

input[type="text"],
input[type="email"] {
  width: 100%;
  padding: 17px 20px;
  border: 0.5px solid #1b224c;

  &:last-child {
    // 「未入力です」エラーが出てない時のmargin
    margin-bottom: 17px;
  }

  &:not(:last-child) {
    // 「未入力です」エラーが出てる時のmargin
    margin-bottom: 10px;
  }

  & + span {
    // 「未入力です」エラーテキストのmargin
    margin-bottom: 25px;
  }
}

.input-phone-number {
  margin-bottom: 21px;
}

.label-contact-type {
  margin-bottom: 16px;
}

.mwform-radio-field.vertical-item {
  & input {
    margin-right: 19px;
  }

  &:last-of-type {
    margin-bottom: 21px;
  }

  & + & {
    margin-top: 13px;
  }
}

.privacy-policy-wrapper {
  margin-bottom: 46px;
  text-align: center;

  & input[type="checkbox"] {
    margin-right: 15px;
  }
}

.privacy-policy-text {
  margin-bottom: 28px;

  & a {
    color: #f5a623;
    text-decoration: underline;
  }
}

.submit-button-wrapper {
  text-align: center;
}

.submit-button {
  padding: 0 71px;
  font-weight: bold;
  line-height: 50px;
  color: $color-text-white;
  background-color: #1b224c;
  border-radius: 5px;
}

.mw_wp_form_send_error {
  margin-bottom: 82px;
  font-size: 1.8rem;
  text-align: center;
}
