@use "../common/variables"as *;
@use "../mixin/mixin";

.article {
  margin-bottom: 53px;
}

.post-title {
  margin-bottom: 33px;
  line-height: calc(37 / 28);
}

.post-date {
  margin-bottom: 58px;
  text-align: right;
}

////////////////////
// post-container
////////////////////
.post-container {
  ////////////////////
  // figure
  ////////////////////
  & figure {
    width: 44%;
    margin-right: 0;
    margin-left: 0;

    @include mixin.media-query("md") {
      width: 100%;
    }
  }

  ////////////////////
  // a
  ////////////////////
  & a {
    font-size: 1.6rem;
  }
}
