@use "../common/variables"as *;
@use "../mixin/mixin";

////////////////////
// section-news
////////////////////
.section-news {
  & .child-page-section-title {
    margin-bottom: 45px;
  }
}

.news-list {
  margin-bottom: 65px;
}

.news-list-item {
  border-bottom: 1px solid #d5d5d5;

  &:first-of-type {
    border-top: 1px solid #d5d5d5;
  }

  &__link {
    display: flex;
    padding-top: 20px;
    padding-bottom: 22px;

    @include mixin.media-query("md") {
      flex-direction: column;
    }
  }

  &__date {
    min-width: 85px;
    margin-right: 54px;

    @include mixin.media-query("md") {
      margin-bottom: 10px;
    }
  }

  &__title {
    text-decoration: underline;
  }
}

////////////////////
// pagination
////////////////////
.pagination .nav-links {
  margin-bottom: 45px;
  text-align: center;
}

.page-numbers {
  display: inline-block;
  padding: 14px 20px;
  font-weight: bold;

  @include mixin.media-query("sm") {
    padding: 10px 15px;
  }

  &.current {
    color: $color-text-white;
    background-color: $color-bg;
  }

  &:not(.dots) {
    border: 1px solid $color-border;
  }

  & + & {
    margin-left: 19px;

    @include mixin.media-query("sm") {
      margin-left: 5px;
    }
  }
}
