@use "../common/variables"as *;
@use "../mixin/mixin";

////////////////////
// fee-structure
////////////////////
.section-fee-structure {
  margin-bottom: 90px;

  & .child-page-section-title {
    margin-bottom: 60px;
  }
}

.fee-structure-wrapper {
  display: flex;
  justify-content: center;
  margin-bottom: 46px;
  font-size: 2.2rem;
  font-weight: bold;
  color: $color-text-white;
  text-align: center;
}

.admission-fee,
.monthly-fee {
  width: 280px;
  height: 90px;
  line-height: 90px;
  background-color: $color-bg;
  border: 1px solid $color-border;
}

.admission-fee {
  position: relative;
  margin-right: 98px;

  &::before,
  &::after {
    position: absolute;
    top: 50%;
    right: calc(-36px - 25px);
    width: 25px;
    height: 2px;
    content: "";
    background-color: $color-bg;
    transform: translate(0, -50%);
  }

  &::after {
    transform: rotate(90deg);
  }
}

////////////////////
// price-list
////////////////////
.section-price-list {
  margin-bottom: 60px;

  & .child-page-section-title {
    margin-bottom: 70px;
  }
}

.price-list {
  display: flex;

  &-item {
    position: relative;
    width: calc(100% / 4);
    text-align: center;
    border: 0.5px solid $color-border;

    &.recommend {
      &::before {
        display: block;
        height: 36px;
        padding-top: 17px;
        font-weight: bold;
        color: $color-text-white;
        content: "おすすめ";
        background-color: $color-bg-yellow;
      }
    }

    &:not(.recommend) {
      margin-top: 36px; // おすすめの疑似要素の高さと合わせる
    }

    &__plan-name {
      padding: 21px;
      margin-bottom: 30px;
      font-weight: bold;
      color: $color-text-white;
      background-color: $color-bg;
    }

    &.recommend > &__plan-name {
      background-color: $color-bg-yellow;
    }

    &__price {
      margin-bottom: 14px;
      font-size: 2.5rem;
      font-weight: bold;
    }

    &.recommend > &__price {
      color: $color-text-yellow;
    }

    &__tax {
      margin-bottom: 48px;
    }

    & + & {
      margin-left: 7px;
    }
  }
}

.plan-feature-list {
  margin-bottom: 92px;

  &-item {
    position: relative;
    line-height: calc(21 / 16);

    &::before {
      margin-right: 13.5px;
      font-weight: 900;
      color: $color-text;
      content: "\f00c";
    }

    & + & {
      margin-top: 15px;
    }
  }
}
