@use "../common/variables"as *;
@use "../mixin/mixin";

////////////////////
// fv
////////////////////
.fv {
  position: relative;
  height: 100vh;
  max-height: calc(476px + 80px); // 476px + 80x(ヘッダー分)
  color: $color-text-white;
  text-align: center;

  @include mixin.media-query("md") {
    max-height: calc(476px + 60px); // 476px + 60x(ヘッダー分)
  }

  &-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80%;
    padding-top: 80px;  // ヘッダー分
    transform: translate(-50%, -50%);

    @include mixin.media-query("md") {
      padding-top: 60px;  // ヘッダー分
    }

    & > .document-request-button {
      margin-bottom: 19px;
    }
  }

  &-title {
    margin-bottom: 19px;
    font-size: 4.8rem;
    font-weight: bold;
    text-shadow: 0 3px 6px rgba($color: #000, $alpha: 16%);

    @include mixin.media-query("lg") {
      font-size: 4rem;
    }

    @include mixin.media-query("md") {
      font-size: 3.5rem;
    }
  }

  &-text {
    margin-bottom: 55px;
    font-size: 1.8rem;
    line-height: calc(24 / 18);

    @include mixin.media-query("md") {
      font-size: 1.6rem;
    }
  }
}

.fv-image-wrapper {
  height: 100%;
  padding-top: 80px;  // ヘッダー分

  @include mixin.media-query("md") {
    padding-top: 60px;  // ヘッダー分
  }
}

.fv-image {
  height: 100%;
}

.fv > .document-request-button {
  margin-bottom: 19px;
}

////////////////////
// about
////////////////////
.section-about {
  padding-top: 63px;
  padding-bottom: 54px;
  margin-bottom: 59px;
  color: $color-text-white;
  text-align: center;
  background-color: $color-bg;
}

.section-about .section-title {
  margin-bottom: 62px;
}

.problem-list {
  display: flex;
  justify-content: center;
  margin-bottom: 80px;

  @include mixin.media-query("sm") {
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
  }

  &-item {
    width: calc(100% / 3);

    @include mixin.media-query("sm") {
      width: 80%;

      &:not(:last-of-type) {
        margin-bottom: 15px;
      }
    }

    &__text {
      font-size: 1.8rem;
      font-weight: bold;

      @include mixin.media-query("md") {
        font-size: 1.6rem;
      }

      @include mixin.media-query("sm") {
        font-size: 1.4rem;
      }
    }
  }
}

.engress-about {
  padding: 11px 16px;
  color: $color-text;
  background-color: $color-bg-white;

  &-inner {
    padding-top: 21px;
    padding-bottom: 24px;
    border: 5px solid $color-border;
  }

  &__title {
    margin-bottom: 25px;
    font-size: 3.6rem;
    font-weight: bold;

    @include mixin.media-query("lg") {
      font-size: 2.8rem;
    }

    @include mixin.media-query("md") {
      font-size: 2.2rem;
    }

    & > span {
      position: relative;
      z-index: 1;
    }

    & > span::after {
      position: absolute;
      bottom: 8px;
      left: 0;
      z-index: -1;
      display: block;
      width: 100%;
      height: 9px;
      content: "";
      background-color: $color-bg-yellow;

      @include mixin.media-query("lg") {
        bottom: 6px;
        height: 7px;
      }

      @include mixin.media-query("md") {
        bottom: 5px;
      }
    }
  }

  &__text {
    padding: 0 10px;
    font-size: 1.8rem;
    line-height: 1.333;

    @include mixin.media-query("md") {
      font-size: 1.6rem;
    }
  }
}

////////////////////
// feature
////////////////////
.section-feature {
  margin-bottom: 93px;

  @include mixin.media-query("md") {
    margin-bottom: 20px;
  }

  @include mixin.media-query("sm") {
    margin-bottom: 0;
  }

  & .section-title {
    margin-bottom: 59px;
  }

  & > .content-wrapper {
    @include mixin.media-query("sm") {
      padding: 0;
    }
  }
}

.feature-list-item {
  position: relative;
  display: flex;
  justify-content: space-between;

  &__text-wrapper {
    z-index: 1;
    max-width: 500px;
    margin-right: 50px;

    @include mixin.media-query("md") {
      width: 100%;
      max-width: none;
      height: 100%;
      padding: 20px;
      margin-right: 0;
      color: $color-text-white;
      background-color: rgba($color: black, $alpha: 50%);
    }
  }

  &__number {
    display: inline-block;
    padding: 8px 25px;
    margin-bottom: 35px;
    font-size: 1.2rem;
    color: $color-text-white;
    background-color: $color-bg-yellow;

    @include mixin.media-query("lg") {
      margin-bottom: 25px;
    }
  }

  &__feature {
    margin-bottom: 39px;
    font-size: 2.6rem;
    font-weight: bold;
    line-height: calc(39 / 26);

    @include mixin.media-query("lg") {
      margin-bottom: 25px;
      font-size: 2.3rem;
    }

    @include mixin.media-query("md") {
      font-size: 2rem;
    }
  }

  &__detail {
    line-height: calc(21 / 16);
  }

  &__image-wrapper {
    max-width: 350px;

    @include mixin.media-query("md") {
      position: absolute;
      width: 100%;
      max-width: none;
      height: 100%;
    }
  }

  &__image {
    @include mixin.media-query("md") {
      height: 100%;
    }
  }

  & + & {
    margin-top: 60px;

    @include mixin.media-query("md") {
      margin-top: 0;
    }
  }

  &:nth-of-type(2n) {
    flex-direction: row-reverse;

    .feature-list-item {
      &__text-wrapper {
        margin-right: 0;
        margin-left: 50px;

        @include mixin.media-query("md") {
          margin-left: 0;
        }
      }
    }
  }
}

////////////////////
// price
////////////////////
.section-price {
  margin-bottom: 39px;

  @include mixin.media-query("md") {
    margin-bottom: 20px;
  }

  @include mixin.media-query("sm") {
    margin-bottom: 0;
  }
}

.section-price > .content-wrapper {
  padding-top: 60px;
  padding-bottom: 60px;
  color: $color-text-white;
  text-align: center;
  background: url("../image/price.png") center / cover no-repeat;
  background-size: calc(100% - 40px) 100%; // padding分を減らす

  @include mixin.media-query("sm") {
    padding: 60px 0;
    background-size: 100% 100%;
  }
}

.price-text {
  margin-bottom: 23px;
  font-size: 2.6rem;
  font-weight: bold;
}

.price-link {
  display: inline-block;
  padding: 0 50px;
  font-weight: bold;
  line-height: 50px;
  border: 1px solid $color-border-white;
  border-radius: 30px;
}

////////////////////
// success story
////////////////////
.section-success-story {
  padding: 60px 0;
  margin-bottom: 58px;
  color: $color-text-white;
  background-color: $color-bg;

  & .section-title {
    margin-bottom: 137px;

    @include mixin.media-query("md") {
      margin-bottom: 60px;
    }
  }
}

.success-story-list {
  display: flex;
  justify-content: space-between;

  @include mixin.media-query("md") {
    flex-direction: column;
    align-items: center;
  }

  &-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);

    @include mixin.media-query("md") {
      width: 80%;
    }

    &__title {
      flex: 1;
      margin-bottom: 9px;
      font-weight: bold;
      line-height: calc(29 / 16);

      @include mixin.media-query("lg") {
        font-size: 1.4rem;
        line-height: calc(23 / 16);
      }

      @include mixin.media-query("md") {
        display: none;
      }

      @include mixin.media-query("sm") {
        display: block;
      }

      &--mb {
        display: none;
        font-weight: bold;
        line-height: calc(23 / 16);
        color: $color-text-white;

        @include mixin.media-query("md") {
          display: block;
          margin-bottom: 10px;
        }

        @include mixin.media-query("sm") {
          display: none;
        }
      }
    }

    &__image-text-wrapper {
      @include mixin.media-query("md") {
        display: flex;
      }

      @include mixin.media-query("sm") {
        display: block;
      }
    }

    &__image-wrapper {
      height: 171px;
      margin-bottom: 16px;
      background-color: $color-bg-white;

      @include mixin.media-query("md") {
        width: 40%;
        margin-right: 20px;
        margin-bottom: 0;
      }

      @include mixin.media-query("sm") {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
      }
    }

    &__image {
      height: 100%;
      padding-top: 10%;
      object-fit: contain;
    }

    &__text-wrapper {
      @include mixin.media-query("md") {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 60%;
      }

      @include mixin.media-query("sm") {
        display: block;
        width: 100%;
      }
    }

    &__personal-info-wrapper {
      display: flex;
      margin-bottom: 10px;
      color: $color-text;
    }

    &__profession {
      width: 35%;
      padding: 5px 10px;
      background-color: $color-bg-white;
    }

    &__name {
      width: 65%;
      padding: 5px 14px;
      margin-left: 8px;
      background-color: $color-bg-white;

      @include mixin.media-query("lg") {
        padding: 5px 10px;
      }
    }

    &__result {
      padding: 5px 14px;
      color: $color-text;
      background-color: $color-bg-white;
    }

    & + & {
      margin-left: 30px;

      @include mixin.media-query("lg") {
        margin-left: 20px;
      }

      @include mixin.media-query("md") {
        margin-top: 40px;
        margin-left: 0;
      }
    }
  }
}

////////////////////
// usage flow
////////////////////
.section-usage-flow {
  margin-bottom: 75px;

  & .section-title {
    margin-bottom: 53px;
  }
}

.usage-list-item {
  display: flex;
  align-items: center;
  background-color: #f8f8f8;

  @include mixin.media-query("md") {
    align-items: stretch;
  }

  &__number {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    min-height: 64px;
    font-weight: bold;
    color: $color-text-white;
    background-color: $color-bg-yellow;
  }

  &__text-wrapper {
    display: flex;
    width: 100%;

    @include mixin.media-query("md") {
      flex-direction: column;
      padding: 15px 0;
    }
  }

  &__title {
    position: relative;
    width: 24%;
    padding-left: 21px;
    font-size: 1.8rem;
    font-weight: bold;

    @include mixin.media-query("lg") {
      padding: 0 15px;
      font-size: 1.6rem;
    }

    @include mixin.media-query("md") {
      width: 100%;
      margin-bottom: 10px;
    }

    &::after {
      position: absolute;
      top: 50%;
      right: 0;
      display: block;
      width: 1px;
      height: 30px;
      content: "";
      background-color: #c3c3c3;
      transform: translate(0, -50%);

      @include mixin.media-query("md") {
        display: none;
      }
    }
  }

  &__detail {
    padding-right: 10px;
    padding-left: 53px;

    @include mixin.media-query("lg") {
      padding-left: 30px;
    }

    @include mixin.media-query("md") {
      padding: 0 15px;
    }
  }

  & + & {
    margin-top: 8px;
  }
}

////////////////////
// faq
////////////////////
.section-faq {
  margin-bottom: 90px;

  & .section-title {
    margin-bottom: 32px;
  }
}

.faq-list-item {
  &__term {
    position: relative;
    padding: 25px 50px 15px 0;
    font-weight: 500;
    line-height: calc(21 / 16);
    border-bottom: 1px solid $color-border;

    &:first-of-type {
      border-top: 1px solid $color-border;
    }

    // ＋-アイコン
    &::before,
    &::after {
      position: absolute;
      top: 50%;
      right: 25px;
      display: block;
      width: 15px;
      height: 2px;
      content: "";
      background-color: $color-bg;
    }

    &::after {
      transition-duration: 0.3s;
      transform: rotate(90deg);
    }

    // open
    &.open {
      border-bottom: none;
    }

    &.open::before {
      opacity: 0;
    }

    &.open::after {
      transform: rotate(0);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__description {
    height: 0;
    padding: 0 26px;

    // アコーディオン開く前
    line-height: 0;
    background-color: #f8f8f8;
    opacity: 0;
    transition-duration: 0.3s;

    // open
    &.active {
      height: auto;
      padding: 25px 26px;
      line-height: calc(21 / 16);
      border-bottom: 1px solid $color-border;
      opacity: 1;
    }
  }
}

////////////////////
// blog and news
////////////////////
.section-blog-and-news {
  margin-bottom: 117px;

  @include mixin.media-query("md") {
    margin-right: 0;
    margin-bottom: 60px;
  }

  & > .content-wrapper {
    display: flex;

    @include mixin.media-query("md") {
      flex-direction: column;
    }
  }
}

.blog-wrapper {
  margin-right: 67px;

  @include mixin.media-query("md") {
    margin-right: 0;
    margin-bottom: 60px;
  }
}

.blog-wrapper,
.news-wrapper {
  width: 50%;

  @include mixin.media-query("md") {
    width: 100%;
  }

  & > .section-title {
    margin-bottom: 30px;
    font-size: 3.2rem;
    text-align: left;

    @include mixin.media-query("lg") {
      font-size: 2.8rem;
    }

    @include mixin.media-query("md") {
      font-size: 2.4rem;
      text-align: center;
    }
  }
}

////////////////////
// blog
////////////////////
.blog-list-item {
  &__link {
    position: relative;
    display: flex;
  }

  &__category {
    position: absolute;
    top: 0;
    left: 0;
    padding: 3px 26px 3px 9px;
    font-size: 1.2rem;
    color: $color-text-white;
    background-color: $color-bg;
    border: 1px solid #707070;
  }

  &__image-wrapper {
    width: 34%;
    margin-right: 20px;
  }

  &__image {
    width: 100%;
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
    width: 60%;
  }

  &__text {
    flex: 1;
    font-weight: bold;
    line-height: calc(21 / 16);
    text-decoration: underline;

    @include mixin.media-query("sm") {
      margin-bottom: 10px;
      font-size: 1.4rem;
    }
  }

  &__date {
    font-size: 1.2rem;
  }

  & + & {
    margin-top: 31px;
  }
}

////////////////////
// news
////////////////////
.news-list-item {
  &__date {
    display: block;
    margin-bottom: 14px;
    font-size: 1.2rem;
  }

  &__text {
    min-height: 59px;
    line-height: calc(27 / 16);
    text-decoration: underline;
  }

  & + & {
    margin-top: 15px;
  }
}
