@use "../common/variables"as *;
@use "../mixin/mixin";

////////////////////
// fv
////////////////////
.fv {
  position: relative;
  height: 100vh;
  max-height: 476px;
  color: $color-text-white;
  text-align: center;

  &-text-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    padding-top: 80px;  // ヘッダー分
    transform: translate(-50%, -50%);

    & > .document-request-button {
      margin-bottom: 19px;
    }
  }

  &-title {
    margin-bottom: 19px;
    font-size: 4.8rem;
    font-weight: bold;
  }

  &-text {
    margin-bottom: 55px;
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.333;
  }
}

.fv-image-wrapper {
  height: 100%;
}

.fv-image {
  height: 100%;
}

.fv > .document-request-button {
  margin-bottom: 19px;
}

////////////////////
// about
////////////////////