.blog-main-sidebar-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main {
  width: 65%;
  margin-right: 35px;
}

.article {
  margin-bottom: 60px;
}

.post-category {
  display: inline-block;
  padding: 8px 31px;
  margin-bottom: 30px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #1b224c;
}

.post-title {
  margin-bottom: 20px;
  font-size: 2.8rem;
  font-weight: bold;
  word-wrap: break-word;
}

.sns-date-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 23px;
}

.post-date {
  margin-left: auto;
  font-weight: 500;
}

.post-image-wrapper {
  margin-bottom: 40px;
}

.related-article-title,
.category-title {
  padding: 18px 0;
  margin-bottom: 30px;
  font-size: 2.1rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
  background-color: #1b224c;
}

.sidebar {
  width: 35%;
}
.sidebar .post-list {
  margin-bottom: 27px;
}
.sidebar .post-list-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
}
.sidebar .post-list-item__image-wrapper {
  width: 37%;
  height: 100%;
  margin-right: 17px;
}
.sidebar .post-list-item__image {
  height: 100%;
}
.sidebar .post-list-item__text-wrapper {
  width: 56%;
}
.sidebar .post-list-item__title {
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 2;
  text-decoration: underline;
  word-wrap: break-word;
}
.sidebar .post-list-item + .post-list-item {
  margin-top: 42px;
}

.category-list {
  margin-bottom: 27px;
}

.category-list-item {
  padding-left: 14px;
  font-weight: bold;
}
.category-list-item + .category-list-item {
  margin-top: 11px;
}

.recommend-articles-title {
  margin-bottom: 30px;
  font-size: 2.6rem;
  font-weight: bold;
}

.recommend-post-list {
  margin-bottom: 106px;
}

.recommend-post-list-item__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 128px;
}
.recommend-post-list-item__category {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 19px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #1b224c;
}
.recommend-post-list-item__image-wrapper {
  width: 35%;
  height: 100%;
  margin-right: 32px;
}
.recommend-post-list-item__image {
  height: 100%;
}
.recommend-post-list-item__text-wrapper {
  width: 59%;
}
.recommend-post-list-item__date {
  margin-bottom: 27px;
  font-weight: 500;
}
.recommend-post-list-item__title {
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: underline;
}
.recommend-post-list-item + .recommend-post-list-item {
  margin-top: 28px;
}

.post-container h1, .post-container h2 {
  margin-bottom: 30px;
  font-weight: bold;
  line-height: 1.5;
}
.post-container h1 {
  font-size: 2.8rem;
  font-weight: bold;
}
.post-container h2 {
  font-size: 2.6rem;
}
.post-container h3, .post-container h4, .post-container h5, .post-container h6 {
  padding-left: 10px;
  margin-bottom: 27px;
  font-weight: bold;
  line-height: 1.5;
  border-left: 4px solid #1b224c;
}
.post-container h3 {
  font-size: 2.2rem;
}
.post-container h4 {
  font-size: 2rem;
}
.post-container h5, .post-container h6 {
  font-size: 1.8rem;
}
.post-container p {
  margin-bottom: 30px;
  font-weight: 500;
  line-height: 1.5;
}
.post-container figure {
  margin-right: 4px;
  margin-bottom: 30px;
  margin-left: 4px;
}
.post-container blockquote {
  position: relative;
  padding: 27px 26px 17px 74px;
  margin-bottom: 30px;
  background: #f8f8f8;
}
.post-container blockquote p:last-child {
  margin-bottom: 0;
}
.post-container blockquote::before {
  position: absolute;
  top: 16px;
  left: 17px;
  font-size: 3.5rem;
  font-weight: 900;
  color: #b4b4b4;
  content: "\f10d";
}
.post-container ul, .post-container ol {
  margin-bottom: 30px;
}
.post-container ul li {
  position: relative;
  padding-left: 21px;
  font-weight: 500;
  line-height: 1.5;
}
.post-container ul li::before {
  position: absolute;
  top: 5px;
  left: 0;
  display: inline-block;
  width: 11px;
  height: 11px;
  content: "";
  background-color: #f5a623;
  border-radius: 50%;
}
.post-container ol {
  counter-reset: item;
}
.post-container ol li {
  position: relative;
  padding-left: 21px;
  font-weight: 500;
  line-height: 1.5;
}
.post-container ol li::before {
  position: absolute;
  top: 0;
  left: 0;
  content: counter(item) ".";
  counter-increment: item;
}
.post-container table {
  width: 100%;
  margin-bottom: 30px;
}
.post-container thead {
  font-weight: bold;
}
.post-container thead th {
  padding: 10px;
  background-color: lightcyan;
  border: 1px solid #ddd;
}
.post-container tbody th, .post-container tbody td {
  padding: 10px;
  border: 1px solid #ddd;
}
.post-container dl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 30px;
}
.post-container dt {
  width: 30%;
  padding: 10px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd;
}
.post-container dt:first-of-type {
  border-top: 1px solid #ddd;
}
.post-container dd {
  width: 70%;
  padding: 10px;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}
.post-container dd:first-of-type {
  border-top: 1px solid #ddd;
}
.post-container a {
  font-size: 1.8rem;
  font-weight: 500;
  color: #f5a623;
  text-decoration: underline;
}