.contact-content-wrapper {
  max-width: 740px;
  padding: 0 20px;
  margin: 0 auto;
}

form {
  margin-bottom: 82px;
}

.contact-text {
  margin-bottom: 38px;
  line-height: 1.6875;
}

label {
  display: block;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 240px;
  padding: 17px 20px;
  border: 0.5px solid #1b224c;
}
textarea:last-child {
  margin-bottom: 27px;
}
textarea:not(:last-child) {
  margin-bottom: 10px;
}
textarea + span {
  margin-bottom: 27px;
}

.label-contact-type {
  margin-bottom: 16px;
  line-height: 1.3125;
}
.label-contact-type > span {
  font-weight: bold;
}

.privacy-policy-check + span {
  font-weight: 500;
}

input[type=text],
input[type=email] {
  width: 100%;
  height: 50px;
  padding: 17px 20px;
  border: 0.5px solid #1b224c;
}
input[type=text]:last-child,
input[type=email]:last-child {
  margin-bottom: 17px;
}
input[type=text]:not(:last-child),
input[type=email]:not(:last-child) {
  margin-bottom: 10px;
}
input[type=text] + span,
input[type=email] + span {
  margin-bottom: 25px;
}

.input-phone-number {
  margin-bottom: 21px;
}

.mwform-radio-field.vertical-item input {
  width: 20px;
  height: 20px;
  margin-right: 19px;
}
@media screen and (max-width: 576px) {
  .mwform-radio-field.vertical-item input {
    margin-right: 10px;
  }
}
.mwform-radio-field.vertical-item span {
  font-weight: 500;
}
.mwform-radio-field.vertical-item:last-of-type {
  margin-bottom: 21px;
}
.mwform-radio-field.vertical-item + .mwform-radio-field.vertical-item {
  margin-top: 13px;
}

.privacy-policy-wrapper {
  margin-bottom: 46px;
  text-align: center;
}
.privacy-policy-wrapper input[type=checkbox] {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.privacy-policy-text {
  margin-bottom: 28px;
}
.privacy-policy-text a {
  color: #f5a623;
  text-decoration: underline;
}

.submit-button-wrapper {
  text-align: center;
}

.submit-button {
  padding: 0 71px;
  font-weight: bold;
  line-height: 50px;
  color: #fff;
  background-color: #1b224c;
  border-radius: 5px;
}

.mw_wp_form_send_error {
  margin-bottom: 82px;
  text-align: center;
}