.section-blog .child-page-section-title {
  margin-bottom: 57px;
}

.post-list {
  margin-bottom: 106px;
}

.post-list-item {
  display: block;
}
.post-list-item__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 179px;
}
.post-list-item__pinned {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 6px 19px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #f5a623;
}
.post-list-item__category {
  position: absolute;
  top: 0;
  left: 0;
  padding: 6px 19px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #1b224c;
}
.post-list-item__image-wrapper {
  width: 25%;
  height: 100%;
  margin-right: 50px;
}
.post-list-item__image {
  height: 100%;
}
.post-list-item__text-wrapper {
  width: 70%;
}
.post-list-item__date {
  margin-bottom: 18px;
  font-weight: 500;
}
.post-list-item__title {
  margin-bottom: 20px;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.5;
  text-decoration: underline;
}
.post-list-item__content {
  font-weight: 500;
  line-height: 1.5;
}
.post-list-item + .post-list-item {
  margin-top: 61px;
}

.pagination .nav-links {
  margin-bottom: 45px;
  text-align: center;
}

.page-numbers {
  display: inline-block;
  padding: 14px 20px;
  font-weight: bold;
}
.page-numbers.current {
  color: #fff;
  background-color: #1b224c;
}
.page-numbers:not(.dots) {
  border: 1px solid #1b224c;
}
.page-numbers + .page-numbers {
  margin-left: 19px;
}