.section-news .child-page-section-title {
  margin-bottom: 45px;
}

.news-list {
  margin-bottom: 65px;
}

.news-list-item {
  border-bottom: 1px solid #d5d5d5;
}
.news-list-item:first-of-type {
  border-top: 1px solid #d5d5d5;
}
.news-list-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 22px;
}
.news-list-item__date {
  margin-right: 54px;
  font-weight: 500;
}
.news-list-item__title {
  font-weight: 500;
  text-decoration: underline;
}

.pagination .nav-links {
  margin-bottom: 45px;
  text-align: center;
}

.page-numbers {
  display: inline-block;
  padding: 14px 20px;
  font-weight: bold;
}
.page-numbers.current {
  color: #fff;
  background-color: #1b224c;
}
.page-numbers:not(.dots) {
  border: 1px solid #1b224c;
}
.page-numbers + .page-numbers {
  margin-left: 19px;
}