.section-news .child-page-section-title {
  margin-bottom: 45px;
}

.news-list {
  margin-bottom: 65px;
}

.news-list-item {
  border-bottom: 1px solid #d5d5d5;
}
.news-list-item:first-of-type {
  border-top: 1px solid #d5d5d5;
}
.news-list-item__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
  padding-bottom: 22px;
}
@media screen and (max-width: 768px) {
  .news-list-item__link {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.news-list-item__date {
  min-width: 85px;
  margin-right: 54px;
}
@media screen and (max-width: 768px) {
  .news-list-item__date {
    margin-bottom: 10px;
  }
}
.news-list-item__title {
  text-decoration: underline;
  word-wrap: break-word;
}

.pagination .nav-links {
  margin-bottom: 45px;
  text-align: center;
}

.page-numbers {
  display: inline-block;
  padding: 14px 20px;
  font-weight: bold;
}
@media screen and (max-width: 576px) {
  .page-numbers {
    padding: 10px 15px;
  }
}
.page-numbers.current {
  color: #fff;
  background-color: #1b224c;
}
.page-numbers:not(.dots) {
  border: 1px solid #1b224c;
}
.page-numbers + .page-numbers {
  margin-left: 19px;
}
@media screen and (max-width: 576px) {
  .page-numbers + .page-numbers {
    margin-left: 5px;
  }
}