@charset "UTF-8";
.section-fee-structure {
  margin-bottom: 90px;
}
.section-fee-structure .child-page-section-title {
  margin-bottom: 60px;
}

.fee-structure-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 46px;
  font-size: 2.2rem;
  font-weight: bold;
  color: #fff;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .fee-structure-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.8rem;
  }
}

.admission-fee,
.monthly-fee {
  width: 280px;
  height: 90px;
  line-height: 90px;
  background-color: #1b224c;
  border: 1px solid #1b224c;
}

.admission-fee {
  position: relative;
  margin-right: 98px;
}
.admission-fee::before, .admission-fee::after {
  position: absolute;
  top: 50%;
  right: -61px;
  width: 25px;
  height: 2px;
  content: "";
  background-color: #1b224c;
  -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
          transform: translate(0, -50%);
}
@media screen and (max-width: 768px) {
  .admission-fee::before, .admission-fee::after {
    top: auto;
    right: auto;
    bottom: -40px;
    left: 50%;
  }
}
@media screen and (max-width: 768px) {
  .admission-fee::before {
    -webkit-transform: translate(-50%, 0);
        -ms-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
  }
}
.admission-fee::after {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
@media screen and (max-width: 768px) {
  .admission-fee::after {
    -webkit-transform: translate(-50%, 0) rotate(90deg);
        -ms-transform: translate(-50%, 0) rotate(90deg);
            transform: translate(-50%, 0) rotate(90deg);
  }
}
@media screen and (max-width: 768px) {
  .admission-fee {
    margin-right: 0;
    margin-bottom: 82px;
  }
}

.section-price-list {
  margin-bottom: 60px;
}
.section-price-list .child-page-section-title {
  margin-bottom: 70px;
}

.price-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .price-list {
    overflow-x: scroll;
  }
}
.price-list-item {
  position: relative;
  width: 25%;
  text-align: center;
  border: 0.5px solid #1b224c;
}
@media screen and (max-width: 768px) {
  .price-list-item {
    -ms-flex-negative: 0;
        flex-shrink: 0;
    width: 180px;
  }
}
.price-list-item.recommend::before {
  display: block;
  height: 36px;
  padding-top: 17px;
  font-weight: bold;
  color: #fff;
  content: "おすすめ";
  background-color: #f5a623;
}
.price-list-item:not(.recommend) {
  margin-top: 36px;
}
.price-list-item__plan-name {
  padding: 21px;
  margin-bottom: 30px;
  font-weight: bold;
  color: #fff;
  background-color: #1b224c;
}
.price-list-item.recommend > .price-list-item__plan-name {
  background-color: #f5a623;
}
.price-list-item__price {
  margin-bottom: 14px;
  font-size: 2.5rem;
  font-weight: bold;
}
.price-list-item.recommend > .price-list-item__price {
  color: #f5a623;
}
.price-list-item__tax {
  margin-bottom: 48px;
}
.price-list-item + .price-list-item {
  margin-left: 7px;
}

.plan-feature-list {
  margin-bottom: 92px;
}
.plan-feature-list-item {
  position: relative;
  line-height: 1.3125;
}
.plan-feature-list-item::before {
  margin-right: 13.5px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: #1b224c;
  content: "\f00c";
}
.plan-feature-list-item + .plan-feature-list-item {
  margin-top: 15px;
}