.fv {
  position: relative;
  height: 100vh;
  max-height: 476px;
  color: #fff;
  text-align: center;
}
.fv-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 80px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fv-text-wrapper > .document-request-button {
  margin-bottom: 19px;
}
.fv-title {
  margin-bottom: 19px;
  font-size: 4.8rem;
  font-weight: bold;
}
.fv-text {
  margin-bottom: 55px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.333;
}

.fv-image-wrapper {
  height: 100%;
}

.fv-image {
  height: 100%;
}

.fv > .document-request-button {
  margin-bottom: 19px;
}