.fv {
  position: relative;
  height: 100vh;
  max-height: 476px;
  color: #fff;
  text-align: center;
}
.fv-text-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 80px;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.fv-text-wrapper > .document-request-button {
  margin-bottom: 19px;
}
.fv-title {
  margin-bottom: 19px;
  font-size: 4.8rem;
  font-weight: bold;
}
.fv-text {
  margin-bottom: 55px;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.333;
}

.fv-image-wrapper {
  height: 100%;
}

.fv-image {
  height: 100%;
}

.fv > .document-request-button {
  margin-bottom: 19px;
}

.section-about {
  padding-top: 63px;
  padding-bottom: 54px;
  margin-bottom: 59px;
  color: #fff;
  text-align: center;
  background-color: #1b224c;
}

.section-about .section-title {
  margin-bottom: 62px;
}

.problem-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 80px;
}
.problem-list-item {
  width: 33.3333333333%;
}

.engress-about {
  padding: 11px 16px;
  color: #1b224c;
  background-color: #fff;
}
.engress-about-inner {
  padding-top: 21px;
  padding-bottom: 24px;
  border: 5px solid #1b224c;
}
.engress-about__title {
  margin-bottom: 25px;
  font-size: 3.6rem;
  font-weight: bold;
}
.engress-about__title > span {
  position: relative;
  z-index: 1;
}
.engress-about__title > span::after {
  position: absolute;
  bottom: 8px;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 9px;
  content: "";
  background-color: #f5a623;
}
.engress-about__text {
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 1.333;
}

.section-feature {
  margin-bottom: 93px;
}
.section-feature .section-title {
  margin-bottom: 59px;
}

.feature-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.feature-list-item__text-wrapper {
  width: 55%;
}
.feature-list-item__number {
  display: inline-block;
  padding: 8px 25px;
  margin-bottom: 35px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #f5a623;
}
.feature-list-item__feature {
  margin-bottom: 39px;
  font-size: 2.6rem;
  font-weight: bold;
  line-height: 1.5;
}
.feature-list-item__detail {
  font-weight: 500;
  line-height: 1.3125;
}
.feature-list-item__image-wrapper {
  width: 33%;
}
.feature-list-item + .feature-list-item {
  margin-top: 60px;
}
.feature-list-item:nth-of-type(2n) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.section-price {
  margin-bottom: 39px;
}

.section-price > .content-wrapper {
  padding: 60px 0;
  color: #fff;
  text-align: center;
  background: url("../image/price.png") center/cover;
}

.price-text {
  margin-bottom: 23px;
  font-size: 2.6rem;
  font-weight: bold;
}

.price-link {
  display: inline-block;
  padding: 0 50px;
  font-weight: bold;
  line-height: 50px;
  border: 1px solid #fff;
  border-radius: 30px;
}

.section-success-story {
  padding: 60px 0;
  margin-bottom: 58px;
  color: #fff;
  background-color: #1b224c;
}
.section-success-story .section-title {
  margin-bottom: 137px;
}

.success-story-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.success-story-list-item {
  width: 33.3333333333%;
}
.success-story-list-item__title {
  margin-bottom: 9px;
  font-weight: bold;
}
.success-story-list-item__image-wrapper {
  height: 171px;
  margin-bottom: 16px;
  background-color: #fff;
}
.success-story-list-item__image {
  height: 100%;
  padding-top: 10%;
  -o-object-fit: contain;
     object-fit: contain;
}
.success-story-list-item__personal-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 10px;
  color: #1b224c;
}
.success-story-list-item__profession {
  width: 35%;
  padding: 5px 10px;
  background-color: #fff;
}
.success-story-list-item__name {
  width: 65%;
  padding: 5px 14px;
  margin-left: 8px;
  background-color: #fff;
}
.success-story-list-item__detail {
  padding: 5px 14px;
  color: #1b224c;
  background-color: #fff;
}
.success-story-list-item + .success-story-list-item {
  margin-left: 30px;
}

.section-usage-flow {
  margin-bottom: 75px;
}
.section-usage-flow .section-title {
  margin-bottom: 53px;
}

.usage-list-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 64px;
  background-color: #f8f8f8;
}
.usage-list-item__number {
  width: 64px;
  font-weight: bold;
  line-height: 64px;
  color: #fff;
  text-align: center;
  background-color: #f5a623;
}
.usage-list-item__title {
  width: 24%;
  padding-left: 21px;
  font-size: 1.8rem;
  font-weight: bold;
  border-right: 1px solid #c3c3c3;
}
.usage-list-item__detail {
  padding-left: 53px;
  font-weight: 500;
}
.usage-list-item + .usage-list-item {
  margin-top: 8px;
}

.section-faq {
  margin-bottom: 90px;
}
.section-faq .section-title {
  margin-bottom: 32px;
}

.faq-list-item__term {
  position: relative;
  padding: 25px 0 15px;
  font-weight: 500;
  line-height: 1.3125;
  border-bottom: 1px solid #1b224c;
}
.faq-list-item__term:first-of-type {
  border-top: 1px solid #1b224c;
}
.faq-list-item__term::before, .faq-list-item__term::after {
  position: absolute;
  top: 50%;
  right: 25px;
  display: block;
  width: 15px;
  height: 2px;
  content: "";
  background-color: #1b224c;
}
.faq-list-item__term::after {
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
}
.faq-list-item__term.open {
  border-bottom: none;
}
.faq-list-item__term.open::before {
  opacity: 0;
}
.faq-list-item__term.open::after {
  -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
          transform: rotate(0);
}
.faq-list-item__term:hover {
  text-decoration: underline;
}
.faq-list-item__description {
  height: 0;
  padding: 0 26px;
  font-weight: 500;
  line-height: 0;
  background-color: #f8f8f8;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
}
.faq-list-item__description.active {
  height: auto;
  padding: 25px 26px;
  line-height: 1.3125;
  border-bottom: 1px solid #1b224c;
  opacity: 1;
}

.section-blog-and-news {
  margin-bottom: 117px;
}
.section-blog-and-news > .content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.blog-wrapper {
  margin-right: 67px;
}

.blog-wrapper,
.news-wrapper {
  width: 50%;
}
.blog-wrapper > .section-title,
.news-wrapper > .section-title {
  margin-bottom: 30px;
  font-size: 3.2rem;
  text-align: left;
}

.blog-list-item__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.blog-list-item__category {
  position: absolute;
  top: 0;
  left: 0;
  padding: 3px 26px 3px 9px;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #1b224c;
  border: 1px solid #707070;
}
.blog-list-item__image-wrapper {
  width: 34%;
  margin-right: 20px;
}
.blog-list-item__image {
  width: 100%;
}
.blog-list-item__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}
.blog-list-item__text {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-weight: bold;
  line-height: 1.3125;
}
.blog-list-item__date {
  font-size: 1.2rem;
  font-weight: 500;
}
.blog-list-item + .blog-list-item {
  margin-top: 31px;
}

.news-list-item__date {
  margin-bottom: 14px;
  font-size: 1.2rem;
  font-weight: 500;
}
.news-list-item__text {
  font-weight: 500;
  line-height: 1.6875;
}
.news-list-item + .news-list-item {
  margin-top: 15px;
}